/* CSS Document */
body {
	background-color: #FFFFFF;
	background-position: center top;
}

.customer_info_table{width:763px; padding-top:10px}
.customer_info_contact{clear:both; padding-left:15px; padding-top:5px; padding-bottom:5px; background-color:#636363}
.customer_info_bot{border-bottom:none;padding-left:10px;}
.order_history_bg{clear:both; padding-left:15px; padding-top:5px; padding-bottom:5px; background-color:#636363}
.order_history_invoice{float:left; padding-left:20px; width:100px;}
.order_history_date{float:left; padding-left:20px; width:100px;}
.order_history_name{float:left; padding-left:20px;width:100px;}
.order_history_total{float:left; padding-left:20px; width:80px;}
.order_history_status{float:left; padding-left:20px; width:190px;}
.order_history_action{float:left; padding-left:20px;}
.order_history_line{clear:both; height:1px; background-color:#dedede}
.order_history_Whitebg{clear:both; background-color:#FFFFFF;}
.order_history_graybg{clear:both; background-color:#f2f2f2; height:70px;}
.order_history_column1{float:left; width:100px; height:50px; border-left:solid 1px #dedede; padding:10px;}
.order_history_column2{float:left; width:100px;  height:50px; border-left:solid 1px #dedede; padding:10px;}
.order_history_column3{float:left; width:100px;  height:50px; border-left:solid 1px #dedede; padding:10px;}
.order_history_column4{float:left; width:80px;  height:50px; border-left:solid 1px #dedede; padding:10px;}
.order_history_column5{float:left; width:140px;   height:50px;border-left:solid 1px #dedede; padding:10px;}
.order_history_column6{float:left; width:142px;   height:50px; border-left:solid 1px #dedede;  border-right:solid 1px #dedede;padding:10px;}
.wish_list{clear:both; padding-left:15px; padding-top:5px; padding-bottom:5px; background-color:#636363}
.wish_list_item{float:left; padding-left:20px; width:100px;}
.wish_list_product{float:left; padding-left:20px;width:400px;}
.wish_list_date{float:left; padding-left:20px; width:100px;}
.wish_list_message{float:left; padding-left:20px; width:105px;}
.wish_list_whitebg{clear:both; background-color:#FFFFFF}
.wish_list_greybg{clear:both; background-color:#f7f7f7}
.wish_list_line{clear:both; height:1px; background-color:#dedede}
.wish_list_column1{float:left; width:100px; height:15px; border-left:solid 1px #dedede; padding:10px;}
.wish_list_column2{float:left; width:400px;  height:15px; border-left:solid 1px #dedede; padding:10px;}
.wish_list_column3{float:left; width:100px;  height:15px; border-left:solid 1px #dedede; padding:10px;}
.wish_list_column4{float:left; width:105px;   height:15px; border-left:solid 1px #dedede;  border-right:solid 1px #dedede;padding:10px;}
.rewards_bg{clear:both; padding-left:15px; padding-top:5px; padding-bottom:5px; background-color:#636363}
.rewards_date{float:left; padding-left:20px; width:300px;}
.rewards_points{float:left; padding-left:20px;width:150px;}
.rewards_refer{float:left; padding-left:20px; width:250px;}
.rewards_line{clear:both; height:1px; background-color:#dedede}
.rewards_whitebg{clear:both; background-color:#FFFFFF}
.ordering3{float:left; width:110px; height:15px; border-left:solid 1px #dedede; padding:10px;}
.ordering4{float:left; width:300px;  height:15px; border-left:solid 1px #dedede; padding:10px;}
.ordering5{float:left; width:50px;  height:15px; border-left:solid 1px #dedede; padding:10px;}
.ordering6{float:left; width:252px;   height:15px; border-left:solid 1px #dedede;  border-right:solid 1px #dedede;padding:10px;}
.ordering7{clear:both; padding-left:15px; padding-top:5px; padding-bottom:5px; background-color:#636363}
.wish-red {color: #FF0000}
.wid-height{width:37px; height:15px;}
.option-pro{width:190px; background-color:#FFFFFF; height:40px; margin:0px auto}
.backcolor{background-color:#f7f7f7; clear:both}
.wid303{ width:303px; }
.rewards_column1{float:left; width:310px; height:15px; border-left:solid 1px #dedede; padding:10px;}
.rewards_column2{float:left; width:60px;  height:15px; border-left:solid 1px #dedede; padding:10px;}
.rewards_column3{float:left; width:213px;  height:15px; border-left:solid 1px #dedede; padding:10px;}
.rewards_column4{float:left; width:85px;   height:15px; border-left:solid 1px #dedede;   border-left:solid 1px #dedede; border-right:solid 1px #dedede;padding:10px;}
.rewards_column5{float:left; width:325px;   height:15px; border-left:solid 1px #dedede;  border-right:solid 1px #dedede;padding:10px;}
.rewards_col{float:left; width:310px; height:15px; border-left:solid 1px #dedede; padding:10px;}
.rewards_col1{float:left; width:60px;  height:15px; border-left:solid 1px #dedede; padding:10px;}
.rewards_col2{float:left; width:150px;  height:15px; border-left:solid 1px #dedede; padding:10px;}
.rewards_col3{float:left; width:250px;  height:15px; border-left:solid 1px #dedede; padding:10px;}
.rewards_col4{float:left; width:92px;   height:15px; border-left:solid 1px #dedede;  border-right:solid 1px #dedede;padding:10px;}/* CSS 
.text-box-cat{
	border: 1px solid #cedee7;
	background-color:#f7f7f7;
	width:212px;
	height:25px;
	color:#485355;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	padding-left:5px;
}
.text-box1-cat1{
	border: 1px solid #cedee7;
	background-color:#f7f7f7;
	width:45px;
	height:25px;
	color:#485355;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	padding-left:5px;
}

.setbg1{ height:4px; background-color:#d9d9d9; background-repeat:repeat-y }
.setbg2{height:3px; background-color:#d9d9d9; background-repeat:repeat-y }
.marleft40{ margin-left:40px; }
.wid550{ float:left; width:550px; }
.setting-txt1{float:left; width:120px; margin-left:20px; margin-top:30px; }
.setting-txt2 { float:left; width:96px; height:21px; text-align:center; padding-top:3px;}
.setting-txt3 {float:left; width:116px; height:21px; text-align:center; padding-top:3px; margin-top:15px; }
.padleft90{ padding-left:90px; }
.fpm{ float:left; padding-left:10px; padding-top:5px; }
.ordering3{float:left; width:110px; height:15px; border-left:solid 1px #dedede; padding:10px;}
.ordering4{float:left; width:300px;  height:15px; border-left:solid 1px #dedede; padding:10px;}
.ordering5{float:left; width:50px;  height:15px; border-left:solid 1px #dedede; padding:10px;}
.ordering6{float:left; width:252px;   height:15px; border-left:solid 1px #dedede;  border-right:solid 1px #dedede;padding:10px;}
.ordering7{clear:both; padding-left:15px; padding-top:5px; padding-bottom:5px; background-color:#636363}
.wish-red {color: #FF0000}
.wid-height{width:37px; height:15px;}
.option-pro{width:190px; background-color:#FFFFFF; height:40px; margin:0px auto}
.backcolor{background-color:#f7f7f7; clear:both}


.shipping1{ float:left; width:180px;   height:30px;border-left:solid 1px #dedede;  padding:10px;}
.shipping2{float:left; width:152px;   height:30px; border-left:solid 1px #dedede;  border-right:solid 1px #dedede;padding:10px; }
.shipping-bg{height:1px; background-color:#dedede; width:375px; clear:both}
.head_bg_1{
	background-image: url(images/bg-1.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	height:22px;
	
		}
		
.wid375{ width:375px; }

.padtop50{ padding-top:50px; }

.settiong1{ float:left; padding-left:10px;  width:25px; }
.settiong2{ float:left; text-align:center; width:250px; }
.settiong3{ float:left; text-align:center;  width:70px; }
.settiong4{ float:left; text-align:center;  width:90px; }
.settiong5{ float:left; text-align:center;  width:80px; }
.settiong6{ float:left; text-align:center;  width:82px; }

.set1{ float:left; padding-left:10px;  width:25px; line-height:50px;   height:50px; border-left:solid 1px #dedede; border-bottom:solid 1px #dedede; }
.set2{ float:left; width:250px;  height:50px;  border-left:solid 1px #dedede;  border-bottom:solid 1px #dedede; }
.set3{ float:left; width:80px; text-align:center;  padding-left:0px;  height:50px; line-height:50px; border-left:solid 1px #dedede;  border-bottom:solid 1px #dedede; }
.set4{ float:left;  width:90px;  padding-left:0px;  height:50px; border-left:solid 1px #dedede;  border-bottom:solid 1px #dedede; line-height:50px; text-align:center; }
.set5{float:left; width:70px;  padding-left:0px;  border-bottom:solid 1px #dedede; line-height:50px;  height:50px; border-left:solid 1px #dedede; text-align:center; }
.set6{ float:left; width:88px;     border-bottom:solid 1px #dedede;  height:50px; border-left:solid 1px #dedede;  border-right:solid 1px #dedede; text-align:center; }

.setbg1{ height:4px; background-color:#d9d9d9; background-repeat:repeat-y }
.setbg2{height:3px; background-color:#d9d9d9; background-repeat:repeat-y }
.marleft40{ margin-left:40px; }
.wid550{ float:left; width:550px; }
.setting-txt1{float:left; width:120px; margin-left:20px; margin-top:30px; }
.setting-txt2 { float:left; width:96px; height:21px; text-align:center; padding-top:3px;}
.setting-txt3 {float:left; width:116px; height:21px; text-align:center; padding-top:3px; margin-top:15px; }
.padleft90{ padding-left:90px; }
.fpm{ float:left; padding-left:10px; padding-top:5px; }

.padtop50{ padding-top:50px; }
	.left-text1{
	font-family: "PT Sans";
	line-height: normal;
	font-weight: bold;
	text-transform: none;
	color: #000;
	text-decoration: none;
	font-size:19px;
	}


.pro-cat-view{width:200px; padding-left:5px}
.pro-cat-view1{width:100px; padding-left:5px}
.pro-cat-view2{width:100px; padding-left:5px}
.pro-cat-view3{width:70px; padding-left:5px}
.pro-cat-view4{width:39%}
.pro-cat-view5{width:5%}
.pro-cat-view6{width:56%}
.bg-final{ clear:both; padding-left:15px; padding-top:5px; padding-bottom:5px; background-color:#636363}
.users-brdr{clear:both; height:1px; background-color:#dedede; width:780px}
.users-bg{clear:both; height:40px; width:780px; background-color:#f7f7f7}
.users1{float:left; width:150px; height:20px; border-left:solid 1px #dedede; padding:10px;}
.users2{float:left; width:100px;  height:20px; border-left:solid 1px #dedede; padding:10px;}
.users3{float:left; width:150px;  height:20px; border-left:solid 1px #dedede; padding:10px;}
.users4{float:left; width:80px;  height:20px; border-left:solid 1px #dedede; padding:10px;}
.users5{float:left; width:50px;   height:20px;border-left:solid 1px #dedede; padding:10px;}
.users6{float:left; width:122px;   height:20px; border-left:solid 1px #dedede;  border-right:solid 1px #dedede;padding:10px;}
.users7{float:left; padding-left:20px; width:150px;}
.users8{float:left; padding-left:20px; width:100px;}
.users9{float:left; padding-left:20px; width:130px;}
.users10{float:left; padding-left:20px; width:80px;}
.users11{float:left; padding-left:20px; width:60px;}
.users12{float:left; padding-left:20px; width:100px;}
.users13{clear:both; height:40px; width:780px; background-color:#fff7d6}


.tex-left-laign{
padding-left:20px;}


/* Recent css */
.num_bg{float:left; width:239px;}
.topmenu_divider{padding-top:16px; padding-left:2px; padding-right:2px;}
.txt1_bg{clear:both; padding-top:30px; padding-bottom:10px;}
.social_bg{clear:both; padding:7px 0px;}
.subtxt_bg{float:left; width:113px; padding-left:20px;}
.padright90{padding-right:90px;}
.sav_bg{clear:both; height:30px; line-height:30px; padding-top:0px; background-color:#efefef}
/* /Recent css */

.card5_wrap{width:700px;margin:0px auto;}
.card5_container{width:650px;margin:0px auto;}
.card5_shade{-webkit-box-shadow:0 0 10px rgba(0,0,0,0.3); -moz-box-shadow:0 0 10px rgba(0,0,0,0.3); box-shadow:0 0 10px rgba(0,0,0,0.3); }
.padleft38{padding-left:38px;}
.card5_title{ font-family:"Myriad Pro"; font-weight:400; font-size:34px; color:#3c3c3c;}
.card5_mar180{ margin-left:180px}
.card5_line_shade{ box-shadow: 0px -3px 3px rgba(0,0,0,0.1);}
.card5_mon{ width:87px; float:left; text-align:center; font-family:"Myriad Pro"; font-weight:400; font-size:14px; color:#b8b8b8;}
.card5_grey{ width:87px; height:57px; line-height:57px; float:left; text-align:center; font-family:"Myriad Pro"; font-weight:400; font-size:26px; color:#b8b8b8; background-color:#cecdcb;}
.card5_color2{ width:87px; height:57px; line-height:57px; float:left; text-align:center; font-family:"Myriad Pro"; font-weight:400; font-size:26px; color:#b8b8b8; background-color:#faefd3;}
.card5_color3{ width:87px; height:57px; line-height:57px; float:left; text-align:center; font-family:"Myriad Pro"; font-weight:400; font-size:26px; color:#b8b8b8; background-color:#ebfded;}
.card5_color4{ width:87px; height:57px; line-height:57px; float:left; text-align:center; font-family:"Myriad Pro"; font-weight:400; font-size:26px; color:#b8b8b8; background-color:#efb0e9;}
.card5_color5{ width:87px; height:57px; line-height:57px; float:left; text-align:center; font-family:"Myriad Pro"; font-weight:400; font-size:26px; color:#b8b8b8; background-color:#fafbc2;}
.card5_color6{ width:87px; height:57px; line-height:57px; float:left; text-align:center; font-family:"Myriad Pro"; font-weight:400; font-size:26px; color:#b8b8b8; background-color:#fac2c5;}
.card5_color7{ width:87px; height:57px; line-height:57px; float:left; text-align:center; font-family:"Myriad Pro"; font-weight:400; font-size:26px; color:#b8b8b8; background-color:#c3f2fa;}
.card5_height1{height:1px;}
.card5_txt1{ font-family:"Myriad Pro"; font-weight:400; font-size:12px; color:#3c3c3c;}
.card5_txt2{ font-family:"Myriad Pro"; font-weight:400; font-size:13px; color:#3c3c3c;}
.card5_txt3{ font-family:"Myriad Pro"; font-weight:400; font-size:14px; color:#3c3c3c; text-align:right}
.card5_color_left{ float:left; width:360px;}
.card5_color_right{ float:left; width:267px;}
.card5_close{margin-left:180px;}

.wid314{width:314px;}
.wid80{ width:80%; }
.pad-tb{ padding:10px 0px; }
.order-title{ float:left;  padding-left:20px; width:300px; line-height:40px;  height:40px; border-left:solid 1px #dedede; }
.order-text{ float:left; padding-left:10px; width:228px;  padding-top:5px;  height:35px; border-left:solid 1px #dedede; }
.order-text1{float:left; padding-left:10px; width:105px; padding-top:5px;  height:35px; border-left:solid 1px #dedede; }
.order-text2{float:left ;padding-left:10px; width:105px; padding-top:10px;  height:30px; border-left:solid 1px #dedede;  border-right:solid 1px #dedede; }
.order-text3{ float:left;  padding-left:20px; width:300px; padding-top:6px; height:34px; border-left:solid 1px #dedede; }
.edit-bg{ clear:both; padding-left:15px; padding-top:5px; padding-bottom:5px; background-color:#636363; }
.edit-border{ padding-left:10px; border-bottom:none }
.line-through{ text-decoration:line-through; }
.admin{ float:left; width:370px;   height:15px; border-left:solid 1px #dedede; padding:10px; text-align:right; }
.admin-span{height:31px; line-height:31px; width:282px; }
.admin1{ float:left; width:70px;  height:15px; border-left:solid 1px #dedede; padding:10px; }
.admin2{float:left; width:100px; height:15px; border-left:solid 1px #dedede; padding:10px; }
.admin3{ float:left; width:115px;   height:15px; border-left:solid 1px #dedede;  border-right:solid 1px #dedede;padding:10px; }
.admin3s{border-right:solid 1px #dedede; border-bottom:solid 1px #dedede; border-left:solid 1px #dedede;}

.black-width{background-color: Black; width:28px;}
.gray-width{background-color: Gray;  width:28px;}
.dark-gray{background-color: DarkGray;  width:28px;}
.light-gray{background-color: LightGrey;  width:28px;}
.white-width{background-color: White;  width:28px;}
.aquamarine{background-color: Aquamarine;  width:28px;}
.blue-width{background-color: Blue;  width:28px;}
.navy{background-color: Navy; width:28px;}
.purple{background-color: Purple;  width:28px;}
.deeppink{background-color: DeepPink;  width:28px;}
.violet{background-color: Violet;  width:28px;}
.pink{background-color: Pink;  width:28px;}
.darkgreen{background-color: DarkGreen;  width:28px;}
.green{background-color: Green; width:28px;}
.yellowgreen{background-color: YellowGreen;  width:28px;}
.yellow{background-color: Yellow;  width:28px;}
.ora{background-color: Orange;  width:28px;}
.red1{background-color: Red;  width:28px;}
.brown{background-color: Brown;  width:28px;}
.burlywood{background-color: BurlyWood;  width:28px;}
.beige{background-color: Beige;  width:28px;}
.border-bot{padding-left:10px; border-bottom:none;}


.wid350{ width:350px; }
.txt4{
	font-family: "PT Sans", Arial;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
.txt5{
	font-family: "PT Sans", Arial;
	font-size: 13px;
	color: #000000;
	text-decoration: none;
}

.bg9{background-color:#dedede; height:1px;}
.bg11{float:left; width:120px; background-color:#f1f1f1}

.login-txt{ clear:both; background-color:#FFFFFF; min-height:400px; height:100%; padding-bottom:20px; overflow:auto }
.log-wid{ width:500px;  margin:0 auto; }
.log1{ width:28%; text-align:right; padding-right:10px; }
.log2{ width:35%; float:left; }
.log-margin{ margin-left:35%; }
.log-txt1{ float:left; width:151px; height:30px; }
.log-txt2{ float:left; width:103px;height:30px; }
.log-pad{ float:left; padding-left:40px; padding-top:10px; padding-right:20px; }

.wid390{ width:390px;}
.pwid21{width:72px;}
.pwid22{ width:120px;}

.wid725{ width:740px; }
.width5{ width:5px; }
.heading_bg1{ 
	width:724px; 
	height:auto; 	
	padding:5px 10px 10px 0px; 	
	background-color:#efefef;
	background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#ffffff));
	background: -moz-linear-gradient(top,  #efefef,  #ffffff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#ffffff');
	background-repeat:repeat;
	border:1px solid #dddddd;
	font-family: 'Open Sans', sans-serif;	
	font-size:16px;
	color:#434343;
	text-transform:uppercase;
}

.orange_boxs, .orange_boxs1, .orange_boxs2{
	width:27%;
	padding:20px 20px 10px 20px;
	background-color:#fffdf9;
	background: -webkit-gradient(linear, left top, left bottom, from(#fffdf9), to(#ffcd80));
	background: -moz-linear-gradient(top,  #fffdf9,  #ffcd80);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffdf9', endColorstr='#ffcd80');
	background-repeat:repeat;
}
.orange_boxs{ margin-right:8px; }
.orange_boxs1{ margin-right:8px;}

.blue_boxs, .blue_boxs1, .blue_boxs2{
	width:27%;
	padding:20px 20px 10px 20px;
	background-color:#e1f3ff;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e1f3ff));
	background: -moz-linear-gradient(top,  #ffffff,  #e1f3ff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e1f3ff');
	background-repeat:repeat;
}
.blue_boxs{ margin-right:8px; }
.blue_boxs1{ margin-right:8px;}
.master-link{ font-size:14px; font-weight:bold; color:#0e5e9b; }



/*may18 css*/

.wid220{ width:220px; }
.live-bg{
	background-image:url(images/live-bg.jpg);
	background-repeat:repeat-x;
	background-position:left top;
	height:50px;
}
.toggle_header1{ 
	width:469px;
	height:auto; 	
	padding:7px 0px 10px 0px;
	background-color:#efefef;
	background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#ffffff));
	background: -moz-linear-gradient(top,  #efefef,  #ffffff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#ffffff');
	background-repeat:repeat;
	border:1px solid #dddddd;
	font-family: 'Open Sans', sans-serif;	
	font-size:16px;
	color:#434343;
	text-transform:uppercase;
	text-align:left;
}
.toggle_header1:hover{
	background-color:#808080;
	background: -webkit-gradient(linear, left top, left bottom, from(#808080), to(#9e9e9e));
	background: -moz-linear-gradient(top,  #808080,  #9e9e9e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#808080', endColorstr='#9e9e9e');
	background-repeat:repeat;
	border:1px solid #808080;
	cursor:pointer;
	color:#ffffff;
}

.toggle_header2{ 
	width:403px; 
	height:auto; 	
	padding:5px 10px 10px 10px; 	
	background-color:#00b0d9;
	background: -webkit-gradient(linear, left top, left bottom, from(#00b0d9), to(#017db3));
	background: -moz-linear-gradient(top,  #00b0d9,  #017db3);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00b0d9', endColorstr='#017db3');
	background-repeat:repeat;
	border:1px solid #dddddd;
	font-family: 'Open Sans', sans-serif;	
	font-size:16px;
	color:#fff;
	text-transform:uppercase;
}
.toggle_header2:hover{
	background-color:#808080;
	background: -webkit-gradient(linear, left top, left bottom, from(#808080), to(#9e9e9e));
	background: -moz-linear-gradient(top,  #808080,  #9e9e9e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#808080', endColorstr='#9e9e9e');
	background-repeat:repeat;
	border:1px solid #808080;
	cursor:pointer;
	color:#ffffff;
}
.toggle_left1{ float:left; width:63%; height:auto; margin-left:8px }
.toggle_right2{ float:left; width:30%; height:auto; border:1px solid #e4e4e4; padding:5px; margin-left:25px; }
.toggle_main1{ width:470px; height:auto; border:1px solid #dddddd;}	
.toggle_content1 { 
	width:465; 
	height:auto; 
	display:none; 
	padding:0px 10px; 
	background-color:#fff; 
	background-repeat:repeat;
	margin:5px 10px 5px 10px;
}
.button11 a{
	float:left;
	width:auto;
	padding:5px 15px;
	font-family: 'Open Sans', sans-serif;	
	font-size:15px;
	color: #ffffff;
	text-transform:uppercase;
	border:1px solid #edbf50;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	background-color:#fedb87;
	background: -webkit-gradient(linear, left top, left bottom, from(#fedb87), to(#f5c855));
	background: -moz-linear-gradient(top,  #fedb87,  #f5c855);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#fedb87', endColorstr='#f5c855');
	background-repeat:repeat;
	text-align:center;	
	margin:0px 0px 0px 70px;
}
.button22 a{
	float:left;
	width:auto;
	padding:5px 15px;
	font-family: 'Open Sans', sans-serif;	
	font-size:15px;
	color: #ffffff;
	text-transform:uppercase;
	border:1px solid #e0e0e0;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	background-color:#eaeceb;
	background: -webkit-gradient(linear, left top, left bottom, from(#eaeceb), to(#dcdcdc));
	background: -moz-linear-gradient(top,  #eaeceb,  #dcdcdc);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#eaeceb', endColorstr='#dcdcdc');
	background-repeat:repeat;
	text-align:center;	
	margin:0px 0px 0px 70px;
}
.martopless{ margin-top:-20px; }


/*may-20 css*/

.slide_middle1{
	width:395px; 
	height:288px;
	margin:0 auto;
	background-color:#faf8e3;
	background: -webkit-gradient(linear, left top, left bottom, from(#faf8e3), to(#ffffff));
	background: -moz-linear-gradient(top,  #faf8e3,  #ffffff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faf8e3', endColorstr='#ffffff');
	background-repeat:repeat;
}
.slide_middle1 ul { list-style-type:none;}
.slide_middle1 li{ float:left; width:115px; padding:5px; border-right:1px dotted #a5a5a5; }
.slide_middle1 li:first-child{ border-left:1px dotted #a5a5a5; margin-left:-30px;  }

.card2_27s{width:20%}
.toggle_right11{ clear:both; width:240px; height:auto; border:1px solid #e4e4e4; padding:5px; margin-left:10px;}
.button33 a{
	float:left;
	width:auto;
	padding:5px 15px;
	font-family: 'Open Sans', sans-serif;	
	font-size:15px;
	color: #ffffff;
	text-transform:uppercase;
	border:1px solid #017db1;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	background-color:#01aed6;
	background: -webkit-gradient(linear, left top, left bottom, from(#01aed6), to(#0385b9));
	background: -moz-linear-gradient(top,  #01aed6,  #0385b9);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#01aed6', endColorstr='#0385b9');
	background-repeat:repeat;
	text-align:center;	
}
.blue_text1{ color:#0ac5f2; font-weight:bold; text-align:center; width:240px;}
.carttop-bg{ 
	width:469px;
	height:auto; 	
	padding:7px 0px 10px 0px;
	background-color:#efefef;
	background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#ffffff));
	background: -moz-linear-gradient(top,  #efefef,  #ffffff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#ffffff');
	background-repeat:repeat;
	border:1px solid #dddddd;
	font-family: 'Open Sans', sans-serif;	
	font-size:12px;
	color:#434343;
	text-transform:uppercase;
}
.wid105{ width:105px; }
.marleftless{ margin-left:-15px;}
.toggle_left2{ float:left; width:470px; height:auto; margin-left:3px }
.card2_27s{ width:130px;}
.martop150{ margin-top:150px; }
.martop150less{ margin-top:-150px; }


.home-txt1{
	font-family: "PT Sans";
	font-size: 14px;
	line-height: normal;
	font-weight: normal;
	text-transform: capitalize;
	color: #30bdf9;
	text-decoration: none;
}
.home-txt1 a:link{ color: #30bdf9; text-decoration:none; }
.home-txt1 a:visited{ color: #30bdf9; text-decoration:none; }
.home-txt1 a:hover{ color: #ec5e00; text-decoration:none; }
.home-txt1 a:active{ color: #30bdf9; text-decoration:none; }

.martop8less{ margin-top:-8px; }

.wid255{ width:255px; }

.table_left1{ float:left; width:340px; }
.table_middle1{ float:left; width:0px; margin-right:10px;}
.table_right1{ float:left; width:340px;}
.orange_heading1{
font-family: 'Open Sans', sans-serif;
color:#ec5e00;
font-size:28px;
font-weight:700;
text-transform:uppercase;
}
.gray_bg1{
width:339px;
background-color:#e1e4ed;
font-family: 'Open Sans', sans-serif;
font-size:20px;
line-height:36px;
color:#1f497d;
padding-left:10px;
border:1px solid #d3d3d3;
margin-left:-8px;
}
.item_list1{
width:340px;
float:left;
clear:both;
margin:0px;
padding:0px;
}
.item_list1 ul{
	margin:0px;
	padding:0px;
}
.item_list1 ul li{ 
width:329px;
list-style-type:none;
background-color:#f9fbff;
border:1px solid #d3d3d3;
height:auto;
line-height:28px;
padding-left:10px;
padding-right:10px;

}
.item_list1 li span{
font-family: 'Open Sans', sans-serif;
font-size:15px;
color:#434343;
font-weight:700;
float:right;
padding-right:20px;
}
.wid570{width:570px;}
.feature-bg1{
	background-image: url(images/feature-bg.png);
	background-repeat: no-repeat;
	background-position: left top;
	width:225px;
	height:45px;
	font-family: "Open Sans";
	font-size: 24px;
	color: #434343;
	line-height:45px;
	text-align:center;
	margin:0px auto;
	margin-left:160px;
}
.table-topicbg1{
	background-image: url(images/anemones-bg.png);
	background-repeat: no-repeat;
	background-position: left top;
	height: 34px;
	width: 167px;
	font-family: "Open Sans";
	font-size: 18px;
	color: #434343;
	line-height:34px;
	text-align:center;
}
.table-topbg1{
	background-image: url(images/quick-table-topbg.png);
	background-repeat: no-repeat;
	background-size:570px 55px;
	background-position: left top;
	height: 55px;
	width:570px;
	font-family: "PT Sans";
	font-size: 13px;
	font-weight: bold;
	color: #434343;
	text-transform:uppercase;
	text-align:center;
}
.table-bg1{
	background-color: #FFFFFF;
	background-image: url(images/quick-table-bg.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	width:570px;
	border:1px solid #d1d1d1;
	font-family: "Open Sans";
	font-size: 13px;
	color: #434343;
	font-weight:bold;
}
.table-text1{
	font-family: "Open Sans";
	font-size: 13px;
	color: #434343;
	text-decoration:underline;
}
.table-text1 span{ color: #ff2222; }
.table-text1 a:link{ color: #434343; }
.table-text1 a:visited{ color: #434343; }
.table-text1 a:hover{ color: #ff2222; }
.table-text1 a:active{ color: #434343; }
.wrapper-right1{ float:left; width:180px; margin-top:560px; margin-left:-18px;}

.orang_boxs, .orang_boxs1, .orang_boxs2{
	width:20%;
	padding:20px 20px 10px 20px;
	background-color:#fffdf9;
	background: -webkit-gradient(linear, left top, left bottom, from(#fffdf9), to(#ffcd80));
	background: -moz-linear-gradient(top,  #fffdf9,  #ffcd80);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffdf9', endColorstr='#ffcd80');
	background-repeat:repeat;
}
.orang_boxs{ margin-right:8px; }
.orang_boxs1{ margin-right:8px;}
.hash-button1{
	background-image: url(images/quick-more-bg.png);
	background-repeat: no-repeat;
	background-position: left top;
	float: right;
	height: 25px;
	width: 87px;
	font-family: "Open Sans";
	font-size: 12px;
	color: #434343;
	line-height:25px;
	text-align:center;
	margin-right:32px;
}
.quick_right_img{
	margin-top:-700px; width:180px;
}

.reef_package_link{
	text-align:left;
}

.blue_heading1{
font-family: 'Open Sans', sans-serif;	
font-size:30px;
font-weight:700;
color:#00b2d9;
text-transform:capitalize;
line-height:28px;
}
.martop50{ margin-top:50px; }

.cms-bg-4-news {
	background-color: #fffc00;
	height: 29px;
	line-height:29px;
	color:#666666;
	font-family: "Open Sans Light";
	font-size: 13px;
	font-weight:bold;
	border-left-width: thin;
	border-left-style: solid;
	border-left-color: #000000;
	padding-left:0px;
	width:199px;
	float:left;
	text-align:center
}
.related-txt{ 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight:bold;
	color:#434343;
}


/* latest css */

.my_cart_txt1{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#0179b0;
	text-decoration:none;
}
.my_cart_pad53{padding-left:53px;}
.my_cart_txt1 span{font-size:11px;}
.my_cart_txt2{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#d05519;
	text-decoration:none;
}
.my_cart{
	background-color: #eef9ff;
	background-image: url(images/resources-bg.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	height: 200px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: normal;
	font-weight: normal;
	text-transform: capitalize;
	color: #005f8a;
	text-decoration: none;
}
.my_account_link{
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#144789;
	text-decoration:none;
	text-align:left;
}
.my_account_link span{font-size:14px;}
.my_account_title{
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#010101;
	text-decoration:none;
	text-align:left;
}
.myaccount_bg{
	background-color: #ffffff;
	background-image: url(images/myaccount_bg.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	height:531px;
	width:722px;
	border:solid 1px #ebebeb;
}
.myaccount_txt1{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#010000;
	text-decoration:none;
	font-weight:bold;
	text-align:left;
}
.myaccount_greytxt{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#b8b8b8;
	text-decoration:none;
	font-weight:bold;
	text-align:left;
	font-style:italic;
}
.myaccount_greytxt a:link{color:#b8b8b8; text-decoration:underline;}
.myaccount_greytxt a:visited{color:#b8b8b8; text-decoration:underline;}
.myaccount_greytxt a:hover{color:#b8b8b8; text-decoration:none;}
.myaccount_greytxt a:active{color:#b8b8b8; text-decoration:underline;}
.rightcontent_bg{
	background-color: #ffffff;
	background-image: url(images/right_contentbg.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	height:409px;
	width:424px;
	border:solid 1px #ebebeb;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	margin-left:11px;
}
.rightcontent_bg1{
	background-color: #ffffff;
	background-image: url(images/right_contentbg.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	height:409px;
	width:680px;
	border:solid 1px #ebebeb;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	margin-left:11px;
}
.rightcontent{
	background-color: #ffffff;
	height:409px;
	width:424px;
	margin-left:11px;
}
.leftcontent_bg{width:246px; margin-right:11px; height:auto; margin-left:20px;}
.vertical_tab ul{ margin:0; padding:0; list-style-type:none;}
.vertical_tab li{ 
font-family: 'Open Sans', sans-serif;
width:100%; height:62px; background-color:#ffffff; 
background-image: url(images/vertical-tabbg.jpg);
border:solid 0px #dddddd;
font-size:13px;
color:#434343;
text-transform:uppercase;
}
.vertical_tab li a:link{ color:#434343; text-decoration:none; }
.vertical_tab li a:visited{ color:#434343; text-decoration:none; }
.vertical_tab li a:hover{ color:#434343; text-decoration:none; }
.vertical_tab li a:active{ color:#434343; text-decoration:none; }

.vertical_inner{ padding-bottom:14px; padding-left:12px; padding-top:20px;}
.vertical_tab li span{ font-family: "PT Sans"; color:#878787; font-size:11px; text-transform:none;}

.vertical_tab li:hover, .vertical_tab li.selected{ 
width:100%; height:62px; background-color:#ffffff; 
background-image: url(images/vertical-tabbg_over.jpg);
border:solid 0px #dddddd;
cursor:pointer;
}
.form_top{padding-top:10px; padding-left:30px; padding-right:40px; padding-bottom:20px;}
.form_left{width:40%; float:left; margin-right:20px;}
.form_left1{width:50%; float:left; margin-right:0px; margin-left:0px;}
.left_label{ width:100%; clear:both; text-align:left; padding-right:10px; padding-bottom:10px; }
.textbox{ width:100%; clear:both; border:1px solid #dddddd; height:22px; outline:0;}
.content_form select{ border:1px solid #dddddd; outline:0; width:100%;}
.content_menu {
clear:both;
width:100%;
background-image: url(images/content_menu.jpg);
background-repeat:repeat-x;
border:solid 1px #dddddd;
height:31px;
border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
margin-bottom:20px;
}
.content_menu ul{margin:0; padding:0; list-style-type:none;}
.content_menu li{
float:left;
display:inline;
width:auto;
padding-left:20px;
padding-right:20px;
font-family: 'Open Sans', sans-serif;
font-size:12px;
color:#434343;
line-height:31px;
}
.content_menu li a:link{ color:#434343; text-decoration:none; }
.content_menu li a:visited{ color:#434343; text-decoration:none; }
.content_menu li a:hover{ color:#434343; text-decoration:none; }
.content_menu li a:active{ color:#434343; text-decoration:none; }

.content_menu1 {
clear:both;
width:100%;
background-image: url(images/content_menu.jpg);
background-repeat:repeat-x;
border:solid 1px #dddddd;
height:31px;
border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
margin-bottom:20px;
}
.content_menu1 ul{margin:0; padding:0; list-style-type:none;}
.content_menu1 li{
float:left;
display:inline;
width:auto;
padding-left:30px;
padding-right:30px;
font-family: 'Open Sans', sans-serif;
font-size:12px;
color:#434343;
line-height:31px;
}
.content_menu1 li a:link{ color:#434343; text-decoration:none; }
.content_menu1 li a:visited{ color:#434343; text-decoration:none; }
.content_menu1 li a:hover{ color:#434343; text-decoration:none; }
.content_menu1 li a:active{ color:#434343; text-decoration:none; }
/* / latest css */