 
*.com
*.class
*.dll
*.exe
*.o
*.so

 
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.pyc

 
*.log
*.sql
*.sqlite


.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

.DS_Store
*.pyc
.gaedata

django/
djangotoolbox/
djangoappengine/
django_mongodb_engine/
dbindexer/
autoload/
mediagenerator/
filetransfers/
assets/
assets


build