 {% include 'admin_header.htm' %}
 <div style="clear:both" class="white-bg"><div style="clear:both; padding-bottom:10px" class="content-bg"><table width="100%" border="0">
  <tr>
    <td align="left" valign="top"  style="padding-left:10px" class="left-text">
	{% include 'left_menu_cms.htm' %}
</td>
    <td style="width:1px; background-color:#d9d9d9; background-repeat:repeat-y"></td>
    <td>
	<table width="100%" border="0">
  <tr>
    <td class="left-text" style="padding-top:10px;">Product > Banner > Add</td>
  </tr>
  <tr>
    <td style="padding-bottom:10px; padding-top:10px;">
	<div style="float:left" class="left-text1">Add Banner</div>
	<div style="float:right; margin-right:15px">
<div class="search1">
<div style="float:left; width:230px;"><input name="Input" type="text"  placeholder="Search saltwaterfish.com"/></div>
<div style="float:left; width:69px;"><input type="submit" name="Submit" value="Search" /></div>
</div>
</div>
	
	
	</td>
  </tr>
  <tr>
    <td style="height:2px; background-color:#d9d9d9; background-repeat:repeat-y"></td>
  </tr>
  <tr>
    <td style="width:763px; padding-top:10px">
<form method="post" action="/actioncmsmanager" method=post>
		<input type="hidden" name="id" value="{{allpages.id}}">
		<input type="hidden" name="action" value="addbanner">
		{% csrf_token %} 
	<table width="100%" border="0" align="left">
  <tr>
    <td width="25%" height="40" align="right" valign="middle" class="order-txt-status" style="padding-right:10px;"><span class="required">*</span>Banner Title</td>
    <td width="75%" height="40"><input name="banner_name" type="text" text-box-cms2  class="text-box-cms2" value="{{allpages.banner_name}}"/></td>
  </tr>
   <tr>
    <td width="25%" height="40" align="right" valign="middle" class="order-txt-status" style="padding-right:10px;"><span class="required">*</span>Banner Link</td>
    <td width="75%" height="40"><input name="banner_link" type="text" text-box-cms2  class="text-box-cms2" value="{{allpages.banner_link}}"/></td>
  </tr>
  
    <tr>
    <td width="25%" height="40" align="right" valign="middle" class="order-txt-status" style="padding-right:10px;"><span class="required">*</span>Banner Image</td>
    <td width="75%" height="40"><input name="banner_image" type="test" text-box-cms2  class="text-box-cms2" value="{{allpages.banner_image}}"/><br><small>cloud storage full path<font size="" color="#0099ff">ex: "swf_product_images/banner/10-percent-off-marine-fish.jpg"</font></small></td>
  </tr>
   <tr>
    <td width="25%" height="40" align="right" valign="middle" class="order-txt-status" style="padding-right:10px;"><span class="required">*</span>Banner Type</td>
    <td width="75%" height="40"><select name="banner_type">
		<option value="Top" selected>Top
		<option value="Left">Left Box
		<option value="TopMain">Top Main
		<option value="TopBottom1">Top Bottom 1
		<option value="TopBottom2">Top Bottom 2
    </select></td>
  </tr>
 <tr>
    <td width="25%" height="40" align="right" valign="middle" class="order-txt-status" style="padding-right:10px;"><span class="required">*</span>Banner Status</td>
    <td width="75%" height="40"><select name="banner_status">
		<option value="1" selected>Active
		<option value="0">In-Active
    </select></td>
  </tr>
	  
  <tr>
    <td align="left" valign="middle">&nbsp;</td>
<td align="left" > <input type="submit" value="Submit Query"></td>
  </tr>
</table>

	

	
	
	
	
	</td>
  </tr>
</table>
	
	
	
	</td>
  </tr>
</table>

	   
	   
</div></div>
 {% include 'admin_footer.html' %}