{% extends 'base.html' %}
{% block content %}
{% load tagsfilter %}
<link type="text/css" rel="stylesheet" href="/misc/myaccount.css" />
 <script language="javascript" type="text/javascript" src="/misc/js/jquery.bpopup.min.js"></script>
 <link type="text/css" rel="stylesheet" href="/misc/style_new.css" />
<script type="text/javascript">
	;(function($) {
         $(function() {
            $('.pop1').bind('click', function(e) {
                e.preventDefault();
				var a_href = $(this).attr('id');
				$("#contentss").load(a_href);
                $('#popup').bPopup({
				});
			});
			 
        });

    })(jQuery);

</script>
<style>

.buttons {
    background-color: #2B91AF;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    padding: 6px 11px;
    text-align: left;
    text-decoration: none;
}

#popup, #popup2, .bMulti {
background-color: #fff;
border-radius: 10px 10px 10px 10px;
box-shadow: 0 0 25px 5px #999;
color: #111;
display: none;
min-width: 450px;
padding: 1px;
}
</style>
<div class="float-left width10">&nbsp;&nbsp;</div>
<div class="float-left wid748 padtop5">
<div class="clr my_account_link"><span><a href="/">Home</a> &gt; <a href="/myaccount">My Account</a></span><span> &gt; Address Book</span></div>
 <div class="clr my_account_link padtop20 padbottom13">My Addresses <span style="float:right;" class="my_account_link"><a id="/addaddressbook" href="#" class="pop1">Add New Address</a></span></div>
<div class="clr myaccount_bg1">
 
{% include 'myaccount_links.htm' %}
<div class="clr">&nbsp;&nbsp;</div>
  <div class="clr my_account_link padtop10 padbottom13"><a id="/addaddressbook" href="#" class="pop1">Add New Address</a> </div>
 {% if product_list %}
<table  border="0" cellpadding="0" cellspacing="3" bgcolor="#EFEFEF"> 
 <tr>
{% for item in product_list %}
 {% if forloop.counter0|divisibleby:2 %}
 
        <tr>{% endif %}
		<td align=left>
 <table width="330" border="0" cellpadding="3" cellspacing="1">
	<tr bgcolor="#FFFFFF"><td align=left width=100><b>First Name</b></td> <td align=left>{{item.shipping_firstname}}</td> </tr>
	<tr bgcolor="#FFFFFF"><td align=left><b>Last Name</b></td> <td align=left>{{item.shipping_lastname}}</td> </tr>
	<tr bgcolor="#FFFFFF"><td align=left><b>City</b></td> <td align=left>{{item.shipping_city}}</td> </tr>
	<tr bgcolor="#FFFFFF"><td align=left><b>State</b></td> <td align=left>{{item.shipping_state}}</td> </tr>
	<tr bgcolor="#FFFFFF"><td align=left><b>Zipcode</b></td> <td align=left>{{item.shipping_zip}}</td> </tr>
	<tr bgcolor="#FFFFFF"><td align=left><b>Country</b></td> <td align=left>{{item.shipping_country}}</td> </tr>
	<tr bgcolor="#FFFFFF"><td align=left><b>Address</b></td> <td align=left>{{item.shipping_address}}</td> </tr>
	<tr bgcolor="#FFFFFF"><td align=left><b>Address2</b></td> <td align=left>{{item.shipping_address2}}</td> </tr>
</table>
</td>
{% if forloop.counter|divisibleby:2 %}</tr>
        {% endif %}
{% endfor %}
</table>
{%else%}

<div class="special toggle_right_title padtop10 padbottom5" style="width:62% !important;" align="center">
<table border="0" width="450" cellspacing="0" cellpadding="4" class="alternative">
	<tbody><tr>
		<td class="titles" width="26" align="center"><img src="misc/images/error2.png" align="absmiddle" width="26"></td>
		<td class="titles" align="left" width="418">AddressBook</td>
	</tr>
	<tr>
		<td class="item" colspan="2"> You don't have any addresses in your AddressBook.<br><br>
		To update your Billing and Shipping Information Please go to your <a href="/myaccount">My Account</a> page and click Edit.
		</td>
	</tr>
	<tr>
		<td align="left" colspan="2"><!--START: RETURNMESSAGE-->
			<input type="button" value="Click here to continue" class="btn" onclick="location.href='/myaccount';"  >
			<!--END: RETURNMESSAGE-->
		</td>
	</tr>
</tbody></table>
</div>
{% endif %}

 
 </div>
</div>
<div class="float-left wid10"></div>
</div>
{% endblock content %}