<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{page_title}} </title>
<link href="/misc/menu-style.css" rel="stylesheet" type="text/css" />
<link href="/misc/style.css" rel="stylesheet" type="text/css" />
    <script src="/misc/tabcontent1.js" type="text/javascript"></script>
    <link href="/misc/tabcontent1.css" rel="stylesheet" type="text/css" />
<script language="JavaScript">
<!--
function mmLoadMenus() {
  if (window.mm_menu_0311194645_0) return;
    window.mm_menu_0311194645_0 = new Menu("root",120,25,"Arial, Helvetica, sans-serif",12,"#787878","#787878","#FFFFFF","#FFFFFF","left","middle",3,0,1000,-5,7,true,false,true,10,false,false);
  mm_menu_0311194645_0.addMenuItem("New","location='new.html'");
  mm_menu_0311194645_0.addMenuItem("Processing","location='processing.html'");
  mm_menu_0311194645_0.addMenuItem("Canceled","location='canceled.html'");
  mm_menu_0311194645_0.addMenuItem("Shipped","location='shipped.html'");
  mm_menu_0311194645_0.addMenuItem("Order&nbsp;Status","location='order_status.html'");
  mm_menu_0311194645_0.addMenuItem("Export","location='export.html'");
   mm_menu_0311194645_0.fontWeight="bold";
   mm_menu_0311194645_0.hideOnMouseOut=true;
   mm_menu_0311194645_0.bgColor='#555555';
   mm_menu_0311194645_0.menuBorder=1;
   mm_menu_0311194645_0.menuLiteBgColor='#FFFFFF';
   mm_menu_0311194645_0.menuBorderBgColor='#777777';

mm_menu_0311194645_0.writeMenus();
} // mmLoadMenus()
//-->
</script>
<link href="/misc/menu-style.css" rel="stylesheet" type="text/css" />

</head>
 
<body>
<script language="JavaScript1.2">mmLoadMenus();</script>
<div align="center" class="shade-admin-new">
<div style="width:1020px; border:solid 1px #c6c6c6; border-bottom:none;  -webkit-box-shadow:0 0px 8px rgba(0,0,0,0.3); -moz-box-shadow:0 0 8px rgba(0,0,0,0.3); box-shadow:0 0 8px rgba(0,0,0,0.3);">
<div style="clear:both; float:left" class="admin-logo"><span class="admin-logo" style="clear:both; float:left"><a href="index.htm"><img src="/misc/images/logo.png" width="426" height="93" border="0" style="float:left" /></a></span></div>
<div style="clear:both">&nbsp;&nbsp;</div>
<div class="new-menu">
	<ul id="men">
		<li><a href="/vieworders?order_status=1&page=1">Order</a>
		<ul>
				<li><a href="/vieworders?order_status=1&page=1">New</a></li>
				<li><a href="/vieworders?order_status=2&page=1">Processing</a></li>
				<li><a href="/vieworders?order_status=5&page=1">Cancelled</a></li>
				<li><a href="/vieworders?order_status=4&page=1">Shipped</a></li>
				<li><a href="/vieworders?order_status=6&page=1">Aquarium Supplies</a></li>
				<li><a href="/vieworders?order_status=10&page=1">Pending</a></li>
				<li><a href="/vieworders?order_status=16&page=1">Weather Delayed</a></li>
				<li><a href="/vieworders?order_status=6&page=1">Reef Rewards</a></li>
				<li><a href="/giftcertificates?page=1">Gift Certificates</a></li>
				<li><a href="/ordersstatus">Order Status</a></li>
				<li><a href="/exportoders">Export</a></li>
			</ul>
		</li>
		<li><a href="/customers?page=1">Customers</a>
			<ul>
				<li><a href="/customers?page=1">View/Edit</a></li>
				<li><a href="/baddcustomer">Add Customer</a></li>
				<li><a href="/exportcustomers">Import/Export</a></li>
			</ul>
		</li>
		<li><a href="/products?page=1">Products</a>
			<ul style="*margin-left:45px;">
				<li><a href="/products?page=1">View/Edit</a></li>
				<li><a href="4-products-1-view-edit.htm">Add Product</a></li>
				<li><a href="#">Bundles</a></li>
				<li><a href="#">Categories</a></li>
				<li><a href="#">Inventory</a></li>
					<li><a href="products-wish-list.htm">Wish List</a></li>
				<li><a href="products-7-reviews.htm">Reviews</a></li>
				<li><a href="products-import-export.htm">Import/Export</a></li>
			</ul>
		</li>
		<li><a href="/rmapages?page=1"> RMA</a>
			<ul style="*margin-left:78px;">
				<li><a href="/rmapages?page=1">Residency Program</a></li>
				<li><a href="#">Continuing Education</a></li>
				<li><a href="#">Courses &amp; Pricing</a></li>
			</ul>
		</li>
			<li><a href="/cmspages?page=1">CMS</a>
			<ul  style="*margin-left:52px;">
				<li><a href="/cmspages?page=1">Pages</a></li>
				<li><a href="/addcmsform">Add Pages</a></li>
				<li><a href="/addbanners">Add Banners</a></li>
				<li><a href="/titlesandcontent?page=1">Titles & Content</a></li>
			</ul>
		</li>
		<li><a href="/acrm?pageid=1&status=1">Support</a>
			<ul style="*margin-left:48px;">
				<li><a href="/acrm?page=1&status=2">In Process</a></li>
				<li><a href="/acrm?page=1&status=3">On Hold</a></li>
				<li><a href="/acrm?page=1&status=4">Completed</a></li>
				<ul>
				<li><a href="#">Interested in joining our staff?</a></li>
				<li><a href="#">Interested in joining our faculty?</a></li>
			</ul>
				</li>
			</ul>
		</li>
		<li><a href="/adminreports">Reports</a></li>
		<li><a href="/adminshippingmanager">Settings</a>
		   <ul><li><a href="/adminshippingmanager">Shipping Manager</a></li>
		   <li><a href="/shippingcalendar">Shipping Calendar</a></li>
		   <li><a href="/couponmanager">Coupon Manager</a></li>
		   <li><a href="/taxmanager">Tax Manager</a></li></ul></li>
		
		<li><a href="/admins">Users</a>
		<ul><li><a href="/admins">View/Edit</a></li>
		<li><a href="addadminsform?mode=add">Add User</a></li>
		</ul>
				</li>
		<li><a href="/logout">Logout</a></li>
	</ul>
</div>
<div style="clear:both">&nbsp;&nbsp;</div>