<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Cart10</title>
<link href="style.css" rel="stylesheet" type="text/css" />
<link type="text/css" rel="stylesheet" href="css2/reset.css" />
<link type="text/css" rel="stylesheet" href="css2/style.css" />
</head>

<body>
<div id="wrapper">
<div class="container">

<div class="clr pad_top20">

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="208" height="20" align="left" valign="top" class="border1"><div class="rma_content">RMA Status</div></td>
    <td width="157" height="20" align="left" valign="top" class="border1"><div class="rma_content1">RMA Action</div></td>
    <td width="176" height="20" align="left" valign="top" class="border1"><div class="rma_content1">RMA ID</div></td>
    <td width="234" height="20" align="left" valign="top" class="border1"><div class="rma_content1">RMA Submitted</div></td>
    <td width="111" height="20" align="left" valign="top" class="border1"><div class="rma_content1">Open</div></td>
	 <td width="114" height="20" align="left" valign="top" class="border1"><div class="rma_content1">Order ID</div></td>
  </tr>
<tr class="blue_bg">
    <td width="208" height="20" align="left" valign="top" class="border1"><div class="rma_content">Open</div></td>
    <td height="20" align="left" valign="top" class="border1"><div class="rma_content1">No Action Taken</div></td>
    <td height="20" align="left" valign="top" class="border1"><div class="rma_content1">41263</div></td>
    <td width="234" height="20" align="left" valign="top" class="border1"><div class="rma_content1">01-01-2099 24:00:23 EST</div></td>
    <td width="111" height="20" align="left" valign="top" class="border1"><div class="rma_content1">DOA</div></td>
	<td width="114" height="20" align="left" valign="top" class="border1"><div class="rma_content1">SWF - 12993</div></td>
  </tr>
</table>
</div>

<div class="clr pad_top20">

<table width="50%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="40%" height="20" align="left" valign="top" class="border1"><div class="rma_content">Customer Name</div></td>
    <td width="60%" height="20" align="left" valign="top" class="border1"><div class="rma_content1">Customer Email Address</div></td>
  </tr>
<tr class="blue_bg">
    <td width="208" height="20" align="left" valign="top" class="border1"><div class="rma_content">Jack Jones</div></td>
    <td height="20" align="left" valign="top" class="border1"><div class="rma_content1">sadasdsdsadsd@sdasdasdasdasd.com</div></td>
  </tr>
</table>
</div>

<div class="clr pad_top20">
<div class="toggle_right_title" style="padding-bottom:10px;">Live Marine RMA Items:</div>
<div class="clr">
<div class="float_left"><div class="button"><a href="#">Lookup Delivery Info</a></div></div>
<div class="float_left"><strong>Delivered via: Fedex 12/12/2012 @ 24:59 EST</strong></div>
</div>
</div>

<div class="clr pad_top20">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr class="blue_bg">
    <td width="76" height="20" align="left" valign="top" class="border1"><div class="rma_content">Item ID</div></td>
    <td width="391" height="20" align="left" valign="top" class="border1"><div class="rma_content1">Description</div></td>
    <td width="86" height="20" align="left" valign="top" class="border1"><div class="rma_content1">Unit Price</div></td>
    <td width="106" height="20" align="left" valign="top" class="border1"><div class="rma_content1"># of Items Unit</div></td>
    <td width="105" height="20" align="left" valign="top" class="border1"><div class="rma_content1"># of Items Ret</div></td>
	<td width="89" height="20" align="left" valign="top" class="border1"><div class="rma_content1">Received</div></td>
	<td width="147" height="20" align="left" valign="top" class="border1"><div class="rma_content1">Refund Value</div></td>
  </tr>
<tr>
    <td width="76" height="20" align="left" valign="top" class="border1"><div class="rma_content">1229 -2-2-2</div></td>
    <td height="20" align="left" valign="top" class="border1"><div class="rma_content1">25 Assorted Hermit Crabs + 25 Assorted Cleaner Snails - Limit 1</div></td>
    <td height="20" align="left" valign="top" class="border1"><div class="rma_content1">$    10,000.00</div></td>
    <td width="106" height="20" align="left" valign="top" class="border1"><div class="rma_content1">100</div></td>
    <td width="105" height="20" align="left" valign="top" class="border1"><div class="rma_content1">20</div></td>
	<td width="89" height="20" align="left" valign="top" class="border1"><div class="rma_content1">20</div></td>
	<td width="147" height="20" align="left" valign="top" class="border1"><div class="rma_content1">$ 2,000.00</div></td>
  </tr>
 <tr class="blue_bg">
    <td width="76" height="20" align="left" valign="top" class="border1"><div class="rma_content">1229 -2-2-2</div></td>
    <td height="20" align="left" valign="top" class="border1"><div class="rma_content1">25 Assorted Hermit Crabs + 25 Assorted Cleaner Snails - Limit 1</div></td>
    <td height="20" align="left" valign="top" class="border1"><div class="rma_content1">$    10,000.00</div></td>
    <td width="106" height="20" align="left" valign="top" class="border1"><div class="rma_content1">100</div></td>
    <td width="105" height="20" align="left" valign="top" class="border1"><div class="rma_content1">20</div></td>
	<td width="89" height="20" align="left" valign="top" class="border1"><div class="rma_content1">20</div></td>
	<td width="147" height="20" align="left" valign="top" class="border1"><div class="rma_content1">$ 2,000.00</div></td>
  </tr>
 <tr>
    <td width="76" height="20" align="left" valign="top" class="border1"><div class="rma_content">1229 -2-2-2</div></td>
    <td height="20" align="left" valign="top" class="border1"><div class="rma_content1">25 Assorted Hermit Crabs + 25 Assorted Cleaner Snails - Limit 1</div></td>
    <td height="20" align="left" valign="top" class="border1"><div class="rma_content1">$    10,000.00</div></td>
    <td width="106" height="20" align="left" valign="top" class="border1"><div class="rma_content1">100</div></td>
    <td width="105" height="20" align="left" valign="top" class="border1"><div class="rma_content1">20</div></td>
	<td width="89" height="20" align="left" valign="top" class="border1"><div class="rma_content1">20</div></td>
	<td width="147" height="20" align="left" valign="top" class="border1"><div class="rma_content1">$ 2,000.00</div></td>
  </tr>
 <tr class="blue_bg">
    <td width="76" height="20" align="left" valign="top" class="border1"><div class="rma_content">1229 -2-2-2</div></td>
    <td height="20" align="left" valign="top" class="border1"><div class="rma_content1">25 Assorted Hermit Crabs + 25 Assorted Cleaner Snails - Limit 1</div></td>
    <td height="20" align="left" valign="top" class="border1"><div class="rma_content1">$    10,000.00</div></td>
    <td width="106" height="20" align="left" valign="top" class="border1"><div class="rma_content1">100</div></td>
    <td width="105" height="20" align="left" valign="top" class="border1"><div class="rma_content1">20</div></td>
	<td width="89" height="20" align="left" valign="top" class="border1"><div class="rma_content1">20</div></td>
	<td width="147" height="20" align="left" valign="top" class="border1"><div class="rma_content1">$ 2,000.00</div></td>
  </tr>
</table>
</div>

<div class="clr pad_top20">
<div class="toggle_right_title" style="padding-bottom:10px;">Marine Supplies RMA Items:</div>
<div class="clr">
<div class="float_left"><div class="button"><a href="#">Lookup Delivery Info</a></div></div>
<div class="float_left"><strong>Delivered via: Fedex 12/12/2012 @ 24:59 EST</strong></div>
</div>
</div>

<div class="clr pad_top20">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr class="blue_bg">
    <td width="76" height="20" align="left" valign="top" class="border1"><div class="rma_content">Item ID</div></td>
    <td width="391" height="20" align="left" valign="top" class="border1"><div class="rma_content1">Description</div></td>
    <td width="86" height="20" align="left" valign="top" class="border1"><div class="rma_content1">Unit Price</div></td>
    <td width="106" height="20" align="left" valign="top" class="border1"><div class="rma_content1"># of Items Unit</div></td>
    <td width="105" height="20" align="left" valign="top" class="border1"><div class="rma_content1"># of Items Ret</div></td>
	<td width="89" height="20" align="left" valign="top" class="border1"><div class="rma_content1">Received</div></td>
	<td width="147" height="20" align="left" valign="top" class="border1"><div class="rma_content1">Refund Value</div></td>
  </tr>
<tr>
    <td width="76" height="20" align="left" valign="top" class="border1"><div class="rma_content">1229 -2-2-2</div></td>
    <td height="20" align="left" valign="top" class="border1"><div class="rma_content1">25 Assorted Hermit Crabs + 25 Assorted Cleaner Snails - Limit 1</div></td>
    <td height="20" align="left" valign="top" class="border1"><div class="rma_content1">$    10,000.00</div></td>
    <td width="106" height="20" align="left" valign="top" class="border1"><div class="rma_content1">100</div></td>
    <td width="105" height="20" align="left" valign="top" class="border1"><div class="rma_content1">20</div></td>
	<td width="89" height="20" align="left" valign="top" class="border1"><div class="rma_content1">20</div></td>
	<td width="147" height="20" align="left" valign="top" class="border1"><div class="rma_content1">$ 2,000.00</div></td>
  </tr>
 <tr class="blue_bg">
    <td width="76" height="20" align="left" valign="top" class="border1"><div class="rma_content">1229 -2-2-2</div></td>
    <td height="20" align="left" valign="top" class="border1"><div class="rma_content1">25 Assorted Hermit Crabs + 25 Assorted Cleaner Snails - Limit 1</div></td>
    <td height="20" align="left" valign="top" class="border1"><div class="rma_content1">$    10,000.00</div></td>
    <td width="106" height="20" align="left" valign="top" class="border1"><div class="rma_content1">100</div></td>
    <td width="105" height="20" align="left" valign="top" class="border1"><div class="rma_content1">20</div></td>
	<td width="89" height="20" align="left" valign="top" class="border1"><div class="rma_content1">20</div></td>
	<td width="147" height="20" align="left" valign="top" class="border1"><div class="rma_content1">$ 2,000.00</div></td>
  </tr>
 <tr>
    <td width="76" height="20" align="left" valign="top" class="border1"><div class="rma_content">1229 -2-2-2</div></td>
    <td height="20" align="left" valign="top" class="border1"><div class="rma_content1">25 Assorted Hermit Crabs + 25 Assorted Cleaner Snails - Limit 1</div></td>
    <td height="20" align="left" valign="top" class="border1"><div class="rma_content1">$    10,000.00</div></td>
    <td width="106" height="20" align="left" valign="top" class="border1"><div class="rma_content1">100</div></td>
    <td width="105" height="20" align="left" valign="top" class="border1"><div class="rma_content1">20</div></td>
	<td width="89" height="20" align="left" valign="top" class="border1"><div class="rma_content1">20</div></td>
	<td width="147" height="20" align="left" valign="top" class="border1"><div class="rma_content1">$ 2,000.00</div></td>
  </tr>
 <tr class="blue_bg">
    <td width="76" height="20" align="left" valign="top" class="border1"><div class="rma_content">1229 -2-2-2</div></td>
    <td height="20" align="left" valign="top" class="border1"><div class="rma_content1">25 Assorted Hermit Crabs + 25 Assorted Cleaner Snails - Limit 1</div></td>
    <td height="20" align="left" valign="top" class="border1"><div class="rma_content1">$    10,000.00</div></td>
    <td width="106" height="20" align="left" valign="top" class="border1"><div class="rma_content1">100</div></td>
    <td width="105" height="20" align="left" valign="top" class="border1"><div class="rma_content1">20</div></td>
	<td width="89" height="20" align="left" valign="top" class="border1"><div class="rma_content1">20</div></td>
	<td width="147" height="20" align="left" valign="top" class="border1"><div class="rma_content1">$ 2,000.00</div></td>
  </tr>
</table>
</div>

<div class="clr pad_top20">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="100" height="20" align="left" valign="top" class="border1"><div class="rma_content2">Order Subtotal:</div></td>
	<td width="65" height="20" align="left" valign="top" class="border1 blue_bg"><div class="rma_content2">$999.99</div></td>
	<td width="138" height="20" align="left" valign="top" class="border1"><div class="rma_content2">Returned Total:</div></td>
	<td width="65" height="20" align="left" valign="top" class="border1 blue_bg"><div class="rma_content2">$999.99</div></td>
	<td width="100" height="20" align="left" valign="top" class="border1"><div class="rma_content2">Discount:</div></td>
	<td width="65" height="20" align="left" valign="top" class="border1 blue_bg"><div class="rma_content2">$999.99</div></td>
	<td width="100" height="20" align="left" valign="top" class="border1"><div class="rma_content2">% Discount:</div></td>
	<td width="65" height="20" align="left" valign="top" class="border1 blue_bg"><div class="rma_content2">10.00%</div></td>
	<td width="100" height="20" align="left" valign="top" class="border1"><div class="rma_content2">Ret to Discount% :</div></td>
	<td width="65" height="20" align="left" valign="top" class="border1 blue_bg"><div class="rma_content2">$999.99</div></td>
   </tr>
  <tr>
    <td height="20" align="left" valign="top" class="border1 rma_content2">Tax:</td>
    <td height="20" align="left" valign="top" class="border1 rma_content2 blue_bg">$999.99</td>
    <td height="20" align="left" valign="top" class="border1 rma_content2">Requested Return Total:</td>
    <td height="20" align="left" valign="top" class="border1 rma_content2 blue_bg">$999.99</td>
    <td height="20" align="left" valign="top" class="border1 rma_content2">Coupon:</td>
    <td height="20" align="left" valign="top" class="border1 rma_content2 blue_bg">$999.99</td>
    <td height="20" align="left" valign="top" class="border1 rma_content2">% Coupon:</td>
    <td height="20" align="left" valign="top" class="border1 rma_content2 blue_bg">10.00%</td>
    <td height="20" align="left" valign="top" class="border1 rma_content2">Ret to Coupon % :</td>
    <td height="20" align="left" valign="top" class="border1 rma_content2 blue_bg">$999.99</td>
  </tr>
<tr>
    <td height="20" align="left" valign="top" class="border1 rma_content2">Shipping Costs:</td>
    <td height="20" align="left" valign="top" class="border1 rma_content2 blue_bg">$999.99</td>
    <td height="20" align="left" valign="top" class="border1 rma_content2">&nbsp;</td>
    <td height="20" align="left" valign="top" class="border1 rma_content2 blue_bg">&nbsp;</td>
    <td height="20" align="left" valign="top" class="border1 rma_content2">Gift:</td>
    <td height="20" align="left" valign="top" class="border1 rma_content2 blue_bg">$999.99</td>
    <td height="20" align="left" valign="top" class="border1 rma_content2">% Gift:</td>
    <td height="20" align="left" valign="top" class="border1 rma_content2 blue_bg">10.00%</td>
    <td height="20" align="left" valign="top" class="border1 rma_content2">Ret to Gift % :</td>
    <td height="20" align="left" valign="top" class="border1 rma_content2 blue_bg">$999.99</td>
  </tr>
<tr>
    <td height="20" align="left" valign="top" class="border1 rma_content2">Order Total:</td>
    <td height="20" align="left" valign="top" class="border1 rma_content2 blue_bg">$999.99</td>
    <td height="20" align="left" valign="top" class="border1 rma_content2">&nbsp;</td>
    <td height="20" align="left" valign="top" class="border1 rma_content2 blue_bg">&nbsp;</td>
    <td height="20" align="left" valign="top" class="border1 rma_content2">&nbsp;</td>
    <td height="20" align="left" valign="top" class="border1 rma_content2">&nbsp;</td>
    <td height="20" align="left" valign="top" class="border1 rma_content2">&nbsp;</td>
    <td height="20" align="left" valign="top" class="border1 rma_content2">&nbsp;</td>
    <td height="20" align="left" valign="top" class="border1 rma_content2">&nbsp;</td>
    <td height="20" align="left" valign="top" class="border1 rma_content2">&nbsp;</td>
  </tr>  
</table>
</div>

<div class="clr pad_top20">
<div class="float_left" style="width:60%;">
<!-- Tab area starts -->
<div style="clear:both;">
<div>
        <ul class="tabs" persist="true">
            <li><a href="#" rel="view1">Uploaded Photos:</a></li>
            <li><a href="#" rel="view2">View All Uploads:</a></li>
        </ul>
        <div class="tabcontents">
            <div id="view1" class="tabcontent">
			<img src="images/slide_model.jpg" width="550" height="127"  />            </div>
            <div id="view2" class="tabcontent">
			<img src="images/slide_model.jpg" width="550" height="127"  />
            </div>
        </div>
        
    </div>


</div>
<!-- Tab area ends -->
</div>
<div class="float_left" style="width:40%;">
<table width="100%" border="0" cellspacing="5" cellpadding="0">
  <tr>
    <td width="48%" align="left" valign="top" style="padding-left:5px; padding-bottom:5px;" >Update Return Status</td>
    <td width="52%" align="left" valign="top"><select style="width:180px;"><option></option></select></td>
  </tr>
 <tr>
    <td width="48%" align="left" valign="top" style="padding-left:5px; padding-bottom:5px;" >Refund to</td>
    <td width="52%" align="left" valign="top"><select style="width:180px;"><option></option></select></td>
  </tr>  
 <tr>
    <td width="48%" align="left" valign="top" style="padding-left:5px; padding-bottom:5px;" >Refund Amount</td>
    <td width="52%" align="left" valign="top"><input type="text" value="" size="25" /></td>
  </tr>
 <tr>
   <td align="left" valign="top" style="padding-left:5px; padding-bottom:5px;" >&nbsp;</td>
   <td align="left" valign="top"><div class="button" style="margin-left:30px;"><a href="#">Refund / Update</a></div></td>
 </tr>    
</table>

</div>
<div class="clr"></div>
</div>

<div class="clr">&nbsp;</div>
<div class="clr">
<!-- Tab area starts -->
<div style="clear:both; padding-top:20px;">
<div>
        <ul class="tabs" persist="true">
            <li><a href="#" rel="view1">Customer History:</a></li>
        </ul>
        <div class="tabcontents">
            <div id="view1" class="tabcontent">
			<div class="clr">
<table width="66%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="119" height="20" align="left" valign="top" class="border1"><div class="rma_content2">Order Date</div></td>
	<td width="94" height="20" align="left" valign="top" class="border1"><div class="rma_content2">Order ID</div></td>
	<td width="117" height="20" align="left" valign="top" class="border1"><div class="rma_content2">Amount</div></td>
	<td width="97" height="20" align="left" valign="top" class="border1"><div class="rma_content2"># of Items</div></td>
	<td width="102" height="20" align="left" valign="top" class="border1"><div class="rma_content2"># of Returns</div></td>
	<td width="131" height="20" align="left" valign="top" class="border1"><div class="rma_content2">Returned Amount</div></td>
   </tr>
  <tr class="blue_bg">
    <td height="20" align="left" valign="top" class="border1 rma_content2">12/12/2012</td>
    <td height="20" align="left" valign="top" class="border1 rma_content2">Swf - 12323</td>
    <td height="20" align="right" valign="top" class="border1 rma_content2" style="padding-right:10px;">$9,999.99</td>
    <td height="20" align="center" valign="top" class="border1 rma_content2">77</td>
    <td height="20" align="center" valign="top" class="border1 rma_content2">99</td>
    <td height="20" align="right" valign="top" class="border1 rma_content2" style="padding-right:10px;">$9,999.99</td>
  </tr>
  <tr class="blue_bg">
    <td height="20" align="left" valign="top" class="border1 rma_content2">12/12/2012</td>
    <td height="20" align="left" valign="top" class="border1 rma_content2">Swf - 12323</td>
    <td height="20" align="right" valign="top" class="border1 rma_content2" style="padding-right:10px;">$9,999.99</td>
    <td height="20" align="center" valign="top" class="border1 rma_content2">77</td>
    <td height="20" align="center" valign="top" class="border1 rma_content2">0</td>
    <td height="20" align="right" valign="top" class="border1 rma_content2" style="padding-right:10px;">$0.00</td>
  </tr>
  <tr class="blue_bg">
    <td height="20" align="left" valign="top" class="border1 rma_content2">12/12/2012</td>
    <td height="20" align="left" valign="top" class="border1 rma_content2">Swf - 12323</td>
    <td height="20" align="right" valign="top" class="border1 rma_content2" style="padding-right:10px;">$9,999.99</td>
    <td height="20" align="center" valign="top" class="border1 rma_content2">77</td>
    <td height="20" align="center" valign="top" class="border1 rma_content2">0</td>
    <td height="20" align="right" valign="top" class="border1 rma_content2" style="padding-right:10px;">$0.00</td>
  </tr>
  <tr class="blue_bg">
    <td height="20" align="left" valign="top" class="border1 rma_content2">12/12/2012</td>
    <td height="20" align="left" valign="top" class="border1 rma_content2">Swf - 12323</td>
    <td height="20" align="right" valign="top" class="border1 rma_content2" style="padding-right:10px;">$9,999.99</td>
    <td height="20" align="center" valign="top" class="border1 rma_content2">77</td>
    <td height="20" align="center" valign="top" class="border1 rma_content2">99</td>
    <td height="20" align="right" valign="top" class="border1 rma_content2" style="padding-right:10px;">$0.00</td>
  </tr>
  <tr class="blue_bg">
    <td height="20" align="left" valign="top" class="border1 rma_content2">12/12/2012</td>
    <td height="20" align="left" valign="top" class="border1 rma_content2">Swf - 12323</td>
    <td height="20" align="right" valign="top" class="border1 rma_content2" style="padding-right:10px;">$9,999.99</td>
    <td height="20" align="center" valign="top" class="border1 rma_content2">77</td>
    <td height="20" align="center" valign="top" class="border1 rma_content2">99</td>
    <td height="20" align="right" valign="top" class="border1 rma_content2" style="padding-right:10px;">$9,999.99</td>
  </tr>
  <tr>
    <td height="20" align="left" valign="top" class="rma_content2">&nbsp;</td>
    <td height="20" align="left" valign="top" class="border1 rma_content2">Totals:</td>
    <td height="20" align="right" valign="top" class="border1 rma_content2" style="padding-right:10px;">$    49,999.95</td>
    <td height="20" align="center" valign="top" class="border1 rma_content2">385</td>
    <td height="20" align="center" valign="top" class="border1 rma_content2">297</td>
    <td height="20" align="right" valign="top" class="border1 rma_content2" style="padding-right:10px;">$ 19,999.98</td>
  </tr>
</table>

</div>
 </div>
        </div>
        
    </div>


</div>
<!-- Tab area ends -->

</div>


</div>
</div>
</body>
</html>
