<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Checkout Fedex Popup</title>
<link type="text/css" rel="stylesheet" href="css/reset.css" />
<link type="text/css" rel="stylesheet" href="css/style.css" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'/>

</head>

<body>

<div style="width:700px; margin:0">
<div id="wrapper">
<div class="container">
<div class="fedexbox">
<div class="clr">
<div class="logo_left"><img src="images1/fedex_logo.jpg" /><br />
Select a location to pickup your package:
</div>
<div class="logo_right"><a href="#"><img src="images1/close_button.png" /></a></div>
<div class="clr"></div>
</div>
<div class="address">
<ul>
<li><input type="radio" name="location" />Location - Address,...</li>
<li><input type="radio" name="location" />Location - Address,...</li>
<li><input type="radio" name="location" />Location - Address,...</li>
<li><input type="radio" name="location" />Location - Address,...</li>
<li><input type="radio" name="location" />Location - Address,...</li>
<li><input type="radio" name="location" />Location - Address,...</li>
<li><input type="radio" name="location" />Location - Address,...</li>
<div class="clr"></div>
</ul>
</div>
<div class="clr">
<div class="button"><a href="#">Use This Location</a></div>
<div class="button"><a href="#">Cancel</a></div>
<div class="clr"></div>
</div>
</div>
</div>
</div></div>
</body>
</html>
