<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Checkout Fedex Popup</title>
<link type="text/css" rel="stylesheet" href="css/reset.css" />
<link type="text/css" rel="stylesheet" href="css/style.css" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'/>

</head>

<body>
<div id="wrapper">
<div class="container">
<div class="login_container">
<div class="login_left">
<div class="login_heading">Returning Customers:</div>
<p>
Lorem ipsum dolor sit amet, habitasse pretium dolor sociis. Nulla et facilisis interdum elit amet erat, consectetuer condimentum eaque, ante maecenas. Suspendisse libero diam, doloribus aliquam consectetuer nec.
</p>
<div class="clr">
<form>
<div class="clr"><label>Email Address</label><input type="text" value="" /></div>
<div class="clr"><label>Password</label><input type="text" value="" /></div>
</form>
</div>
<div class="password_link"><a href="#">Forgot your password?</a></div>
<div class="button"><a href="#">Sign in To Your Account</a></div>
</div>
<div class="login_right">
<div class="login_heading">Returning Customers:</div>
<p>
Lorem ipsum dolor sit amet, habitasse pretium dolor sociis. Nulla et facilisis interdum elit amet erat, consectetuer condimentum eaque, ante maecenas. Suspendisse libero diam, doloribus aliquam consectetuer nec.
</p>
<div class="clr">
<form>
<div class="clr"><label>Email Address</label><input type="text" value="" /></div>
</form>
</div>
<div class="button1"><a href="#">Continue as Guest</a></div>
</div></div>
</div>
</div>
</body>
</html>
