<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Checkout User Address</title>
<link type="text/css" rel="stylesheet" href="css2/reset.css" />
<link type="text/css" rel="stylesheet" href="css2/style.css" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'/>

</head>

<body>
<div id="wrapper">
<div class="container">
<div class="toggle_left">
<div class="toggle_main">
						<div class="clr">
							<!-- Tab1 starts -->
							
							<!-- //Tab1 -->
						
							<!-- Tab2 starts -->
							<div class="clr">
								<div class="toggle_container">
									<div class="toggle_header">
										<div class="toggle_link toggle_open">2 - Shipping Method</div>
									</div>
									<div class="toggle_content">
										<div class="shipping_method">
<div class="clr">Please select a shipping method for each category of items you’ ve ordered:</div>
<div class="toggle_main">
						<div class="clr">
							<!-- Tab1 starts -->
							<div class="clr">
								<div class="toggle_container">
									<div class="toggle_header">
										<div class="toggle_link toggle_open">Live Marine Life</div>
									</div>
									<div class="toggle_content">
										Live Marine Life Shipping method:<br />
										Marine Life Arrival Date<br />
										<p>Unless you request a specific date, we will ship your Marine Life order to arrive at
the earliest possible date. We will notify you by e-mail, if for some reason, your 
request cannot be honored.</p>
Estimated Delivery Date:              01/01/2012<br />
<div class="blue_link"><a href="#">Change Delivery Dates Or Upgrade Shipping Options</a></div>
<input type="radio" />&nbsp;&nbsp;Overnight Shipping with Priority Upgrade ($99.99)<br />
* This Category Requires a Fuel Surcharge of $9.99<br /><br />
<div class="clr">
<div class="float_left" style="width:80%;">
Hold Package FedEx Location<br />
If you would like your package held at a FedEx Location Please check here. This option
will allow you to pick up your package at your convenience anytime after 9 a.m. on the day
it is Scheduled to arrive. You must provide the FedEv station address as your delivery
address at the time you place order. If  you need to change your delivery address
please use the “new address” selection in the Address Book option above.
Call 1 -800 -GOFEDEX for the station nearest you <span class="blue_text">or click here to use the online FedEx location tool.</span>
</div>
<div class="float_left" style="width:15%; margin-left:20px; margin-top:100px;">
<select><option>No</option></select>
</div>
<div class="clr">&nbsp;</div>
</div>

<div class="clr">
<div class="button"><a href="#">Continue To Next Category</a></div>
<div class="clr">&nbsp;</div>
</div>
										<div class="clr"></div>
										<div class="clr"></div>
									<div class="clr"></div>	
									</div>
								</div>
							</div>
							<!-- //Tab1 -->
						
							<!-- Tab2 starts -->
							<div class="clr">
								<div class="toggle_container">
									<div class="toggle_header">
										<div class="toggle_link toggle_open">Aquarium Supplies</div>
									</div>
									<div class="toggle_content">
										Delivery Notifications:<br />
										<input type="checkbox" />&nbsp;&nbsp;Receive Delivery Notifications Via Email<br />
										<input type="checkbox" />&nbsp;&nbsp;Receive Delivery Notifications Via SMS<br />
										Enter your mobile number:&nbsp;&nbsp;<input type="text" value="" />
										<div class="clr">&nbsp;</div>
										<div class="clr"><div class="button"><a href="#">Continue To Next Category</a></div></div>
										<div class="clr">&nbsp;</div>
									<div class="clr"></div>
									</div>
								</div>
							</div>
							<!-- //Tab2 -->
							
							<!-- Tab3 starts -->
							<div class="clr">
								
							</div>
							<!-- //Tab3 -->
						<div class="clr"></div>
						</div>
					</div>
</div>
									<div class="clr"></div>
									</div>
								</div>
							</div>
							<!-- //Tab2 -->
							
							<!-- Tab3 starts -->
							
							<!-- //Tab3 -->
						<div class="clr"></div>
						</div>
					</div>


					
</div>
<div class="toggle_right">
<div class="clr">
<div class="order_left"><div class="order_heading">Order Details:</div></div>
<div class="order_right">
<div class="blue_link"><a href="#">Edit Order</a></div>

</div>
<div class="clr"></div>
</div>

<div class="clr">&nbsp;</div>
<div class="clr">
<div class="order_left">Subtotal</div>
<div class="order_right">
<div class="float_right">$9,999.00</div>

</div>
<div class="clr"></div>
</div>

<div class="clr">
<div class="order_left">Estimated Shipping</div>
<div class="order_right">
<div class="float_right">$9,999.00</div>

</div>
<div class="clr"></div>
</div>

<div class="clr">
<div class="order_left">Fuel Surcharge</div>
<div class="order_right">
<div class="float_right">$9,999.00</div>

</div>
<div class="clr"></div>
</div>

<div class="clr">
<div class="order_left">Estimated Tax</div>
<div class="order_right">
<div class="float_right">$9,999.00</div>

</div>
<div class="clr"></div>
</div>

<div class="clr">
<div class="order_left"><span>Promotions Applied</span></div>
<div class="order_right">
<div class="float_right"><span>$9,999.00</span></div>
</div>
<div class="clr"></div>
</div>
<div class="border"></div>
<div class="clr">
<div class="order_left">ORDER TOTAL</div>
<div class="order_right">
<div class="float_right">$9,999.00</div>
</div>
<div class="clr"></div>
</div>

</div>

<div class="clr"></div>


</div>
</div>
<script type="text/javascript" src="js2/jquery-1.7.2.min.js"></script>
<script type="text/javascript">
/* Toggle Panel start */

  $('.toggle_content').hide();  //hides the toggled content

	$('.toggle_link').click(function () {
		if ($(this).is('.toggle_close')) {
			$(this).removeClass('toggle_close').addClass('toggle_open').parent().next('.toggle_content').slideToggle(300);
			
			return false;
		} 
		
		else {
			$(this).removeClass('toggle_open').addClass('toggle_close').parent().next('.toggle_content').slideToggle(300);
			return false;
		}
	});	
/* Toggle Panel end */
</script>
</body>
</html>
