<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Checkout User Address</title>
<link type="text/css" rel="stylesheet" href="css2/reset.css" />
<link type="text/css" rel="stylesheet" href="css2/style.css" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'/>

</head>

<body>
<div id="wrapper">
<div class="container">
<div class="toggle_left">
<div class="toggle_main">
						<div class="clr">
							<!-- Tab1 starts -->
							<div class="clr">
								<div class="toggle_container">
									<div class="toggle_header">
										<div class="toggle_link toggle_open">1 - Shipping Address</div>
									</div>
									<div class="toggle_content">
										<div class="clr">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="left" valign="top" style="padding-left:10px;"><h4>Enter Your Shipping Address:</h4></td>
    <td align="right" valign="top"><span class="red_star">*</span> Required Field</td>
  </tr>
<tr><td align="right" valign="top">&nbsp;</td></tr>   
</table>
<table width="100%" border="0" cellspacing="5" cellpadding="0" align="center">
<form id="shipping_address">
  <tr>
    <td width="22%" align="right" style="padding-right:10px;">First Name<span class="red_star">*</span></td>
    <td colspan="7" align="left"><input type="text" value="" size="30" /></td>
  </tr>
  <tr>
    <td align="right" style="padding-right:10px;">Last Name<span class="red_star">*</span></td>
    <td colspan="7" align="left"><input type="text" value="" size="30" /></td>
  </tr>
  <tr>
    <td align="right" style="padding-right:10px;">Address Line1<span class="red_star">*</span></td>
    <td colspan="7" align="left"><input type="text" value="" size="40" /></td>
  </tr>
  <tr>
   <td align="right" style="padding-right:10px;">Address Line2<span class="red_star">*</span></td>
    <td colspan="7" align="left"><input type="text" value="" size="40" /></td>
  </tr>
  <tr>
    <td align="right" style="padding-right:10px;">City<span class="red_star">*</span></td>
    <td width="10%" align="left" style="padding-right:10px;"><input type="text" value="" size="15" /></td>
    <td width="16%" align="right" style="padding-right:10px;">State<span class="red_star">*</span></td>
    <td colspan="5" align="left"><select style="width:120px; height:25px;"><option></option></select></td>
  </tr>
  <tr>
    <td align="right" style="padding-right:10px;">Zip code<span class="red_star">*</span></td>
   <td width="10%" align="left" style="padding-right:10px;"><input type="text" value="" size="10" /></td>
     <td width="16%" align="right" style="padding-right:10px;">Phone Number<span class="red_star">*</span></td>
    <td width="2%" align="left"><input type="text" value="" size="1" /></td>
    <td width="2%" align="left"><input type="text" value="" size="1" /></td>
    <td width="2%" align="left"><input type="text" value="" size="1" /></td>
    <td width="6%" align="right" style="padding-right:10px;">Ext</td>
    <td width="40%" align="left"><input type="text" value="" size="1" /></td>
  </tr>
  <tr>
    <td align="left">&nbsp;</td>
    <td colspan="7" align="left">
	<div style="width:50%; background-color:#efefef; padding-left:5px;"><input type="checkbox" checked="checked"/>This is also my billing address</div>
	</td>
  </tr>
  <tr>
    <td align="left">&nbsp;</td>
    <td colspan="7" align="left">&nbsp;</td>
  </tr>
  <tr>
    <td align="left">&nbsp;</td>
    <td colspan="7" align="left">&nbsp;</td>
  </tr>
<tr>
    <td align="left">&nbsp;</td>
    <td colspan="7" align="left">&nbsp;</td>
  </tr>  
<tr>
    <td align="left">&nbsp;</td>
    <td colspan="7" align="left"><div class="button"><a href="#">Continue To Shipping Method</a></div></td>
  </tr> 
<tr>
    <td align="left">&nbsp;</td>
    <td colspan="7" align="left">&nbsp;</td>
  </tr>
 <tr>
    <td align="left">&nbsp;</td>
    <td colspan="7" align="left">&nbsp;</td>
  </tr>    
  </form>
</table>


</div>

										<div class="clr"></div>
										<div class="clr"></div>
									<div class="clr"></div>	
									</div>
								</div>
							</div>
							<!-- //Tab1 -->
						
							<!-- Tab2 starts -->
							
							<!-- //Tab2 -->
							
							<!-- Tab3 starts -->
							<div class="clr">
								
							</div>
							<!-- //Tab3 -->
						<div class="clr"></div>
						</div>
					</div>


					
</div>
<div class="toggle_right">
<div class="clr">
<div class="order_left"><div class="order_heading">Order Details:</div></div>
<div class="order_right">
<div class="blue_link"><a href="#">Edit Order</a></div>

</div>
<div class="clr"></div>
</div>

<div class="clr">&nbsp;</div>
<div class="clr">
<div class="order_left">Subtotal</div>
<div class="order_right">
<div class="float_right">$9,999.00</div>

</div>
<div class="clr"></div>
</div>

<div class="clr">
<div class="order_left">Estimated Shipping</div>
<div class="order_right">
<div class="float_right">$9,999.00</div>

</div>
<div class="clr"></div>
</div>

<div class="clr">
<div class="order_left">Fuel Surcharge</div>
<div class="order_right">
<div class="float_right">$9,999.00</div>

</div>
<div class="clr"></div>
</div>

<div class="clr">
<div class="order_left">Estimated Tax</div>
<div class="order_right">
<div class="float_right">$9,999.00</div>

</div>
<div class="clr"></div>
</div>

<div class="clr">
<div class="order_left"><span>Promotions Applied</span></div>
<div class="order_right">
<div class="float_right"><span>$9,999.00</span></div>
</div>
<div class="clr"></div>
</div>
<div class="border"></div>
<div class="clr">
<div class="order_left">ORDER TOTAL</div>
<div class="order_right">
<div class="float_right">$9,999.00</div>
</div>
<div class="clr"></div>
</div>

</div>

<div class="clr"></div>


</div>
</div>
<script type="text/javascript" src="js2/jquery-1.7.2.min.js"></script>
<script type="text/javascript">
/* Toggle Panel start */

  $('.toggle_content').hide();  //hides the toggled content

	$('.toggle_link').click(function () {
		if ($(this).is('.toggle_close')) {
			$(this).removeClass('toggle_close').addClass('toggle_open').parent().next('.toggle_content').slideToggle(300);
			
			return false;
		} 
		
		else {
			$(this).removeClass('toggle_open').addClass('toggle_close').parent().next('.toggle_content').slideToggle(300);
			return false;
		}
	});	
/* Toggle Panel end */
</script>
</body>
</html>
