<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Add to cart</title>
<link type="text/css" rel="stylesheet" href="http://saltwater2013.dev.mvisolutions.com/sitemap/css/reset.css" />
<link type="text/css" rel="stylesheet" href="http://saltwater2013.dev.mvisolutions.com/sitemap/css/style.css" />
<link href="http://saltwater2013.dev.mvisolutions.com/sitemap/css/savi.css" rel="stylesheet" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'/>

</head>

<body>
<div align="center">
<div id="wrapper">
<div class="container">

<div class="cart_box" align="center">

<div class="cart_top">
<div class="cart_left">
<div class="cart_heading">1 Item has been added to your cart</div>
<div class="clr">
<div class="float_left"><img src="http://www.saltwaterfish.com/{{item.image1}}" width="194" height="160" /></div>
<div class="cart_img_right">
{{ item.name }}
</div>
</div>
</div>
<div class="cart_right">
<div class="clr">
<div class="close">Close<span><img src="http://saltwater2013.dev.mvisolutions.com/sitemap/images1/close_button.png" width="25" height="25" /></span></div>
</div>
<div class="clr card1_txt_right">
Your Cart Contanins {{ItemCount}} items<br />
<span class="price">Order Subtotal: ${{subtotal}}</span>
</div>
<div class="button_top">
<div class="button"><a href="productlist">Continue Shopping</a></div>
<div class="button"><a href="viewcart">View Cart & checkout</a></div>
</div>
</div>
<div class="clr"></div>
</div>
<div class="cart_bottom">
<div class="cart_bottom_heading">You May Also Like</div>
<div class="slide_top">
<div class="slide_middle">
<ul>
<li>
<div class="clr">
<div class="clr"><span class="product_heading">Seachem Reef Carbonate</span><br />250ml</div>
<div class="clr padtop10">
<div class="float_left"><img src="http://saltwater2013.dev.mvisolutions.com/sitemap/images1/product_img1.jpg" /></div>
<div class="float_left padleft10">
<div class="price">$3.99</div>
<div class="clr"><a href="#"><img src="http://saltwater2013.dev.mvisolutions.com/sitemap/images1/add_tant.png" border="0" /></a></div>
</div>
</div>
<div class="clr">&nbsp;</div>
</div>
</li>
<li>
<div class="clr">
<div class="clr"><span class="product_heading">Seachem Reef Carbonate</span><br />300 gram</div>
<div class="clr padtop10">
<div class="float_left"><img src="http://saltwater2013.dev.mvisolutions.com/images1/product_img2.jpg" /></div>
<div class="float_left padleft10">
<div class="price">$5.99</div>
<div class="clr"><a href="#"><img src="http://saltwater2013.dev.mvisolutions.com/images1/add_tant.png" border="0" /></a></div>
</div>
</div>
<div class="clr">&nbsp;</div>
</div>
</li>
<li>
<div class="clr">
<div class="clr"><span class="product_heading">Seachem Reef Carbonate</span><br />500 ml</div>
<div class="clr padtop10">
<div class="float_left"><img src="http://saltwater2013.dev.mvisolutions.com/images1/product_img3.jpg" /></div>
<div class="float_left padtop10">
<div class="price">$3.99</div>
<div class="clr"><a href="#"><img src="http://saltwater2013.dev.mvisolutions.com/images1/add_tant.png" border="0" /></a></div>
</div> 
</div>
<div class="clr">&nbsp;</div>
</div>
</li>
</ul>
</div>
</div>
</div>

</div>


</div>
</div></div>
</body>
</html>