{% extends 'base.html' %}
{% block content %}
{% load tagsfilter %}
<link type="text/css" rel="stylesheet" href="/misc/css/style.css" />

<div class="float-left width4">&nbsp;&nbsp;</div>
<div class="float-left wid748">
<div class="clr">
<div class="clr">&nbsp;</div>

<div class="cart_box" align="center">
<div class="cart_top">
<div class="cart_left">
<div class="cart_heading">1 Item has been added to your cart</div>
<div class="clr">
<div class="float_left"><img src='http://commondatastorage.googleapis.com/swf_product_images/{{ item.image1|strreplace:"assets/images/" }}' width="194" height="160" /></div>
<div class="cart_img_right">
{{ item.name }}
<br>{{ item.extra_field_3 }}
<br>{{ item.extra_field_2 }}
</div>
</div>
</div>
<div class="cart_right">
<div class="clr">
<div class="close">Close<span><img src="misc/images/close_button.png" width="25" height="25" /></span></div>
</div>
<div class="clr card1_txt_right">
Your Cart Contanins {{ItemCount}} items<br />
<span class="price-final">Order Subtotal: ${{OrderSubTotal}}</span>
</div>
<div class="button_top float-right">
<div class="button-latest float-right"><a href="/productindex">Continue Shopping</a></div>
<div class="height9 clr float-right">&nbsp;</div>
<div class="button-latest"><a href="/viewcart">View Cart & checkout</a></div>
</div>
</div>
<div class="clr"></div>
</div>
<div class="cart_bottom">
<div class="cart_bottom_heading" align="left">You May Also Like</div>
<div class="slide_top">
<div class="slide_middle">
<ul>
<li>
<div class="clr">
<div class="clr"><span class="product_heading">Seachem Reef Carbonate</span><br />250ml</div>
<div class="clr padtop10">
<div class="float_left"><img src="misc/images/product_img1.jpg" /></div>
<div class="float_left padleft5">
<div class="price-final">$3.99</div>
<div class="clr"><a href="#"><img src="misc/images/add_tant.png" border="0" /></a></div>
</div>
</div>
<div class="clr">&nbsp;</div>
</div>
</li>
<li>
<div class="clr">
<div class="clr"><span class="product_heading">Seachem Reef Carbonate</span><br />300 gram</div>
<div class="clr padtop10">
<div class="float_left"><img src="misc/images/product_img2.jpg" /></div>
<div class="float_left padleft5">
<div class="price-final">$5.99</div>
<div class="clr"><a href="#"><img src="misc/images/add_tant.png" border="0" /></a></div>
</div>
</div>
<div class="clr">&nbsp;</div>
</div>
</li>
<li>
<div class="clr">
<div class="clr"><span class="product_heading">Seachem Reef Carbonate</span><br />500 ml</div>
<div class="clr padtop10">
<div class="float_left"><img src="misc/images/product_img3.jpg" /></div>
<div class="float_left">
<div class="price-final">$3.99</div>
<div class="clr"><a href="#"><img src="misc/images/add_tant.png" border="0" /></a></div>
</div>
</div>
<div class="clr">&nbsp;</div>
</div>
</li>
</ul>
</div>
</div>
</div>

</div>

</div>




</div>
<div class="float-left wid10"></div>

</div>
{% endblock content %}