<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Rma Request</title>
<link type="text/css" rel="stylesheet" href="css/reset.css" />
<link type="text/css" rel="stylesheet" href="css/style.css" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'/>

</head>

<body>
<div id="wrapper">
<div class="container">

<div class="clr pad_top20" id="rma">

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="238" height="26" align="left" valign="top" class="border"><div class="rma_heading">RMA Requests:</div></td>
    <td width="120" height="26" align="left" valign="top" class="border">&nbsp;</td>
    <td width="95" height="26" align="left" valign="top" class="border">&nbsp;</td>
    <td height="26" colspan="2" align="right" valign="top" class="border">
	Search: 
	  <input type="text" value="" />	</td>
    </tr>
<tr>
    <td width="236" height="20" align="left" valign="top" class="border_top">&nbsp;</td>
    <td height="20" align="left" valign="top" class="border_top">&nbsp;</td>
    <td height="20" align="left" valign="top" class="border_top">&nbsp;</td>
    <td width="142" height="20" align="left" valign="top" class="border_top">&nbsp;</td>
    <td width="120" height="20" align="left" valign="top" class="border_top">&nbsp;</td>
  </tr>	
  <tr>
    <td width="236" height="20" align="left" valign="top" class="border1"><div class="rma_content">Customer Name</div></td>
    <td height="20" align="left" valign="top" class="border1"><div class="rma_content1">Order#</div></td>
    <td height="20" align="left" valign="top" class="border1"><div class="rma_content1">Claim#</div></td>
    <td width="142" height="20" align="left" valign="top" class="border1"><div class="rma_content1">Date submitted</div></td>
    <td width="120" height="20" align="left" valign="top" class="border1"><div class="rma_content1">RMA status</div></td>
  </tr>
  <tr class="blue_bg">
    <td width="236" height="20" align="left" valign="top" class="border1"><div class="rma_content">Richard Smith</div></td>
    <td height="20" align="left" valign="top" class="border1"><div class="rma_content1">SWF - 121233</div></td>
    <td height="20" align="left" valign="top" class="border1"><div class="rma_content1">89898</div></td>
    <td width="142" height="20" align="left" valign="top" class="border1"><div class="rma_content1">12/20/2012</div></td>
    <td width="120" height="20" align="left" valign="top" class="border1"><div class="rma_content1">Open</div></td>
  </tr>
<tr>
    <td width="236" height="20" align="left" valign="top" class="border1"><div class="rma_content">Jack Jones</div></td>
    <td height="20" align="left" valign="top" class="border1"><div class="rma_content1">SWF - 121235</div></td>
    <td height="20" align="left" valign="top" class="border1"><div class="rma_content1">89123</div></td>
    <td width="142" height="20" align="left" valign="top" class="border1"><div class="rma_content1">12/20/2012</div></td>
    <td width="120" height="20" align="left" valign="top" class="border1"><div class="rma_content1">Closed</div></td>
  </tr>
 <tr class="blue_bg">
    <td width="236" height="20" align="left" valign="top" class="border1"><div class="rma_content">Pete Brown</div></td>
    <td height="20" align="left" valign="top" class="border1"><div class="rma_content1">SWF - 121239</div></td>
    <td height="20" align="left" valign="top" class="border1"><div class="rma_content1">89232</div></td>
    <td width="142" height="20" align="left" valign="top" class="border1"><div class="rma_content1">12/20/2012</div></td>
    <td width="120" height="20" align="left" valign="top" class="border1"><div class="rma_content1">Canceled</div></td>
  </tr>
 <tr>
    <td width="236" height="20" align="left" valign="top" class="border1"><div class="rma_content">Richard Smith</div></td>
    <td height="20" align="left" valign="top" class="border1"><div class="rma_content1">SWF - 121233</div></td>
    <td height="20" align="left" valign="top" class="border1"><div class="rma_content1">89898</div></td>
    <td width="142" height="20" align="left" valign="top" class="border1"><div class="rma_content1">12/20/2012</div></td>
    <td width="120" height="20" align="left" valign="top" class="border1"><div class="rma_content1">Open</div></td>
  </tr>
 <tr class="blue_bg">
    <td width="236" height="20" align="left" valign="top" class="border1"><div class="rma_content">Jack Jones</div></td>
    <td height="20" align="left" valign="top" class="border1"><div class="rma_content1">SWF - 121235</div></td>
    <td height="20" align="left" valign="top" class="border1"><div class="rma_content1">89123</div></td>
    <td width="142" height="20" align="left" valign="top" class="border1"><div class="rma_content1">12/20/2012</div></td>
    <td width="120" height="20" align="left" valign="top" class="border1"><div class="rma_content1">Closed</div></td>
  </tr>
 <tr>
    <td width="236" height="20" align="left" valign="top" class="border1"><div class="rma_content">Pete Brown</div></td>
    <td height="20" align="left" valign="top" class="border1"><div class="rma_content1">SWF - 121239</div></td>
    <td height="20" align="left" valign="top" class="border1"><div class="rma_content1">89232</div></td>
    <td width="142" height="20" align="left" valign="top" class="border1"><div class="rma_content1">12/20/2012</div></td>
    <td width="120" height="20" align="left" valign="top" class="border1"><div class="rma_content1">Canceled</div></td>
  </tr>
 <tr class="blue_bg">
    <td width="236" height="20" align="left" valign="top" class="border1"><div class="rma_content">Richard Smith</div></td>
    <td height="20" align="left" valign="top" class="border1"><div class="rma_content1">SWF - 121233</div></td>
    <td height="20" align="left" valign="top" class="border1"><div class="rma_content1">89898</div></td>
    <td width="142" height="20" align="left" valign="top" class="border1"><div class="rma_content1">12/20/2012</div></td>
    <td width="120" height="20" align="left" valign="top" class="border1"><div class="rma_content1">Open</div></td>
  </tr>
 <tr>
    <td width="236" height="20" align="left" valign="top" class="border1"><div class="rma_content">Jack Jones</div></td>
    <td height="20" align="left" valign="top" class="border1"><div class="rma_content1">SWF - 121235</div></td>
    <td height="20" align="left" valign="top" class="border1"><div class="rma_content1">89123</div></td>
    <td width="142" height="20" align="left" valign="top" class="border1"><div class="rma_content1">12/20/2012</div></td>
    <td width="120" height="20" align="left" valign="top" class="border1"><div class="rma_content1">Closed</div></td>
  </tr>
 <tr class="blue_bg">
    <td width="236" height="20" align="left" valign="top" class="border1"><div class="rma_content">Pete Brown</div></td>
    <td height="20" align="left" valign="top" class="border1"><div class="rma_content1">SWF - 121239</div></td>
    <td height="20" align="left" valign="top" class="border1"><div class="rma_content1">89232</div></td>
    <td width="142" height="20" align="left" valign="top" class="border1"><div class="rma_content1">12/20/2012</div></td>
    <td width="120" height="20" align="left" valign="top" class="border1"><div class="rma_content1">Canceled</div></td>
  </tr>
 <tr>
    <td width="236" height="20" align="left" valign="top" class="border1"><div class="rma_content">Richard Smith</div></td>
    <td height="20" align="left" valign="top" class="border1"><div class="rma_content1">SWF - 121233</div></td>
    <td height="20" align="left" valign="top" class="border1"><div class="rma_content1">89898</div></td>

    <td width="142" height="20" align="left" valign="top" class="border1"><div class="rma_content1">12/20/2012</div></td>
    <td width="120" height="20" align="left" valign="top" class="border1"><div class="rma_content1">Open</div></td>
  </tr>
 <tr class="blue_bg">
    <td width="236" height="20" align="left" valign="top" class="border1"><div class="rma_content">Jack Jones</div></td>
    <td height="20" align="left" valign="top" class="border1"><div class="rma_content1">SWF - 121235</div></td>
    <td height="20" align="left" valign="top" class="border1"><div class="rma_content1">89123</div></td>
    <td width="142" height="20" align="left" valign="top" class="border1"><div class="rma_content1">12/20/2012</div></td>
    <td width="120" height="20" align="left" valign="top" class="border1"><div class="rma_content1">Closed</div></td>
  </tr>
 <tr>
    <td width="236" height="20" align="left" valign="top" class="border1"><div class="rma_content">Pete Brown</div></td>
    <td height="20" align="left" valign="top" class="border1"><div class="rma_content1">SWF - 121239</div></td>
    <td height="20" align="left" valign="top" class="border1"><div class="rma_content1">89232</div></td>
    <td width="142" height="20" align="left" valign="top" class="border1"><div class="rma_content1">12/20/2012</div></td>
    <td width="120" height="20" align="left" valign="top" class="border1"><div class="rma_content1">Canceled</div></td>
  </tr>
 <tr class="blue_bg">
    <td width="236" height="20" align="left" valign="top" class="border1"><div class="rma_content">Richard Smith</div></td>
    <td height="20" align="left" valign="top" class="border1"><div class="rma_content1">SWF - 121233</div></td>
    <td height="20" align="left" valign="top" class="border1"><div class="rma_content1">89898</div></td>
    <td width="142" height="20" align="left" valign="top" class="border1"><div class="rma_content1">12/20/2012</div></td>
    <td width="120" height="20" align="left" valign="top" class="border1"><div class="rma_content1">Open</div></td>
  </tr>
 <tr>
    <td width="236" height="20" align="left" valign="top" class="border1"><div class="rma_content">Jack Jones</div></td>
    <td height="20" align="left" valign="top" class="border1"><div class="rma_content1">SWF - 121235</div></td>
    <td height="20" align="left" valign="top" class="border1"><div class="rma_content1">89123</div></td>
    <td width="142" height="20" align="left" valign="top" class="border1"><div class="rma_content1">12/20/2012</div></td>
    <td width="120" height="20" align="left" valign="top" class="border1"><div class="rma_content1">Closed</div></td>
  </tr>
 <tr class="blue_bg">
    <td width="236" height="20" align="left" valign="top" class="border1"><div class="rma_content">Pete Brown</div></td>
    <td height="20" align="left" valign="top" class="border1"><div class="rma_content1">SWF - 121239</div></td>
    <td height="20" align="left" valign="top" class="border1"><div class="rma_content1">89232</div></td>
    <td width="142" height="20" align="left" valign="top" class="border1"><div class="rma_content1">12/20/2012</div></td>
    <td width="120" height="20" align="left" valign="top" class="border1"><div class="rma_content1">Canceled</div></td>
  </tr>
 <tr>
    <td width="236" height="20" align="left" valign="top" class="border1"><div class="rma_content">Richard Smith</div></td>
    <td height="20" align="left" valign="top" class="border1"><div class="rma_content1">SWF - 121233</div></td>
    <td height="20" align="left" valign="top" class="border1"><div class="rma_content1">89898</div></td>
    <td width="142" height="20" align="left" valign="top" class="border1"><div class="rma_content1">12/20/2012</div></td>
    <td width="120" height="20" align="left" valign="top" class="border1"><div class="rma_content1">Open</div></td>
  </tr>
 <tr class="blue_bg">
    <td width="236" height="20" align="left" valign="top" class="border1"><div class="rma_content">Jack Jones</div></td>
    <td height="20" align="left" valign="top" class="border1"><div class="rma_content1">SWF - 121235</div></td>
    <td height="20" align="left" valign="top" class="border1"><div class="rma_content1">89123</div></td>
    <td width="142" height="20" align="left" valign="top" class="border1"><div class="rma_content1">12/20/2012</div></td>
    <td width="120" height="20" align="left" valign="top" class="border1"><div class="rma_content1">Closed</div></td>
  </tr>
 <tr>
    <td width="236" height="20" align="left" valign="top" class="border1"><div class="rma_content">Pete Brown</div></td>
    <td height="20" align="left" valign="top" class="border1"><div class="rma_content1">SWF - 121239</div></td>
    <td height="20" align="left" valign="top" class="border1"><div class="rma_content1">89232</div></td>
    <td width="142" height="20" align="left" valign="top" class="border1"><div class="rma_content1">12/20/2012</div></td>
    <td width="120" height="20" align="left" valign="top" class="border1"><div class="rma_content1">Canceled</div></td>
  </tr>
 <tr class="blue_bg">
    <td width="236" height="20" align="left" valign="top" class="border1"><div class="rma_content">Richard Smith</div></td>
    <td height="20" align="left" valign="top" class="border1"><div class="rma_content1">SWF - 121233</div></td>
    <td height="20" align="left" valign="top" class="border1"><div class="rma_content1">89898</div></td>
    <td width="142" height="20" align="left" valign="top" class="border1"><div class="rma_content1">12/20/2012</div></td>
    <td width="120" height="20" align="left" valign="top" class="border1"><div class="rma_content1">Open</div></td>
  </tr>
 <tr>
    <td width="236" height="20" align="left" valign="top" class="border1"><div class="rma_content">Jack Jones</div></td>
    <td height="20" align="left" valign="top" class="border1"><div class="rma_content1">SWF - 121235</div></td>
    <td height="20" align="left" valign="top" class="border1"><div class="rma_content1">89123</div></td>
    <td width="142" height="20" align="left" valign="top" class="border1"><div class="rma_content1">12/20/2012</div></td>
    <td width="120" height="20" align="left" valign="top" class="border1"><div class="rma_content1">Closed</div></td>
  </tr>
 <tr class="blue_bg">
    <td width="236" height="20" align="left" valign="top" class="border1"><div class="rma_content">Pete Brown</div></td>
    <td height="20" align="left" valign="top" class="border1"><div class="rma_content1">SWF - 121239</div></td>
    <td height="20" align="left" valign="top" class="border1"><div class="rma_content1">89232</div></td>
    <td width="142" height="20" align="left" valign="top" class="border1"><div class="rma_content1">12/20/2012</div></td>
    <td width="120" height="20" align="left" valign="top" class="border1"><div class="rma_content1">Canceled</div></td>
  </tr>                     
</table>

</div>


</div>
</div>
</body>
</html>
