{% extends 'base.html' %}
{% block content %}
<link type="text/css" rel="stylesheet" href="/misc/category.css" />
<style>
body {
    color: #434343;
    font-family: 'Open Sans',sans-serif; 
    font-size: 12px !important;
    line-height: 20px;
}
.content-label {
    color: #000000;
    font-family: "PT Sans";
    font-size: 12px;
    font-weight: bold;
    line-height: normal;
    text-align: right;
    text-decoration: none;
    text-transform: capitalize;
    width: 100px;
}
</style>
{% load tagsfilter %}
<style type="text/css">
<!--
.greentext {color: #00CC00; font-size: 12px;}
.redtext {color: #FF0000; font-size: 12px;}
label.error { float: none; color: red; padding-left: .5em; vertical-align: top; }
-->
</style>
<script language="javascript" type="text/javascript" src="/misc/js/jquery-1.7.2.min.js"></script>
<script language="javascript" type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"></script>
<script>
$(function() {

   $( "#form"  ).submit(function() {
      var thisform = $('#form');
	  if (thisform.valid()) 
        return true;
      else
	  {
         alert("Please fill all the mandatory fields.");
	  }
      return false;
     });

   $( "#changepwdform" ).validate({
           rules: {
                   {{ form.username.html_name }}: {
                           required: true,
                           maxlength: 30,
                           customvalidation: true
                   },

                   {{ form.old_password.html_name }}: {
                       required: true,
                       maxlength: 30,
                   },
                   
                   {{ form.new_password.html_name }}: {
                       required: true,
                       maxlength: 30,
                   }

           },

           messages: {
                   {{ form.username.html_name }}: {
                           required: "*",
                   },
                   
                   {{ form.old_password.html_name }}: {
                       required: "*",
                   },

                   {{ form.new_password.html_name }}: {
                       required: "*",
                   }

           },

           errorPlacement: function(error, element){
                            error.insertAfter(element);
                       },
                   
           showErrors: function(errorMap, errorList){
                              this.defaultShowErrors();
                       }
   });

   $.validator.addMethod("customvalidation",
           function(value, element) {
		     if (element.name == '{{ form.username.html_name }}')
	                   return /^[A-Za-z\d_\.-]+@[A-Za-z\d_\.-]+\.[A-Za-z\d_\.-]+$/.test(value);
           },
   ""
   );

});
</script>
<div class="float-left width10">&nbsp;&nbsp;</div>
<div class="float-left wid748 padtop5">
<div class="clr my_account_link padbottom13">Home  <span> &gt; My Account</span>  <span> &gt; Password Change </span></div>
 <div class="clr my_account_title padtop10 padbottom13">Password Change </div>
<div class="clr myaccount_bg1">
 
  
    
       
      <form name="changepwdform" id="changepwdform" action="/setnewpassword" method="post">
        {% csrf_token %}
        
        <div class=" " >{% if message or error_message %}
          <p class="greentext">{{ message }} <span class="redtext">{{ error_message }}</span></p>
          {% endif %}</div>
        <div class="height23 clr">&nbsp;&nbsp;</div>
		<table cellpadding=5>
		<tr>
			<td>Email:</td>
			<td>{{ form.username }}</td>
		</tr>
		<tr>
			<td>Old Password:</td>
			<td>{{ form.old_password }}</td>
		</tr>
		<tr>
			<td>New Password:</td>
			<td>{{ form.new_password }}</td>
		</tr>
		<tr>
			<td></td><td><input type=image src="misc/images/submit.jpg" width="76" height="25" border="0" /> </td>
			 
		</tr>
		</table>
        
 
      </form>
    </div>
  </div>
</div>
  
<div class="float-left width10"></div>

</div>
{% endblock content %} 