<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Checkout User Address</title>
<link type="text/css" rel="stylesheet" href="css2/reset.css" />
<link type="text/css" rel="stylesheet" href="css2/style.css" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'/>

</head>

<body>
<div id="wrapper">
<div class="container">
<div class="toggle_left">
<div class="toggle_main">
						<div class="clr">
							<!-- Tab1 starts -->
							<div class="clr">
								<div class="toggle_container">
									<div class="toggle_header">
										<div class="toggle_link toggle_open">1 - Shipping Address</div>
									</div>
									<div class="toggle_content">
										<div class="clr">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="left" valign="top" style="padding-left:10px;"><h4>Enter Your Shipping Address:</h4></td>
    <td align="right" valign="top"><span class="red_star">*</span> Required Field</td>
  </tr>
<tr><td align="right" valign="top">&nbsp;</td></tr>   
</table>
<table width="100%" border="0" cellspacing="5" cellpadding="0" align="center">
<form id="shipping_address">
  <tr>
    <td width="22%" align="right" style="padding-right:10px;">First Name<span class="red_star">*</span></td>
    <td colspan="7" align="left"><input type="text" value="" size="30" /></td>
  </tr>
  <tr>
    <td align="right" style="padding-right:10px;">Last Name<span class="red_star">*</span></td>
    <td colspan="7" align="left"><input type="text" value="" size="30" /></td>
  </tr>
  <tr>
    <td align="right" style="padding-right:10px;">Address Line1<span class="red_star">*</span></td>
    <td colspan="7" align="left"><input type="text" value="" size="40" /></td>
  </tr>
  <tr>
   <td align="right" style="padding-right:10px;">Address Line2<span class="red_star">*</span></td>
    <td colspan="7" align="left"><input type="text" value="" size="40" /></td>
  </tr>
  <tr>
    <td align="right" style="padding-right:10px;">City<span class="red_star">*</span></td>
    <td width="10%" align="left" style="padding-right:10px;"><input type="text" value="" size="15" /></td>
    <td width="16%" align="right" style="padding-right:10px;">State<span class="red_star">*</span></td>
    <td colspan="5" align="left"><select style="width:120px; height:25px;"><option></option></select></td>
  </tr>
  <tr>
    <td align="right" style="padding-right:10px;">Zip code<span class="red_star">*</span></td>
   <td width="10%" align="left" style="padding-right:10px;"><input type="text" value="" size="10" /></td>
     <td width="16%" align="right" style="padding-right:10px;">Phone Number<span class="red_star">*</span></td>
    <td width="2%" align="left"><input type="text" value="" size="1" /></td>
    <td width="2%" align="left"><input type="text" value="" size="1" /></td>
    <td width="2%" align="left"><input type="text" value="" size="1" /></td>
    <td width="6%" align="right" style="padding-right:10px;">Ext</td>
    <td width="40%" align="left"><input type="text" value="" size="1" /></td>
  </tr>
  <tr>
    <td align="left">&nbsp;</td>
    <td colspan="7" align="left">
	<div style="width:50%; background-color:#efefef; padding-left:5px;"><input type="checkbox" checked="checked"/>This is also my billing address</div>
	</td>
  </tr>
  <tr>
    <td align="left">&nbsp;</td>
    <td colspan="7" align="left">&nbsp;</td>
  </tr>
  <tr>
    <td align="left">&nbsp;</td>
    <td colspan="7" align="left">&nbsp;</td>
  </tr>
<tr>
    <td align="left">&nbsp;</td>
    <td colspan="7" align="left">&nbsp;</td>
  </tr>  
<tr>
    <td align="left">&nbsp;</td>
    <td colspan="7" align="left"><div class="button"><a href="#">Continue To Shipping Method</a></div></td>
  </tr> 
<tr>
    <td align="left">&nbsp;</td>
    <td colspan="7" align="left">&nbsp;</td>
  </tr>
 <tr>
    <td align="left">&nbsp;</td>
    <td colspan="7" align="left">&nbsp;</td>
  </tr>    
  </form>
</table>


</div>

										<div class="clr"></div>
										<div class="clr"></div>
									<div class="clr"></div>	
									</div>
								</div>
							</div>
							<!-- //Tab1 -->
						
							<!-- Tab2 starts -->
							<div class="clr">
								<div class="toggle_container">
									<div class="toggle_header">
										<div class="toggle_link toggle_open">2 - Shipping Method</div>
									</div>
									<div class="toggle_content">
										<div class="shipping_method">
<div class="clr">Please select a shipping method for each category of items you’ ve ordered:</div>
<div class="toggle_main">
						<div class="clr">
							<!-- Tab1 starts -->
							<div class="clr">
								<div class="toggle_container">
									<div class="toggle_header">
										<div class="toggle_link toggle_open">Live Marine Life</div>
									</div>
									<div class="toggle_content">
										Live Marine Life Shipping method:<br />
										Marine Life Arrival Date<br />
										<p>Unless you request a specific date, we will ship your Marine Life order to arrive at
the earliest possible date. We will notify you by e-mail, if for some reason, your 
request cannot be honored.</p>
Estimated Delivery Date:              01/01/2012<br />
<div class="blue_link"><a href="#">Change Delivery Dates Or Upgrade Shipping Options</a></div>
<input type="radio" />&nbsp;&nbsp;Overnight Shipping with Priority Upgrade ($99.99)<br />
* This Category Requires a Fuel Surcharge of $9.99<br /><br />
<div class="clr">
<div class="float_left" style="width:80%;">
Hold Package FedEx Location<br />
If you would like your package held at a FedEx Location Please check here. This option
will allow you to pick up your package at your convenience anytime after 9 a.m. on the day
it is Scheduled to arrive. You must provide the FedEv station address as your delivery
address at the time you place order. If  you need to change your delivery address
please use the “new address” selection in the Address Book option above.
Call 1 -800 -GOFEDEX for the station nearest you <span class="blue_text">or click here to use the online FedEx location tool.</span>
</div>
<div class="float_left" style="width:15%; margin-left:20px; margin-top:100px;">
<select><option>No</option></select>
</div>
<div class="clr">&nbsp;</div>
</div>

<div class="clr">
<div class="button"><a href="#">Continue To Next Category</a></div>
<div class="clr">&nbsp;</div>
</div>
										<div class="clr"></div>
										<div class="clr"></div>
									<div class="clr"></div>	
									</div>
								</div>
							</div>
							<!-- //Tab1 -->
						
							<!-- Tab2 starts -->
							<div class="clr">
								<div class="toggle_container">
									<div class="toggle_header">
										<div class="toggle_link toggle_open">Aquarium Supplies</div>
									</div>
									<div class="toggle_content">
										Delivery Notifications:<br />
										<input type="checkbox" />&nbsp;&nbsp;Receive Delivery Notifications Via Email<br />
										<input type="checkbox" />&nbsp;&nbsp;Receive Delivery Notifications Via SMS<br />
										Enter your mobile number:&nbsp;&nbsp;<input type="text" value="" />
										<div class="clr">&nbsp;</div>
										<div class="clr"><div class="button"><a href="#">Continue To Next Category</a></div></div>
										<div class="clr">&nbsp;</div>
									<div class="clr"></div>
									</div>
								</div>
							</div>
							<!-- //Tab2 -->
							
							<!-- Tab3 starts -->
							<div class="clr">
								
							</div>
							<!-- //Tab3 -->
						<div class="clr"></div>
						</div>
					</div>
</div>
									<div class="clr"></div>
									</div>
								</div>
							</div>
							<!-- //Tab2 -->
							
							<!-- Tab3 starts -->
							<div class="clr">
								<div class="toggle_container">
									<div class="toggle_header">
										<div class="toggle_link toggle_open">3 - Payment Information</div>
									</div>
									<div class="toggle_content">
									<div class="order_detail_form">
<div class="clr"><div class="order_detail">Order Details</div></div>
<div class="clr">
<table width="91%" border="1" cellspacing="0" cellpadding="0">
  <tr class="blue_bg">
    <td width="10%" align="center" valign="top" class="border"><strong>QTY</strong></td>
    <td width="67%" align="let" valign="top" class="border" style="padding-left:10px;"><strong>Item</strong></td>
    <td width="22%" align="left" valign="top" class="border" style="padding-left:10px;"><strong>Price</strong></td>
  </tr>
  <tr>
    <td align="center" valign="top" class="border">1</td>
    <td align="let" valign="top" class="border" style="padding-left:10px;">25 Assorted Hermit Crabs + 25 Assorted Cleaner Snails - Limit 1</td>
    <td align="left" valign="top" class="border" style="padding-left:10px;">$    9,111.99</td>
  </tr>
  <tr class="blue_bg">
    <td align="center" valign="top" class="border">3</td>
    <td align="let" valign="top" class="border" style="padding-left:10px;">25 Assorted Hermit Crab</td>
    <td align="left" valign="top" class="border" style="padding-left:10px;">$    9,111.99</td>
  </tr>
 <tr>
    <td align="center" valign="top" class="border">1</td>
    <td align="let" valign="top" class="border" style="padding-left:10px;">25 Assorted Hermit Crabs + 25 Assorted Cleaner Snails - Limit 1</td>
    <td align="left" valign="top" class="border" style="padding-left:10px;">$    9,111.99</td>
  </tr>
 <tr>
   <td align="center" valign="top" class="border">&nbsp;</td>
   <td align="let" valign="top" class="border" style="padding-left:10px;">&nbsp;</td>
   <td align="left" valign="top" class="border" style="padding-left:10px;">&nbsp;</td>
 </tr>
 <tr>
   <td align="center" valign="top" class="border">&nbsp;</td>
   <td align="right" valign="top" class="border" style="padding-right:10px;">Subtotal:</td>
   <td align="left" valign="top" class="border" style="padding-left:10px;">$    9,333.22</td>
 </tr>
 <tr>
   <td align="center" valign="top" class="border">&nbsp;</td>
   <td align="right" valign="top" class="border" style="padding-right:10px;">Shipping Total:</td>
   <td align="left" valign="top" class="border" style="padding-left:10px;">$    3,333.33</td>
 </tr>
 <tr>
   <td align="center" valign="top" class="border">&nbsp;</td>
   <td align="right" valign="top" class="border" style="padding-right:10px;">Fuel Surcharge:</td>
   <td align="left" valign="top" class="border" style="padding-left:10px;">$&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;99.99</td>
 </tr>
 <tr>
   <td align="center" valign="top" class="border">&nbsp;</td>
   <td align="right" valign="top" class="border orange_text" style="padding-right:10px;">Disounts Applied:</td>
   <td align="left" valign="top" class="border orange_text" style="padding-left:10px;">$&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(99.93)</td>
 </tr>
 <tr>
   <td align="center" valign="top" class="border">&nbsp;</td>
   <td align="right" valign="top" class="border green_text" style="padding-right:10px;">Gift Certificate Applied:</td>
   <td align="left" valign="top" class="border green_text" style="padding-left:10px;">$(9,999.00)</td>
 </tr>
 <tr>
   <td align="center" valign="top" class="border">&nbsp;</td>
   <td align="right" valign="top" class="border" style="padding-right:10px;">Total:</td>
   <td align="left" valign="top" class="border" style="padding-left:10px;">$&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.00</td>
 </tr> 
</table>

<div class="order_detail_content">
<div class="order_content_heading">Gift Certificate</div>
<div class="clr"><span class="dark_bg">Apply</span>Gift Certificate Value of $9,999.00 Available would you like to apply this to your order?</div>
<div class="clr">&nbsp;</div>
<div class="clr">&nbsp;</div>
<div class="order_content_heading">Enter your Credit card Information:</div>
<div class="clr">Use Previously Saved Credit Card:</div>
<div class="clr"><input type="radio" />&nbsp;Account Ending in xxx - xxx - 9999&nbsp;<span class="blue_link">Delete</span> </div>
<div class="clr"><input type="radio" />&nbsp;Account Ending in xxx - xxx - 9999&nbsp;<span class="blue_link">Delete</span></div>
<div class="clr" style="padding-top:30px;">
<table width="100%" border="0" cellspacing="5" cellpadding="0">
  <tr>
    <td align="left" valign="top" style="padding-left:10px;">Card&nbsp;Holder&nbsp;Name</td>
    <td colspan="5" align="left" valign="top"><input type="text" value="" /></td>
  </tr>
  <tr>
    <td align="left" valign="top" style="padding-left:10px;">Card Type</td>
    <td colspan="4" align="left" valign="top"><select style="width:230px;"><option>VISA</option></select></td>
    <td width="22%" align="left" valign="top"><img src="images2/paypal_icon.jpg" /></td>
  </tr>
  <tr>
    <td align="left" valign="top" style="padding-left:10px;">Card Number </td>
    <td width="14%" align="left" valign="top"><input type="text" value="" size="15" /></td>
    <td width="15%" align="left" valign="top">Exp Date </td>
    <td width="35%" align="left" valign="top"><input type="text" value="" size="15" />&nbsp;(MM/YY)</td>
    <td width="15%" align="left" valign="top">&nbsp;</td>
    <td align="right" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="top" style="padding-left:10px;">CVN</td>
    <td colspan="4" align="left" valign="top"><input type="text" value="" size="8" />&nbsp;<span class="blue_link"><a href="#">What's this?</a></span></td>
    <td align="right" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="5" align="left" valign="top" style="padding-left:10px;">
	<input type="checkbox" />&nbsp;<span class="blue_text">Save this Credit card for future purchases</span>
	</td>
    <td align="right" valign="top">&nbsp;</td>
  </tr>
</table>

</div>
<div class="clr" style="padding-top:30px;">
<div class="order_content_heading">Create An Account:</div>
<div class="clr">In Order to proceed you are required to create an account. The account is used for<br />
In Order to proceed you are required to create an account. The account is used for</div>
<div class="login">
<form>
<div class="clr" style="padding-bottom:10px;"><label>Email Address</label><input type="text" value="" /></div>
<div class="clr" style="padding-bottom:10px;"><label>Password</label><input type="text" value="" /></div>
</form>
</div>
</div>

<div class="clr" style="padding-top:30px;">
<div class="order_content_heading">Comments About Your Order:</div>
<div class="clr">Enter any comments you may have about your order for the staff to view.</div>
<div class="clr">
<textarea class="border" style="width:80%; height:80px;"></textarea>
</div>
<div class="clr">&nbsp;</div>
<div class="clr"><div class="button"><a href="#">Place Order</a></div></div>
<div class="clr">&nbsp;</div>
</div>

</div>



</div>
</div>
									<div class="clr"></div>
									</div>
								</div>
							</div>
							<!-- //Tab3 -->
						<div class="clr"></div>
						</div>
					</div>


					
</div>
<div class="toggle_right">
<div class="clr">
<div class="order_left"><div class="order_heading">Order Details:</div></div>
<div class="order_right">
<div class="blue_link"><a href="#">Edit Order</a></div>

</div>
<div class="clr"></div>
</div>

<div class="clr">&nbsp;</div>
<div class="clr">
<div class="order_left">Subtotal</div>
<div class="order_right">
<div class="float_right">$9,999.00</div>

</div>
<div class="clr"></div>
</div>

<div class="clr">
<div class="order_left">Estimated Shipping</div>
<div class="order_right">
<div class="float_right">$9,999.00</div>

</div>
<div class="clr"></div>
</div>

<div class="clr">
<div class="order_left">Fuel Surcharge</div>
<div class="order_right">
<div class="float_right">$9,999.00</div>

</div>
<div class="clr"></div>
</div>

<div class="clr">
<div class="order_left">Estimated Tax</div>
<div class="order_right">
<div class="float_right">$9,999.00</div>

</div>
<div class="clr"></div>
</div>

<div class="clr">
<div class="order_left"><span>Promotions Applied</span></div>
<div class="order_right">
<div class="float_right"><span>$9,999.00</span></div>
</div>
<div class="clr"></div>
</div>
<div class="border"></div>
<div class="clr">
<div class="order_left">ORDER TOTAL</div>
<div class="order_right">
<div class="float_right">$9,999.00</div>
</div>
<div class="clr"></div>
</div>

</div>

<div class="clr"></div>


</div>
</div>
<script type="text/javascript" src="js2/jquery-1.7.2.min.js"></script>
<script type="text/javascript">
/* Toggle Panel start */

  $('.toggle_content').hide();  //hides the toggled content

	$('.toggle_link').click(function () {
		if ($(this).is('.toggle_close')) {
			$(this).removeClass('toggle_close').addClass('toggle_open').parent().next('.toggle_content').slideToggle(300);
			
			return false;
		} 
		
		else {
			$(this).removeClass('toggle_open').addClass('toggle_close').parent().next('.toggle_content').slideToggle(300);
			return false;
		}
	});	
/* Toggle Panel end */
</script>
</body>
</html>
