{% include 'admin_header.htm' %}
{% load tagsfilter %}
<div class="clr white-bg">
<div class="clr content-bg padbottom10">
<table width="100%" border="0">
  <tr>
    <td align="left" valign="top" class="left-text">
	{% include 'left_menu_crm.htm' %}
	</td>
    <td class="ver_line"></td>
    <td>
	<table width="100%" border="0">
  <tr>
    <td class="left-text padtop10">CRM > View/Edit</td>
  </tr>
  <tr>
    <td class="padtop10 padbottom10">
	<div class="float_left left-text1">View/Edit</div>
	<div class="float_right marright15">
<div class="search1">
<div class="search1_box"><input name="Input" type="text"  placeholder="Search saltwaterfish.com"/></div>
<div class="search1_submit"><input type="submit" name="Submit"  value="Search" /></div>
</div>
</div>	</td>
  </tr>
  
  
    <tr>
    <td class="hor_line"></td>
  </tr>
   <tr>
   
    <td class="clr padtop5">
 {% if count > 101 %}	
	<div style="clear:both; width:800px; height:21px; line-height:21px; " class="records">Records:<b>{{count}} </b> Page {{page_num}} of {% widthratio count 100 1 %} |&nbsp;Goto Page: <a href="/acrm?page=1">First</a> 
{% if page_num < 2 %}
<a href="/acrm?page=1">Previous</a>
{% elif page_num >= 2 %}
    <a href="/acrm?page={{page_num|add:-1}}">Previous</a>
{% endif %}


| <a href="/acrm?page={{page_num|add:+1}}">Next </a> &nbsp<a href="/acrm?page={% widthratio count 100 1 %}">Last</a></span>
</div>
{% endif %}
</td>
  </tr>
  
  
   <tr>
    <td  class="customers_edit_table black-brdr"><form method="post" action="/crmactions" method=post>
		{% csrf_token %} 
		<input type="hidden" name="action" value="massaction"><table width="98%" border="1" cellspacing="0" cellpadding="2">
  <tr>
    <td width="3%"  align="center" valign="middle" class="yell-bg" ><img src="misc/images/check-box.png" width="14" height="13" border="0" /></td>
	 <td width="9%"  align="center" valign="middle" class="yell-bg"  >ID</td>
    <td width="13%"  align="center" valign="middle" class="yell-bg" >Department</td>
     <td width="11%" align="center" valign="middle" class="yell-bg" >Date</td>
     <td width="29%" align="center" valign="middle" class="yell-bg"  >Cutomer/Subject</td>
     <td width="13%"  align="center" valign="middle"  class="yell-bg" >Last Action</td>
    
     <td width="12%"  align="center" valign="middle" class="yell-bg" >Actions</td>
  </tr>
  {% for item in allitems %}
  <tr class="{% cycle 'rose-bg' 'blue-bg' %}">
       <td align="center" valign="middle"  ><input type=checkbox name="delid" value="{{item.id}}"></td>
       <td align="left" valign="middle"  ><span class="padleft10"><a href="/crmedit?id={{item.id}}">{{item.id}} {{item.billing_lastname}}</a></span></td>
  <td align="left" valign="middle"  ><span class="padleft10">{% for dep in item.departmentid|crmdepartment %} {{dep.department}} {% endfor %}</span></td>
      <td align="left" valign="middle"   ><span class="padleft10">{{item.datentime}}</span></td>
     <td align="left" valign="middle" class=""  ><span class="">{{item.customer}}<br>{{item.subject}}</span></td>
      <td align="left" valign="middle"  ><span class="padleft10">{% for dep in item.id|crmlastmessage %} {%if dep.sender == 1 %}Customer {%else%} Staff{% endif %} {% endfor %}</span></td>
  <td align="left" valign="middle" class=" "><table width="80%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><a href="/crmedit?id={{item.id}}"><img src="misc/images/edit.jpg" width="63" height="19" border="0" /></a></td>
    
     
  </tr>
</table>
</td>

  </tr>
    {% empty %}
	<em class="formee-req">No Records</em>
{% endfor %}
   
</table></td>
  </tr><tr>
   
    <td class="clr padtop5">
	<div style="clear:both; width:800px; height:21px; line-height:21px; " class="records">Records:<b>{{count}} </b> Page {{page_num}} of {% widthratio count 100 1 %} |&nbsp;Goto Page: <a href="/acrm?page=1">First</a> 
{% if page_num < 2 %}
<a href="/acrm?page=1">Previous</a>
{% elif page_num >= 2 %}
    <a href="/acrm?page={{page_num|add:-1}}">Previous</a>
{% endif %}


| <a href="/acrm?page={{page_num|add:+1}}">Next </a> &nbsp<a href="/acrm?page={% widthratio count 100 1 %}">Last</a></span>
</div></td>
  </tr>
  <tr>
   
    <td class="clr padtop5">
	<div style="clear:both; width:800px; height:21px; line-height:21px; " class="records"><table width="100%" border="0" cellspacing="0" cellpadding="0" align="left">
  <tr>
    <td>&nbsp;</td>
    <td align="right">Batch Action:</td>
    <td align="left" style="padding-top:5px; padding-left:5px;"><select name="status" class="entrybox" id="statusc">
						<option value="">With selected ticket(s):</option>
						<option value="">-----------------------------------</option>
						<option value="">Move to:</option>
						<option value="1">New</option><option value="2">In Process</option><option value="3">On Hold</option><option value="4">Completed</option>
						<option value="">-----------------------------------</option>
						<option value="delete">Delete Selected</option>
						<option value="">-----------------------------------</option>
					</select></td>
    <td style="padding-top:5px;"><input type=image src="misc/images/apply.jpg" width="72" height="20" border="0" /></td>
  </tr>
</table></form>
</div></td>
  </tr>
</table>
	
	
	
	</td>
  </tr>
</table>
</div>
</div>

{% include 'admin_footer.html' %}