{% include 'admin_header.htm' %}
{% load tagsfilter %}
<div class="white-bg clr">
<div class="content-bg clr padbottom10">
<table width="100%" border="0">
  <tr>
    <td align="left" valign="top"  class="left-text padleft10">{% include 'left_menu_customers.htm' %}</td>
    <td class="border-line"></td>
    <td><table width="100%" border="0">
	<tr><td class="left-text padtop10">Customers > Add New</td></tr>
<tr><td class="padtop10 padbottom10">
<div class="left-text1 float-left">Add New</div>
<div class="float-right marright15"><div class="search1">
<div class="float-left wid230"><input name="Input" type="text"  placeholder="Search saltwaterfish.com"/></div>
<div class="float-left wid69"><input type="submit" name="Submit"  value="Search" /></div></div></div>	
</td></tr> 
  <tr><td class="border-line">&nbsp;</td></tr>
  <tr><td class="padtop10 wid763"> <div class="tabcontents1">
				  <div id="view1" class="tabcontent1 selected">
<div class="order-txt order-next">Customer Information</div>
<div class="padtop20 clr">
 
 <form method="post" action="/addcustomer" method=post name="addcustomer">
{% csrf_token %}
</div>
<table width="100%" border="0">
  <tr>
    <td><input type="hidden" name="action" value="add"> </td>
  </tr>
  <tr>
    <td class="cate1">Login Information</td>
  </tr>
  <tr>
    <td class="text1 padleft10"><table width="90%" border="0" align="left">
  <tr>
    <td width="30%">Email</td>
    <td><input name="email" type="text" class="text-box-cms" value="{{customer.email}}"  /></td>
  </tr>
</table>
</td>
  </tr>
<tr>
    <td class="text1 customer_info_bot"><table width="90%" border="0" align="left">
  <tr>
     <td width="30%">
Password</td>
    <td><input name="pass_field" type="password" class="text-box-cms" value="{{customer.pass_field}}" />&nbsp;&nbsp;&nbsp;&nbsp;<img src="images/login-acc.jpg" /></td>
  </tr>
</table>
</td>
  </tr>
  </tr>
  <tr>
  <td class="cate1">Billing Information</td>
  </tr>
<tr>
    <td class="text1 padleft10"><table width="90%" border="0" align="left">
  <tr>
     <td width="30%">Company</td>
    <td><input name="billing_company" type="text" class="text-box-cms"  value="{{customer.billing_company}}" /></td>
  </tr>
</table>
</td>
  </tr>
<tr>
    <td class="text1 padleft10"><table width="90%" border="0" align="left">
  <tr>
    <td width="30%">
First Name</td>
    <td><input name="billing_firstname" type="text" class="text-box-cms"  value="{{customer.billing_firstname}}" /></td>
  </tr>
</table>
</td>
  </tr>
<tr>
    <td class="text1 padleft10"><table width="90%" border="0" align="left">
  <tr>
  <td width="30%">Last Name</td>
    <td><input name="billing_lastname" type="text" class="text-box-cms" value="{{customer.billing_lastname}}" /></td>
  </tr>
</table>
</td>
  </tr>
  <tr>
    <td class="text1 padleft10"><table width="90%" border="0" align="left">
  <tr>
     <td width="30%">Address</td>
    <td><input name="billing_address" type="text" class="text-box-cms" value="{{customer.billing_address}}" /></td>
  </tr>
</table>
</td>
  </tr>
<tr>
    <td class="text1 padleft10"><table width="90%" border="0" align="left">
  <tr>
     <td width="30%">Address2</td>
    <td><input name="billing_address2" type="text" class="text-box-cms" value="{{customer.billing_address2}}" /></td>
  </tr>
</table>
</td>
  </tr>
<tr>
    <td class="text1 padleft10"><table width="90%" border="0" align="left">
  <tr>
    <td width="30%">City</td>
    <td><input name="billing_city" type="text" class="text-box-cms" value="{{customer.billing_city}}" /></td>
  </tr>
</table>
</td>
  </tr>
<tr>
    <td class="text1 padleft10"><table width="90%" border="0" align="left">
  <tr>
    <td width="30%">State</td>
    <td><select name="billing_state" class="text-box-cms" >{% for places in "states"|shippingcountries %}<option value={{places.name_short}}>{{places.name_short}}</option>{% endfor %}</select></td>
  </tr>
</table>
</td>
  </tr>
<tr>
    <td class="text1 padleft10"><table width="90%" border="0" align="left">
  <tr>
     <td width="30%">Zip Code</td>
    <td><input name="billing_zip" type="text" class="text-box-cms" value="{{customer.billing_zip}}" /></td>
  </tr>
</table>
</td>
  </tr>
<tr>
    <td class="text1 padleft10"><table width="90%" border="0" align="left">
  <tr>
     <td width="30%">Country</td>
    <td><select name="billing_country" class="text-box-cms" >{% for countries in "countries"|shippingcountries %}<option value={{countries.name_short}}>{{countries.name_short}}</option>{% endfor %}</select></td>
  </tr>
</table>
</td>
  </tr>
<tr>
    <td class="text1 padleft10"><table width="90%" border="0" align="left">
  <tr>
     <td width="30%">Phone</td>
    <td><input name="billing_phone" type="text" class="text-box-cms" value="{{customer.billing_phone}}" /></td>
  </tr>
</table>
</td>
  </tr>
 <tr>
    <td class="text1 customer_info_bot"><table width="90%" border="0" align="left">
  <tr>
     <td width="30%">Tax ID</td>
    <td><input name="accountno" type="text" class="text-box-cms" value="{{customer.accountno}}" /></td>
  </tr>
</table>
</td>
  </tr>
  <tr>
     <td class="cate1">Shipping Information</td>
  </tr>
 <tr>
    <td class="text1 padleft10"><table width="90%" border="0" align="left">

  <tr>
     <td width="30%">Company</td>
    <td><input name="shipping_company" type="text" class="text-box-cms" value="{{customer.shipping_company}}" /></td>
  </tr>
</table>
</td>
  </tr>
<tr>
    <td class="text1 padleft10"><table width="90%" border="0" align="left">
  <tr>
    <td width="30%">
First Name</td>
    <td><input name="shipping_firstname" type="text" class="text-box-cms" value="{{customer.shipping_firstname}}" /></td>
  </tr>
</table>
</td>
  </tr>
<tr>
    <td class="text1 padleft10"><table width="90%" border="0" align="left">
  <tr>
  <td width="30%">Last Name</td>
    <td><input name="shipping_lastname" type="text" class="text-box-cms" value="{{customer.shipping_lastname}}" /></td>
  </tr>
</table>
</td>
  </tr>
  <tr>
    <td class="text1 padleft10"><table width="90%" border="0" align="left">
  <tr>
     <td width="30%">Address</td>
    <td><input name="shipping_address" type="text" class="text-box-cms" value="{{customer.shipping_address}}"/></td>
  </tr>
</table>
</td>
  </tr>
<tr>
    <td class="text1 padleft10"><table width="90%" border="0" align="left">
  <tr>
     <td width="30%">Address2</td>
    <td><input name="shipping_address2" type="text" class="text-box-cms" value="{{customer.shipping_address2}}" /></td>
  </tr>
</table>
</td>
  </tr>
<tr>
    <td class="text1 padleft10"><table width="90%" border="0" align="left">
  <tr>
    <td width="30%">City</td>
    <td><input name="shipping_city" type="text" class="text-box-cms" value="{{customer.shipping_city}}" /></td>
  </tr>
</table>
</td>
  </tr>
<tr>
    <td class="text1 padleft10"><table width="90%" border="0" align="left">
  <tr>
    <td width="30%">State</td>
    <td><select name="shipping_state" class="text-box-cms" >{% for shippingstates in "states"|shippingcountries %}<option value={{shippingstates.name_short}}>{{shippingstates.name_short}}</option>{% endfor %}</select></td>
  </tr>
</table>
</td>
  </tr>
<tr>
    <td class="text1 padleft10"><table width="90%" border="0" align="left">
  <tr>
     <td width="30%">Zip Code</td>
    <td><input name="shipping_zip" type="text" class="text-box-cms" value="{{customer.shipping_zip}}" /></td>
  </tr>
</table>
</td>
  </tr>
<tr>
    <td class="text1 padleft10"><table width="90%" border="0" align="left">
  <tr>
     <td width="30%">Country</td>
    <td><select name="shipping_country" class="text-box-cms" >{% for shippingcountries in "countries"|shippingcountries %}<option value={{shippingcountries.name_short}}>{{shippingcountries.name_short}}</option>{% endfor %}</select></td>
  </tr>
</table>
</td>
  </tr>
<tr>
    <td class="text1 customer_info_bot"><table width="90%" border="0" align="left">
  <tr>
     <td width="30%">Phone</td>
    <td><input name="shipping_phone" type="text" class="text-box-cms" value="{{customer.shipping_phone}}" /></td>
  </tr>
</table>
</td>
  </tr>
 
  <tr>
    <td class="cate1">Other Information</td>
  </tr>
<tr>
    <td class="text1 padleft10"><table width="90%" border="0" align="left">
  <tr>
     <td width="30%">Enabled</td>
    <td>{% if customer.custenabled %}
	<input name="custenabled" type="checkbox" checked />
	{% else %}
	<input name="custenabled" type="checkbox" value="" />
	{% endif %}</td>
  </tr>
</table>
</td>
  </tr>
<tr>
    <td class="text1 padleft10"><table width="90%" border="0" align="left">
  <tr>
     <td width="30%">Mail List</td>
    <td>{% if customer.mailist %}
	<input name="mailist" type="checkbox" checked  />
	{% else %}
	<input name="mailist" type="checkbox"   />
	{% endif %}</td>
  </tr>
</table>
</td>
  </tr>
<tr>
    <td class="text1 padleft10"><table width="90%" border="0" align="left">
  <tr>
     <td width="30%">Non Taxable</td>
    <td>{% if customer.type %}
	<input name="type" type="checkbox" checked />
	{% else %}
	<input name="type" type="checkbox" value="" />
	{% endif %}</td>
  </tr>
</table>
</td>
  </tr>
<tr>
 <td class="text1 customer_info_bot"><table width="90%" border="0" align="left">
  <tr>
     <td width="30%" valign="top">Comments</td>
     <td><label>
       <textarea name="comments" class="text-box4">{{customer.comments}}</textarea>
     </label></td>
  </tr>
</table>
</td>
  </tr>
   <tr>
    <td class="cate1" align="right"><table width="30%" border="0">
  <tr>
    <td >&nbsp;</td>
    <td>&nbsp;</td>
    <td ><input type=image src="misc/images/save-change.jpg"  /></td>
  </tr>
</table></form>
</td>
  </tr>
</table>
<div class="border-line"></div>
<div class="clr padtop20"> 

<div class="float-right">&nbsp;</div>
</div>
  </div>
              </div>
           
            
			

       
        </div>
		</div>
    </td>
  </tr>
</table>
	
	
	
	</td>
  </tr>
</table>
</div>
</div>




{% include 'admin_footer.html' %}