<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Home Page Admin</title>
<link href="style.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
.style1 {
	color: #000000;
	text-decoration:underline;
	
}
.style3{
color:#000000;
text-transform:none
}
.style2 {
	color: #000000;
	font-family: "Open Sans Light";
	font-size: 12px;
	font-weight: bold;
}
.new-orders-text {
	color: #000000;
	font-weight: normal;
	font-family: "Open Sans Light";
	font-size: 13px;
	text-decoration: none;
}

-->
</style>
<script language="JavaScript">
<!--
function mmLoadMenus() {
  if (window.mm_menu_0311194645_0) return;
    window.mm_menu_0311194645_0 = new Menu("root",120,25,"Arial, Helvetica, sans-serif",12,"#787878","#787878","#FFFFFF","#FFFFFF","left","middle",3,0,1000,-5,7,true,false,true,10,false,false);
  mm_menu_0311194645_0.addMenuItem("New","location='new.html'");
  mm_menu_0311194645_0.addMenuItem("Processing","location='processing.html'");
  mm_menu_0311194645_0.addMenuItem("Canceled","location='canceled.html'");
  mm_menu_0311194645_0.addMenuItem("Shipped","location='shipped.html'");
  mm_menu_0311194645_0.addMenuItem("Order&nbsp;Status","location='order_status.html'");
  mm_menu_0311194645_0.addMenuItem("Export","location='export.html'");
   mm_menu_0311194645_0.fontWeight="bold";
   mm_menu_0311194645_0.hideOnMouseOut=true;
   mm_menu_0311194645_0.bgColor='#555555';
   mm_menu_0311194645_0.menuBorder=1;
   mm_menu_0311194645_0.menuLiteBgColor='#FFFFFF';
   mm_menu_0311194645_0.menuBorderBgColor='#777777';

mm_menu_0311194645_0.writeMenus();
} // mmLoadMenus()
//-->
</script>
<script language="JavaScript" src="mm_menu.js"></script>
</head>

<body>
<script language="JavaScript1.2">mmLoadMenus();</script>
<div align="center">
  <div class="shade-admin">
    <div style="width:1004px; background-color:#FFFFFF" align="center">
      <div style="clear:both; float:left" class="admin-logo"><a href="index.htm"><img src="images/logo.png" width="426" height="93" border="0" style="float:left" /></a></div>
      <div  style="clear:both"><a href="#"><img src="images/orders.jpg" name="image1" id="image1" onmouseover="MM_showMenu(window.mm_menu_0311194645_0,0,41,null,'image1')" onmouseout="MM_startTimeout();" /></a><a href="#"><img src="images/customers.jpg" /><img src="images/products.jpg" /></a><a href="#"><img src="images/rma.jpg" /></a><a href="#"><img src="images/cms.jpg" /></a><a href="#"><img src="images/support.jpg" /></a><a href="#"><img src="images/report.jpg" /></a><a href="#"><img src="images/settings.jpg" /></a><a href="#"><img src="images/users.jpg" /></a><a href="#"><img src="images/logout.jpg" /></a></div>
      
     <div style="clear:both;" class="content-bg" ><div align="center">
<div align="center">
<div style="width:810px;">
<div style="clear:both" class="custom-head">Customers > View/Edit</div>
<div style="clear:both; height:35px">
<div style="float:left;" class="custom-view">View/Edit</div>
<div style="float:right"><input name="" type="text" class="search-box-field" /></div>
</div>
<div style="clear:both; margin-top:19px; margin-bottom:19px" class="gray-line">&nbsp;</div>
<div style="clear:both; width:800px; height:21px; line-height:21px; " class="records">Records:91031 Page 3 of 6069 |&nbsp;Goto Page:  &nbsp;&nbsp;<span class="records" style="clear:both; width:800px; height:21px; line-height:21px; "><img src="images/custom-arrow.jpg" width="221" height="25"  border="0"  /></span>&nbsp;&nbsp;&nbsp;Display&nbsp;&nbsp;
  <input name="input" type="text" class="text-box-new" />
</div>
<div style="clear:both; height:20px;">&nbsp;&nbsp;</div>
<div style="clear:both; padding-top:0px;" class="black-border"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="3%" align="center" valign="middle"  class="yellow-bg"><img src="images/check-box.png" width="14" height="13" border="0" /></td>
    <td width="10%" align="center" valign="middle"  class="yellow-bg">Name&nbsp;<img src="images/caption-arrow.png" width="14" height="9" border="0" /></td>
     <td width="13%" align="center" valign="middle"  class="yellow-bg">Company</td>
     <td width="27%" align="center" valign="middle"  class="yellow-bg">Email</td>
     <td width="16%" align="center" valign="middle"  class="yellow-bg">Phone</td>
     <td width="8%" align="center" valign="middle"  class="yellow-bg">Enabled</td>
     <td width="23%" align="center" valign="middle"  class="yellow-bg">Actions</td>
  </tr>
  <tr>
       <td align="center" valign="middle" class="rose-bg"><img src="images/check-box.png" width="14" height="13" border="0" /></td>
       <td align="left" valign="middle" class="rose-bg" style="padding-left:10px;">Galina</td>
  <td align="left" valign="middle" class="rose-bg" style="padding-left:10px;">-</td>
      <td align="left" valign="middle" class="rose-bg" style="padding-left:10px;">vladislav-g@hotmail.com</td>
     <td align="left" valign="middle" class="rose-bg" style="padding-left:10px;">8475908295</td>
      <td align="left" valign="middle" class="rose-bg" style="padding-left:10px;">1</td>
  <td align="left" valign="middle" class="rose-bg" style="padding-left:10px;"><table width="80%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="images/edit.jpg" width="63" height="19" border="0" /></td>
    <td>&nbsp;</td>
    <td><img src="images/placeholder.jpg" /></td>
  </tr>
</table>
</td>

  </tr>
  <tr>
    <td align="left" valign="middle"class="blue-bg" style="padding-left:10px"><img src="images/check-box.png" width="14" height="13" border="0" /></td>
    <td align="left" valign="middle"class="blue-bg" style="padding-left:10px">Mary</td>
    <td align="left" valign="middle"class="blue-bg" style="padding-left:10px">-</td>
    <td align="left" valign="middle"class="blue-bg" style="padding-left:10px">leroy19612000@yahoo.com</td>
   <td align="left" valign="middle"class="blue-bg" style="padding-left:10px">360-575-9620</td>
    <td align="left" valign="middle"class="blue-bg" style="padding-left:10px">1</td>
 <td align="left" valign="middle"class="blue-bg" style="padding-left:10px"><table width="80%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="images/edit.jpg" width="63" height="19" border="0" /></td>
    <td>&nbsp;</td>
    <td><img src="images/placeholder.jpg" /></td>
  </tr>
</table></td>
  </tr>
  <tr>
    <td align="center" valign="middle" class="rose-bg"><img src="images/check-box.png" width="14" height="13" border="0" /></td>
      <td align="left" valign="middle" class="rose-bg" style="padding-left:10px;">Shannon</td>
  <td align="left" valign="middle" class="rose-bg" style="padding-left:10px;">-</td>
      <td align="left" valign="middle" class="rose-bg" style="padding-left:10px;">dumbzeta@comcast.net</td>
     <td align="left" valign="middle" class="rose-bg" style="padding-left:10px;">3143568676</td>
      <td align="left" valign="middle" class="rose-bg" style="padding-left:10px;">1</td>
  <td align="left" valign="middle" class="rose-bg" style="padding-left:10px;"><table width="80%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="images/edit.jpg" width="63" height="19" border="0" /></td>
    <td>&nbsp;</td>
    <td><img src="images/placeholder.jpg" /></td>
  </tr>
</table></td>

  </tr>
  <tr>
    <td align="center" valign="middle" class="blue-bg"><img src="images/check-box.png" width="14" height="13" border="0" /></td>
    <td align="left" valign="middle"class="blue-bg" style="padding-left:10px">Ronald</td>
    <td align="left" valign="middle"class="blue-bg" style="padding-left:10px">-</td>
    <td align="left" valign="middle"class="blue-bg" style="padding-left:10px">rcosent@verizon.net</td>
   <td align="left" valign="middle"class="blue-bg" style="padding-left:10px">3055688315</td>
    <td align="left" valign="middle"class="blue-bg" style="padding-left:10px">1</td>
 <td align="left" valign="middle"class="blue-bg" style="padding-left:10px"><table width="80%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="images/edit.jpg" width="63" height="19" border="0" /></td>
    <td>&nbsp;</td>
    <td><img src="images/placeholder.jpg" /></td>
  </tr>
</table></td>
  </tr>
  <tr>
    <td align="center" valign="middle"class="rose-bg"><img src="images/check-box.png" width="14" height="13" border="0" /></td>
      <td align="left" valign="middle" class="rose-bg" style="padding-left:10px;">Brian</td>
  <td align="left" valign="middle" class="rose-bg" style="padding-left:10px;">-</td>
      <td align="left" valign="middle" class="rose-bg" style="padding-left:10px;">bgast2@nycap.rr.com</td>
     <td align="left" valign="middle" class="rose-bg" style="padding-left:10px;">518-233-0208</td>
      <td align="left" valign="middle" class="rose-bg" style="padding-left:10px;">1</td>
  <td align="left" valign="middle" class="rose-bg" style="padding-left:10px;"><table width="80%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="images/edit.jpg" width="63" height="19" border="0" /></td>
    <td>&nbsp;</td>
    <td><img src="images/placeholder.jpg" /></td>
  </tr>
</table></td>

  </tr>
  <tr>
    <td align="center" valign="middle" class="blue-bg"><img src="images/check-box.png" width="14" height="13" border="0" /></td>
    <td align="left" valign="middle"class="blue-bg" style="padding-left:10px">Anthony</td>
    <td align="left" valign="middle"class="blue-bg" style="padding-left:10px">Hills electric motors</td>
    <td align="left" valign="middle"class="blue-bg" style="padding-left:10px">esredneck77@aol.com</td>
   <td align="left" valign="middle"class="blue-bg" style="padding-left:10px">410 376 3789</td>
    <td align="left" valign="middle"class="blue-bg" style="padding-left:10px">1</td>
 <td align="left" valign="middle"class="blue-bg" style="padding-left:10px"><table width="80%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="images/edit.jpg" width="63" height="19" border="0" /></td>
    <td>&nbsp;</td>
    <td><img src="images/placeholder.jpg" /></td>
  </tr>
</table></td>
  </tr>
  <tr>
    <td align="center" valign="middle" class="rose-bg"><img src="images/check-box.png" width="14" height="13" border="0" /></td>
      <td align="left" valign="middle" class="rose-bg" style="padding-left:10px;">Barbara</td>
  <td align="left" valign="middle" class="rose-bg" style="padding-left:10px;">n/a</td>
      <td align="left" valign="middle" class="rose-bg" style="padding-left:10px;">sprgovero@aol.com</td>
     <td align="left" valign="middle" class="rose-bg" style="padding-left:10px;">925-820-1873</td>
      <td align="left" valign="middle" class="rose-bg" style="padding-left:10px;">1</td>
  <td align="left" valign="middle" class="rose-bg" style="padding-left:10px;"><table width="80%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="images/edit.jpg" width="63" height="19" border="0" /></td>
    <td>&nbsp;</td>
    <td><img src="images/placeholder.jpg" /></td>
  </tr>
</table></td>

  </tr>
  <tr>
    <td align="center" valign="middle" class="blue-bg"><img src="images/check-box.png" width="14" height="13" border="0" /></td>
    <td align="left" valign="middle"class="blue-bg" style="padding-left:10px">Kris</td>
    <td align="left" valign="middle"class="blue-bg" style="padding-left:10px">-</td>
    <td align="left" valign="middle"class="blue-bg" style="padding-left:10px">kgale10@cox.net</td>
   <td align="left" valign="middle"class="blue-bg" style="padding-left:10px">480-313-6187</td>
    <td align="left" valign="middle"class="blue-bg" style="padding-left:10px">1</td>
 <td align="left" valign="middle"class="blue-bg" style="padding-left:10px"><table width="80%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="images/edit.jpg" width="63" height="19" border="0" /></td>
    <td>&nbsp;</td>
    <td><img src="images/placeholder.jpg" /></td>
  </tr>
</table></td>
  </tr>
  <tr>
    <td align="center" valign="middle" class="rose-bg"><img src="images/check-box.png" width="14" height="13" border="0" /></td>
      <td align="left" valign="middle" class="rose-bg" style="padding-left:10px;">-</td>
  <td align="left" valign="middle" class="rose-bg" style="padding-left:10px;">-</td>
      <td align="left" valign="middle" class="rose-bg" style="padding-left:10px;">sboberton@yahoo.com</td>
     <td align="left" valign="middle" class="rose-bg" style="padding-left:10px;">-</td>
      <td align="left" valign="middle" class="rose-bg" style="padding-left:10px;">1</td>
  <td align="left" valign="middle" class="rose-bg" style="padding-left:10px;"><table width="80%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="images/edit.jpg" width="63" height="19" border="0" /></td>
    <td>&nbsp;</td>
    <td><img src="images/placeholder.jpg" /></td>
  </tr>
</table></td>

  </tr>
  <tr>
    <td align="center" valign="middle" class="blue-bg"><img src="images/check-box.png" width="14" height="13" border="0" /></td>
    <td align="left" valign="middle"class="blue-bg" style="padding-left:10px">Theresa</td>
    <td align="left" valign="middle"class="blue-bg" style="padding-left:10px">-</td>
    <td align="left" valign="middle"class="blue-bg" style="padding-left:10px">Jaydogg989@yahoo.com</td>
   <td align="left" valign="middle"class="blue-bg" style="padding-left:10px">(989) 665-2657</td>
    <td align="left" valign="middle"class="blue-bg" style="padding-left:10px">1</td>
 <td align="left" valign="middle"class="blue-bg" style="padding-left:10px"><table width="80%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="images/edit.jpg" width="63" height="19" border="0" /></td>
    <td>&nbsp;</td>
    <td><img src="images/placeholder.jpg" /></td>
  </tr>
</table></td>
  </tr>
  <tr>
    <td align="center" valign="middle" class="rose-bg"><img src="images/check-box.png" width="14" height="13" border="0" /></td>
      <td align="left" valign="middle" class="rose-bg" style="padding-left:10px;">Chris</td>
  <td align="left" valign="middle" class="rose-bg" style="padding-left:10px;">-</td>
      <td align="left" valign="middle" class="rose-bg" style="padding-left:10px;">sold4jc7@aol.com</td>
     <td align="left" valign="middle" class="rose-bg" style="padding-left:10px;">7609128817</td>
      <td align="left" valign="middle" class="rose-bg" style="padding-left:10px;">1</td>
  <td align="left" valign="middle" class="rose-bg" style="padding-left:10px;"><table width="80%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="images/edit.jpg" width="63" height="19" border="0" /></td>
    <td>&nbsp;</td>
    <td><img src="images/placeholder.jpg" /></td>
  </tr>
</table></td>

  </tr>
  <tr>
    <td align="center" valign="middle" class="blue-bg"><img src="images/check-box.png" width="14" height="13" border="0" /></td>
    <td align="left" valign="middle"class="blue-bg" style="padding-left:10px">Deniel</td>
    <td align="left" valign="middle"class="blue-bg" style="padding-left:10px">-</td>
    <td align="left" valign="middle"class="blue-bg" style="padding-left:10px">dfmm@comcast.net</td>
   <td align="left" valign="middle"class="blue-bg" style="padding-left:10px">856-765-9894</td>
    <td align="left" valign="middle"class="blue-bg" style="padding-left:10px">1</td>
 <td align="left" valign="middle"class="blue-bg" style="padding-left:10px"><table width="80%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="images/edit.jpg" width="63" height="19" border="0" /></td>
    <td>&nbsp;</td>
    <td><img src="images/placeholder.jpg" /></td>
  </tr>
</table></td>
  </tr>
  <tr>
    <td align="center" valign="middle" class="rose-bg"><img src="images/check-box.png" width="14" height="13" border="0" /></td>
      <td align="left" valign="middle" class="rose-bg" style="padding-left:10px;">William</td>
  <td align="left" valign="middle" class="rose-bg" style="padding-left:10px;">Family Furniture</td>
      <td align="left" valign="middle" class="rose-bg" style="padding-left:10px;">pipercubh@aol.com</td>
     <td align="left" valign="middle" class="rose-bg" style="padding-left:10px;">302-841-5440</td>
      <td align="left" valign="middle" class="rose-bg" style="padding-left:10px;">1</td>
  <td align="left" valign="middle" class="rose-bg" style="padding-left:10px;"><table width="80%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="images/edit.jpg" width="63" height="19" border="0" /></td>
    <td>&nbsp;</td>
    <td><img src="images/placeholder.jpg" /></td>
  </tr>
</table></td>

  </tr>
  <tr>
    <td align="center" valign="middle" class="blue-bg"><img src="images/check-box.png" width="14" height="13" border="0" /></td>
    <td align="left" valign="middle"class="blue-bg" style="padding-left:10px">Timothy</td>
    <td align="left" valign="middle"class="blue-bg" style="padding-left:10px">-</td>
    <td align="left" valign="middle"class="blue-bg" style="padding-left:10px">timreo@comcast.net</td>
   <td align="left" valign="middle"class="blue-bg" style="padding-left:10px">1-508-660-6833</td>
    <td align="left" valign="middle"class="blue-bg" style="padding-left:10px">1</td>
 <td align="left" valign="middle"class="blue-bg" style="padding-left:10px"><table width="80%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="images/edit.jpg" width="63" height="19" border="0" /></td>
    <td>&nbsp;</td>
    <td><img src="images/placeholder.jpg" /></td>
  </tr>
</table></td>
  </tr>
  <tr>
    <td align="center" valign="middle" class="rose-bg"><img src="images/check-box.png" width="14" height="13" border="0" /></td>
      <td align="left" valign="middle" class="rose-bg" style="padding-left:10px;">Tony</td>
  <td align="left" valign="middle" class="rose-bg" style="padding-left:10px;">-</td>
      <td align="left" valign="middle" class="rose-bg" style="padding-left:10px;">tony@yahoo.com</td>
     <td align="left" valign="middle" class="rose-bg" style="padding-left:10px;">781-647-9085</td>
      <td align="left" valign="middle" class="rose-bg" style="padding-left:10px;">1</td>
  <td align="left" valign="middle" class="rose-bg" style="padding-left:10px;"><table width="80%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="images/edit.jpg" width="63" height="19" border="0" /></td>
    <td>&nbsp;</td>
    <td><img src="images/placeholder.jpg" /></td>
  </tr>
</table></td>

  </tr>
</table>
</div>
<div style="clear:both; height:10px;">&nbsp;</div>
<div style="clear:both; width:800px; height:25px; line-height:25px; " class="records1">Records:91031 Page 3 of 6069&nbsp; |&nbsp;Goto Page:  &nbsp;&nbsp;<span class="records" style="clear:both; width:800px; height:21px; line-height:21px; "><img src="images/custom-arrow1.jpg" width="225" height="19"  border="0"  /></span>&nbsp;&nbsp;&nbsp;Display&nbsp;&nbsp;
  <input name="input" type="text" class="text-box-new" />
</div>
<div style="clear:both; height:10px;">&nbsp;</div>
<div style="clear:both" class="bottom-grey">
<table width="60%" border="0" cellspacing="0" cellpadding="0" align="left">
  <tr>
    <td>&nbsp;</td>
    <td align="right">Batch Action:</td>
    <td align="left" style="padding-top:5px; padding-left:5px;"><select name="" class="dropdownlist">
    <option>With Selected Customer(s)</option>
     <option>Delete Selected</option>
    </select></td>
    <td style="padding-top:5px;"><img src="images/apply.jpg" width="72" height="20" border="0" /></td>
  </tr>
</table>


</div>
  <div style="clear:both; height:20px;">&nbsp;</div>
  
  </div></div></div>








</div>


</div>
<div style="clear:both; padding-top:10px;" class="footer-area" >All images,picture and descriptions are generalizations and cannot be exact representations.
  <br />
  Copyright 2013 Saltwaterfish.com. All Rights Reserved.</div>
</div>


</div>
</body>
</html>
