{% extends 'base.html' %}
{% block content %}
<link type="text/css" rel="stylesheet" href="/misc/myaccount.css" />

{% load tagsfilter %}
<div class="float-left width10">&nbsp;&nbsp;</div>
<div class="float-left wid748 padtop5">
<div class="clr my_account_link padbottom13"><span><a href="/">Home</a> &gt; <a href="/myaccount">My Account</a></span><span> &gt; My Rewards - Details </span></div>
 <div class="clr my_account_title padtop5 padbottom13">MY REWARDS - DETAIL </div>
<div class="clr myaccount_bg1">
 
{% include 'myaccount_links.htm' %}
<div class="clr">&nbsp;&nbsp;</div>
 <div class="clr padleft15" align=left>{{htmltext.header|safe}}<br><table border="0" width="136" cellspacing="0" cellpadding="4" class="alternative">
	<tbody> 
	<tr>
		<td align="left" colspan="2" class="btn"><!--START: RETURNMESSAGE-->
			<a href="/redreefs"><font color=white>
REDEEM REEF REWARDS</font></a><br>

			<!--END: RETURNMESSAGE-->
		</td>
	</tr>
</tbody></table><br>&nbsp;</div> 
 {% if product_list %}
<table border="0" width="450" cellspacing="0" cellpadding="4" class="alternative">
                  <tbody><tr>
                    <td class="titles" align="center"></td>
                    <td class="titles" align="left" width="418">Credit Amount </td>
                  </tr>
                  <tr>
                    <td class="item" colspan="2">
You currently have the following Credit/Gift Certificate(s) available to you:<br><br>SWF Credits:  <strong>$0.99</strong> &nbsp;&nbsp;&nbsp;&nbsp;Coupon Code: <strong>sc00095696peter</strong><br><br><br><br> To redeem your coupon code(s), make a Marine Life purchase and use the coupon code in the <strong>Apply Coupon</strong> area at the bottom of your shopping cart. <br><br> Thanks for your patronage!
                    </td>
                  </tr>
                  <tr>
                    <td align="left" colspan="2"><!--START: RETURNMESSAGE-->
                      <input type="button" value="Click here to continue" class="btn" onclick="location.href='myaccount.asp';" onmouseover="this.className='btn_over'" onmouseout="this.className='btn'">
                      <!--END: RETURNMESSAGE-->
                    </td>
                  </tr>
                </tbody></table>
{%else%}
<table border="0" width="450" cellspacing="0" cellpadding="4" class="alternative">
                  <tbody><tr>
                    <td class="titles" align="center"></td>
                    <td class="titles" align="left" width="418">Credit Amount </td>
                  </tr>
                  <tr>
                    <td class="item" colspan="2">
You currently do not have any credits outstanding with us.<br>If you feel this is an error please contact support@saltwaterfish.com
                    </td>
                  </tr>
                  <tr>
                    <td align="left" colspan="2"><!--START: RETURNMESSAGE-->
                      <input type="button" value="Click here to continue" class="btn" onclick="location.href='/myaccount';" onmouseover="this.className='btn_over'" onmouseout="this.className='btn'">
                      <!--END: RETURNMESSAGE-->
                    </td>
                  </tr>
                </tbody></table>
{% endif %}
 </div>
</div>
<div class="float-left wid10"></div>
</div>
{% endblock content %}