{% include 'admin_header.htm' %}
<div class="clr white-bg">
<div class="clr content-bg padbottom10">
<table width="100%" border="0">
  <tr>
    <td align="left" valign="top" class="left-text">
	{% include 'left_menu_customers.htm' %}
	</td>
    <td class="ver_line"></td>
    <td>
	<table width="100%" border="0">
  <tr>
    <td class="left-text padtop10">Customers	 > View/Edit</td>
  </tr>
  <tr>
    <td class="padtop10 padbottom10">
	<div class="float_left left-text1">View/Edit</div>
	<div class="float_right marright15">
<div class="search1">
<div class="search1_box"><input name="Input" type="text"  placeholder="Search saltwaterfish.com"/></div>
<div class="search1_submit"><input type="submit" name="Submit"  value="Search" /></div>
</div>
</div>	</td>
  </tr>
  
  
    <tr>
    <td class="hor_line"></td>
  </tr>
   <tr>
   
    <td class="clr padtop5"><div style="clear:both; width:800px; height:21px; line-height:21px; " class="records">Records:<b>{{count}} </b> Page {{page_num}} of {% widthratio count 100 1 %} |&nbsp;Goto Page: <a href="/customers?page=1">First</a> 
{% if page_num < 2 %}
<a href="/customers?page=1">Previous</a>
{% elif page_num >= 2 %}
    <a href="/customers?page={{page_num|add:-1}}">Previous</a>
{% endif %}


| <a href="/customers?page={{page_num|add:+1}}">Next </a> &nbsp<a href="/customers?page={% widthratio count 100 1 %}">Last</a></span>
</div></td>
  </tr>
  
  
   <tr>
    <td  class="customers_edit_table black-brdr"><form method="post" action="/deletecustomer" method=post>
		{% csrf_token %} 
		<input type="hidden" name="action" value="massdelete"><table width="100%" border="1" cellspacing="0" cellpadding="0">
  <tr>
    <td width="3%"  align="center" valign="middle" class="yell-bg" ><img src="misc/images/check-box.png" width="14" height="13" border="0" /></td>
    <td width="13%"  align="center" valign="middle" class="yell-bg" >Name&nbsp;<img src="misc/images/caption-arrow.png" width="14" height="9" border="0" /></td>
     <td width="11%" align="center" valign="middle" class="yell-bg" >Company</td>
     <td width="29%" align="center" valign="middle" class="yell-bg"  >Email</td>
     <td width="13%"  align="center" valign="middle"  class="yell-bg" >Phone</td>
     <td width="9%"  align="center" valign="middle" class="yell-bg"  >Enabled</td>
     <td width="22%"  align="center" valign="middle" class="yell-bg" >Actions</td>
  </tr>
  {% for item in customers %}
  <tr class="{% cycle 'rose-bg' 'blue-bg' %}">
       <td align="center" valign="middle"  ><input type=checkbox name="delid" value="{{item.contactid}}"></td>
       <td align="left" valign="middle"  ><span class="padleft10"><a href="/bcustomersinfo?id={{item.contactid}}">{{item.billing_firstname}} {{item.billing_lastname}}</a></span></td>
  <td align="left" valign="middle"  ><span class="padleft10">{{item.billing_company}}</span></td>
      <td align="left" valign="middle"   ><span class="padleft10">{{item.email}}</span></td>
     <td align="left" valign="middle"  ><span class="">{{item.billing_phone}}</span></td>
      <td align="left" valign="middle"  ><span class="padleft10">{{item.custenabled}}</span></td>
  <td align="left" valign="middle" class=" "><table width="80%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><a href="/bcustomersinfo?id={{item.contactid}}"><img src="misc/images/edit.jpg" width="63" height="19" border="0" /></a></td>
    <td>&nbsp;</td>
    <td><img src="misc/images/placeholder.jpg" /></td>
  </tr>
</table>
</td>

  </tr>
 
   
  
   
  
   
   
   
   
   
   
   
  
   {% empty %}
	<em class="formee-req">No Records</em>
{% endfor %}
   
</table></td>
  </tr><tr>
   
    <td class="clr padtop5">
	<div style="clear:both; width:800px; height:21px; line-height:21px; " class="records">Records:<b>{{count}} </b> Page {{page_num}} of {% widthratio count 100 1 %} |&nbsp;Goto Page: <a href="/customers?page=1">First</a> 
{% if page_num < 2 %}
<a href="/customers?page=1">Previous</a>
{% elif page_num >= 2 %}
    <a href="/customers?page={{page_num|add:-1}}">Previous</a>
{% endif %}


| <a href="/customers?page={{page_num|add:+1}}">Next </a> &nbsp<a href="/customers?page={% widthratio count 100 1 %}">Last</a></span>
</div></td>
  </tr>
  <tr>
   
    <td class="clr padtop5">
	<div style="clear:both; width:800px; height:21px; line-height:21px; " class="records"><table width="100%" border="0" cellspacing="0" cellpadding="0" align="left">
  <tr>
    <td>&nbsp;</td>
    <td align="right">Batch Action:</td>
    <td align="left" style="padding-top:5px; padding-left:5px;"><select name="bacthaction" class="dropdownlist">
    <option>With Selected Customer(s)</option>
     <option value=delete>Delete Selected</option>
    </select></td>
    <td style="padding-top:5px;"><input type=image src="misc/images/apply.jpg" width="72" height="20" border="0" /></td>
  </tr>
</table></form>
</div></td>
  </tr>
</table>
	
	
	
	</td>
  </tr>
</table>
</div>
</div>

{% include 'admin_footer.html' %}