{% include 'admin_header.htm' %}
      <style type="text/css">
<!--
.style1 {
	color: #000000;
	text-decoration:underline;
	
}
.style3{
color:#000000;
text-transform:none
}
.style2 {
	color: #000000;
	font-family: "Open Sans Light";
	font-size: 12px;
	font-weight: bold;
}
.new-orders-text {
	color: #000000;
	font-weight: normal;
	font-family: "Open Sans Light";
	font-size: 13px;
	text-decoration: none;
}

-->
</style>
 
     <div style="clear:both" class="white-bg">
<div style="clear:both; padding-bottom:10px" class="content-bg">
<table width="100%" border="0">
  <tr>
    <td align="left" valign="top" width="130" style="padding-left:20px" class="left-text"><span class="left-text1">Customers</span><br />
<br />
View/Edit<br />
Add New<br />
Import/Export</td>
    <td style="width:1px; background-color:#d9d9d9; background-repeat:repeat-y"></td>
    <td>
	<table width="100%" border="0">
   
  <tr>
    <td style="padding-bottom:10px; padding-top:10px;">
<div style="width:810px;">
<div style="clear:both" class="custom-head">Customers > View/Edit </div>
 
<div style="float:left;" class="custom-view">View/Edit</div>
<div style="float:right"><input name="" type="text" class="search-box-field" /></div>
</div>
<div style="clear:both; margin-top:19px; margin-bottom:19px" class="gray-line">&nbsp;</div>
<div style="clear:both; width:800px; height:21px; line-height:21px; " class="records">Records:<b>{{count}} </b> Page {{page_num}} of {% widthratio count 100 1 %} |&nbsp;Goto Page: <a href="/customers?page=1">First</a> 
{% if page_num < 2 %}
<a href="/customers?page=1">Previous</a>
{% elif page_num >= 2 %}
    <a href="/customers?page={{page_num|add:-1}}">Previous</a>
{% endif %}


| <a href="/customers?page={{page_num|add:+1}}">Next </a> &nbsp<a href="/customers?page={% widthratio count 100 1 %}">Last</a></span>
</div>
<div style="clear:both; height:20px;">&nbsp;&nbsp;</div>
<div style="clear:both; padding-top:0px;" class="black-border">

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="3%" align="center" valign="middle"  class="yellow-bg"><img src="misc/images/check-box.png" width="14" height="13" border="0" /></td>
    <td width="20%" align="center" valign="middle"  class="yellow-bg">Name&nbsp;<img src="misc/images/caption-arrow.png" width="14" height="9" border="0" /></td>
     <td width="13%" align="center" valign="middle"  class="yellow-bg">Company</td>
     <td width="27%" align="center" valign="middle"  class="yellow-bg">Email</td>
     <td width="16%" align="center" valign="middle"  class="yellow-bg">Phone</td>
     <td width="8%" align="center" valign="middle"  class="yellow-bg">Enabled</td>
     <td width="20%" align="center" valign="middle"  class="yellow-bg">Actions</td>
  </tr>
   
{% for item in customers %}
  <tr>
    <td align="center" valign="middle" class="blue-bg"><input type=checkbox></td>
    <td align="left" valign="middle"class="blue-bg" style="padding-left:10px"><a href="/bcustomersinfo?id={{item.contactid}}">{{item.billing_firstname}} {{item.billing_lastname}}</a></td>
    <td align="left" valign="middle"class="blue-bg" style="padding-left:10px">{{item.billing_company}}</td>
    <td align="left" valign="middle"class="blue-bg" style="padding-left:10px">{{item.email}}</td>
   <td align="left" valign="middle"class="blue-bg" style="padding-left:10px">{{item.billing_phone}}</td>
    <td align="left" valign="middle"class="blue-bg" style="padding-left:10px">{{item.custenabled}}</td>
 <td align="left" valign="middle"class="blue-bg" style="padding-left:10px"><table width="80%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="misc/images/edit.jpg" width="63" height="19" border="0" /></td>
    <td>&nbsp;</td>
    <td><img src="misc/images/placeholder.jpg" /></td>
  </tr>
</table></td>
  </tr>
 
  {% empty %}
	<em class="formee-req">No Records</em>
{% endfor %}
 
  
</table>
</div>
<div style="clear:both; height:10px;">&nbsp;</div>
<div style="clear:both; width:800px; height:25px; line-height:25px; " class="records1">Records:<b>{{count}} </b> Page {{page_num}} of {% widthratio count 100 1 %} |&nbsp;Goto Page: <a href="/customers?page=1">First</a> 
{% if page_num < 2 %}
<a href="/customers?page=1">Previous</a>
{% elif page_num >= 2 %}
    <a href="/customers?page={{page_num|add:-1}}">Previous</a>
{% endif %}
 | <a href="/customers?page={{page_num|add:+1}}">Next </a> &nbsp<a href="/customers?page={% widthratio count 100 1 %}">Last</a></span>
</div>
<div style="clear:both; height:10px;">&nbsp;</div>
<div style="clear:both" class="bottom-grey">
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="left">
  <tr>
    <td>&nbsp;</td>
    <td align="right">Batch Action:</td>
    <td align="left" style="padding-top:5px; padding-left:5px;"><select name="" class="dropdownlist">
    <option>With Selected Customer(s)</option>
     <option>Delete Selected</option>
    </select></td>
    <td style="padding-top:5px;"><img src="misc/images/apply.jpg" width="72" height="20" border="0" /></td>
  </tr>
</table>

</td>
  </tr>
</table></td>
  </tr>
</table>
</div>
  
  
</div></div>




 
 
{% include 'admin_footer.html' %}