<div class="footer clr">
<div class="clr">
<div class="float-left">
<div class="float-left width10">&nbsp;</div>
<div class="float-left wid150">
<ul class="footerlist" >
  <span class="footertitle">SHOP</span>
<li class="padtop24"><a href="/quicklist?cat=15"  >Saltwaterfish</a></li>
<li><a href="/quicklist?cat=16"  >Saltwater Corals</a></li>
<li><a href="/quicklist?cat=17"  >Inverts</a></li>
<li><a href="/quicklist?cat=2"  >Reef Packages</a></li>
<li><a href="/quicklist?cat=3"  >Aquarium Supplies</a></li>
<li><a href="/giftcert"  >Gift Certificates</a></li>
</ul>

</div>
<div class="float-left wid177"><div class="float-left wid187">
<ul class="footerlist" >
  <span class="footertitle">SAVE</span>
<li class="padtop24"><a href="/onsale?id=224"  >Saltwaterfish on Sale</a></li>
<li><a href="/onsale?id=222"  >Sale Corals</a></li>
<li><a href="/onsale?id=203"  >Invert on Sales</a></li>
<li><a href="/onsale?id=223"  >Reef Packages on Sale</a></li>
<li><a href="/onsale?id=197"  >Aquarium Supplies on Sale</a></li>
<li><a href="/pages?pageid=91">Specials</a></li>
</ul>

</div></div>
<div class="float-left wid122"><div class="float-left wid150">
<ul class="footerlist">
  <span class="footertitle">SERVICE</span>
<li class="padtop24"><a href="/pages?pageid=45"  >Shipping</a></li>
<li><a href="/contactus"  >Contact Us</a></li>
<li><a href="/pages?pageid=39"  >Returns</a></li>
<li><a href="/pages?pageid=43"  >Reef Rewards</a></li>
<li><a href="/termsconditions"  >Terms and Condition</a></li>
<!--<li><a href="guaranteeinfo.htm">Guarantee Info</a></li>-->
</ul>

</div></div>
<div class="float-left wid176"><ul class="footerlist" >
  <span class="footertitle">RESOURCES</span>
<li class="padtop24"><a href="/productindex"  >Product Index</a></li>
<li><a href="/categoriesindex"  >Cateogry Index</a></li>
<li><a href="/pages?pageid=48"  >Acclimation Video</a></li>
<li><a href="http://forums.saltwaterfish.com/f/"  target=blank>Forum</a></li>

</ul>
</div>
<div class="float-left wid66"></div>
<div class="clr">&nbsp;</div>
<div class="we_accept clr"><div class="float-left padleft40 padtop10 padright20">We Accept:</div><div class="float-left"><a href="#"><img src="misc/images/visa.jpg" width="77" height="32" border="0" /></a>&nbsp;&nbsp;<a href="#"><img src="misc/images/master.jpg" border="0" /></a>&nbsp;&nbsp;<a href="#"><img src="misc/images/amex.jpg" width="77" height="32" border="0" /></a>&nbsp;&nbsp;<a href="#"><img src="misc/images/discover.jpg" border="0" /></a>&nbsp;&nbsp;<a href="#"><img src="misc/images/paypal.jpg" border="0" /></a>&nbsp;&nbsp;</div>
</div>
</div>
<form method="post" name="mailing" action="http://saltwaterfish.us2.list-manage1.com/subscribe/post?u=fe7ad84cfa3047b07306cbd74&amp;id=f673568c4c" style="margin: 0px; padding: 0px;">
<input name="subscribe" value="1" checked="checked" type="hidden">
<div class="float-left wid257">
<div align="left" class="txt1 clr padtop30 padbottom10">Friend and Follow us on:</div>
<div align="left" class="txt1 clr padtop7">
<a href="http://www.facebook.com/pages/Saltwaterfishcom/109441105204" target=blank><img src="misc/images/face-icon.jpg" /></a>&nbsp;<a href="http://twitter.com/SaltwaterfishCo" target=blank><img src="misc/images/twitter.jpg" /></a>&nbsp;<a href="http://www.youtube.com/user/SaltwaterFishVideos" target=blank><img src="misc/images/utube.jpg" /></a>&nbsp;<g:plusone size="small"></g:plusone>
</div>
<div align="left" class="sign clr">Sign up for <span>Email</span></div>
<div class="sign-box clr padtop5">
<div class="float-left wid151 height30"><input name="email" type="text" placeholder="Enter email address" /></div>
<div class="float-left wid103 height30"><input name="" type="submit" value="Sign In" /></div>
</div>
<div align="left" class="get clr" >And Get 15% <span>OFF </span><br />
Your First Purchase</div>
<div class="clr">&nbsp;</div>
<div align="left" class="order clr">Order by Phone<br />
<span>772-462-0203</span> </div>
<div class="clr">&nbsp;</div>
</div>
</form>
</div>
<div class="copy_right clr">All images, picture and descriptions are generalizations and cannot be exact representations.<br />
Copyright 2013 Saltwaterfish.com  All Rights Reserved</div>
<div class="clr">&nbsp;</div>
</div>
</div>
</div>
</div>
</div>
 <script language="javascript" type="text/javascript" src="/misc/js/jquery.bpopup.min.js"></script>
 
<script type="text/javascript">
	;(function($) {
         $(function() {
            $('.pop1').bind('click', function(e) {
                e.preventDefault();
				var a_href = $(this).attr('id');
				$("#contentss").load(a_href);
                $('#popup').bPopup({
				});
			});
			 
        });

    })(jQuery);

</script>

<div id="popup" style="left: -700px; position: absolute; top: 1177px; z-index: 9999; opacity: 1; display: none;min-height:200px;">
        
        <div id="contentss" style="height: auto; width: auto;"><img src="misc/images/ajax_loader.gif"></div>
</div>
<!-- Place this tag after the last +1 button tag. -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
</body>
</html>
<!-- Place this tag where you want the +1 button to render. -->


