<div class="footer clr">
<div class="clr">
<div class="float-left">
<div class="float-left width10">&nbsp;</div>
<div class="float-left wid150">
<ul class="footerlist" >
  <span class="footertitle">SHOP</span>
<li class="padtop24"><a href="/quicklist?cat=15"  >Saltwaterfish</a></li>
<li><a href="/quicklist?cat=16"  >Saltwater Corals</a></li>
<li><a href="/quicklist?cat=17"  >Inverts</a></li>
<li><a href="/quicklist?cat=2"  >Reef Packages</a></li>
<li><a href="/quicklist?cat=3"  >Aquarium Supplies</a></li>
<li><a href="/quicklist?cat=11"  >Gidt Certificates</a></li>
</ul>

</div>
<div class="float-left wid177"><div class="float-left wid150">
<ul class="footerlist" >
  <span class="footertitle">SAVE</span>
<li class="padtop24"><a href="/quicklist?cat=224"  >Saltwaterfish on Sale</a></li>
<li><a href="/quicklist?cat=222"  >Sale Corals</a></li>
<li><a href="/quicklist?cat=203"  >Invert on Sales</a></li>
<li><a href="/quicklist?cat=223"  >Reef Packages on Sale</a></li>
<li><a href="/quicklist?cat=197"  >Aquarium Supplies on Sale </a></li>
<li><a href="specials.htm">Specials</a></li>
</ul>

</div></div>
<div class="float-left wid122"><div class="float-left wid150">
<ul class="footerlist">
  <span class="footertitle">SERCIVE</span>
<li class="padtop24"><a href="http://www.saltwaterfish.com/Free-FedEx-Shipping-Discount-Shipping-at-Saltwaterfishcom_ep_45-1.html"  >Shipping</a></li>
<li><a href="http://www.saltwaterfish.com/Contact-Us_ep_40.html"  >Contact Us</a></li>
<li><a href="http://www.saltwaterfish.com/Money-Back-Guarantee_ep_39-1.html"  >Returns</a></li>
<li><a href="http://www.saltwaterfish.com/Reef-Rewards_ep_43-1.html"  >Reef Rewards</a></li>
<li><a href="http://www.saltwaterfish.com/Terms-and-Conditions_ep_2-1.html"  >Terms and Condition</a></li>
<li><a href="guaranteeinfo.htm">Guarantee Info</a></li>
</ul>

</div></div>
<div class="float-left wid176"><ul class="footerlist" >
  <span class="footertitle">RESOURCES</span>
<li class="padtop24"><a href="http://www.saltwaterfish.com/product_index.asp"  >Product Index</a></li>
<li><a href="http://www.saltwaterfish.com/category_index.asp"  >Cateogry Index</a></li>
<li><a href="http://www.saltwaterfish.com/Acclimation_ep_48-1.html"  >Acclimation Video</a></li>
<li><a href="http://forums.saltwaterfish.com/f/"  >Forum</a></li>

</ul>
</div>
<div class="float-left wid66"></div>
<div class="clr">&nbsp;</div>
<div class="we_accept clr"><div class="float-left padleft40 padtop10 padright20">We Accept:</div><div class="float-left"><a href="#"><img src="misc/images/visa.jpg" width="77" height="32" border="0" /></a>&nbsp;&nbsp;<a href="#"><img src="misc/images/master.jpg" border="0" /></a>&nbsp;&nbsp;<a href="#"><img src="misc/images/amex.jpg" width="77" height="32" border="0" /></a>&nbsp;&nbsp;<a href="#"><img src="misc/images/discover.jpg" border="0" /></a>&nbsp;&nbsp;<a href="#"><img src="misc/images/paypal.jpg" border="0" /></a>&nbsp;&nbsp;<a href="#"><img src="misc/images/google.jpg" border="0" /></a></div>
</div>
</div>
<div class="float-left wid257">
<div align="left" class="txt1 clr padtop30 padbottom10">Friend and Follow us on:</div>
<div align="left" class="txt1 clr padtop7">
<img src="misc/images/face-icon.jpg" />&nbsp;<img src="misc/images/twitter.jpg" />&nbsp;<img src="misc/images/utube.jpg" />&nbsp;<img src="misc/images/g+.jpg" />
</div>
<div align="left" class="sign clr">Sign up for <span>Email</span></div>
<div class="sign-box clr padtop5">
<div class="float-left wid151 height30"><input name="" type="text" placeholder="Enter email address" /></div>
<div class="float-left wid103 height30"><input name="" type="submit" value="Sign In" /></div>
</div>
<div align="left" class="get clr" >And Get 15% <span>OFF </span><br />
Your First Purchase</div>
<div class="clr">&nbsp;</div>
<div align="left" class="order clr">Order by Phone<br />
<span>772-462-0203</span> </div>
<div class="clr">&nbsp;</div>
</div>

</div>
<div class="copy_right clr">All images, picture and descriptions are generalizations and cannot be exact representations.<br />
Copyright 2013 Saltwaterfish.com  All Rights Reserved</div>
<div class="clr">&nbsp;</div>
</div>
</div>
</div>
</div>
</div>



</body>
</html>
