{% include 'header.htm' %}


{% include 'myaccount_widget.htm' %}

<div class="width10 float-left">&nbsp;&nbsp;</div>
<div class="wid748 float-left">
<div class="height12 clr"></div>
<div  class="content-bg1 clr">
  <div class="padtop170">GREY AREA 
    CMS 
    Admin Control</div>
</div>
<div class="height12 clr"></div>
<div class="content-bg2 clr"><div class="padtop140">GREY AREA 
CMS 
Admin Control</div></div>



</div>
<div class="float-left width10"></div>

</div>
{% include 'footer.htm' %}
