<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Home Page Admin</title>
<link href="style.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
.menu{

}
-->
</style>
<script language="JavaScript">
<!--
function mmLoadMenus() {
  if (window.mm_menu_0311194645_0) return;
    window.mm_menu_0311194645_0 = new Menu("root",120,25,"Arial, Helvetica, sans-serif",12,"#787878","#787878","#FFFFFF","#FFFFFF","left","middle",3,0,1000,-5,7,true,false,true,10,false,false);
  mm_menu_0311194645_0.addMenuItem("New","location='new.html'");
  mm_menu_0311194645_0.addMenuItem("Processing","location='processing.html'");
  mm_menu_0311194645_0.addMenuItem("Canceled","location='canceled.html'");
  mm_menu_0311194645_0.addMenuItem("Shipped","location='shipped.html'");
  mm_menu_0311194645_0.addMenuItem("Order&nbsp;Status","location='order_status.html'");
  mm_menu_0311194645_0.addMenuItem("Export","location='export.html'");
   mm_menu_0311194645_0.fontWeight="bold";
   mm_menu_0311194645_0.hideOnMouseOut=true;
   mm_menu_0311194645_0.bgColor='#555555';
   mm_menu_0311194645_0.menuBorder=1;
   mm_menu_0311194645_0.menuLiteBgColor='#FFFFFF';
   mm_menu_0311194645_0.menuBorderBgColor='#777777';

mm_menu_0311194645_0.writeMenus();
} // mmLoadMenus()
//-->
</script>
<script language="JavaScript" src="mm_menu.js"></script>
</head>

<body>
<script language="JavaScript1.2">mmLoadMenus();</script>
<div align="center">
  <div class="shade-admin">
    <div style="width:1004px; background-color:#FFFFFF" align="center">
      <div style="clear:both; float:left" class="admin-logo"><a href="index.htm"><img src="images/logo.png" width="426" height="93" border="0" style="float:left" /></a></div>
      <div  style="clear:both"><a href="#"><img src="images/orders.jpg" name="image1" id="image1" onmouseover="MM_showMenu(window.mm_menu_0311194645_0,0,41,null,'image1')" onmouseout="MM_startTimeout();" /></a><a href="#"><img src="images/customers.jpg" /><img src="images/products.jpg" /></a><a href="#"><img src="images/rma.jpg" /></a><a href="#"><img src="images/cms.jpg" /></a><a href="#"><img src="images/support.jpg" /></a><a href="#"><img src="images/report.jpg" /></a><a href="#"><img src="images/settings.jpg" /></a><a href="#"><img src="images/users.jpg" /></a><a href="#"><img src="images/logout.jpg" /></a></div>
      <div style="clear:both; padding-top:25px; padding-bottom:25px;" class="salt-head" >SaltwaterFish.com Admin Panel</div>
       <div style="clear:both;" class="content-bg" >


<div style="clear:both; padding-bottom:30px;"><img src="images/chart.jpg" width="809" height="344" border="0" /></div>
<div style="clear:both; width:809px" align="center"><table width="100%" border="0" cellspacing="0" cellpadding="0" >
  <tr>
    <td class="admin-caption"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td style="padding-left:15px;">Activity Profile / Sales History</td>
    <td align="right">Last update: 1/11/2013  4:44:00 PM</td>
        <td align="left" style="padding-left:10px;"><img src="images/refresh.jpg" width="90" height="30" border="0" /></td>

  </tr>
</table>
</td>
  </tr>
  <tr>
    <td class="table-bg" ><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
         <td style="height:41px; line-height:41px; " align="right">&nbsp;</td>
       <td style="padding-left:10px;">Today </td>
        <td>This Month</td>
        <td>Last Month</td>
        <td>This Year</td>
        <td>Last Year</td>
      </tr>
      <tr>
  <td style="height:31px; line-height:31px; width:282px;" align="right">Products Sold</td>
        <td style="padding-left:10px;">189</td>
        <td>3339</td>
        <td>10236</td>
        <td>10236</td>
        <td>119846</td>
      </tr>
      <tr>
     <td style="height:31px; line-height:31px; width:282px;" align="right">Number of Orders</td>
        <td style="padding-left:10px;">25</td>
        <td>600</td>
        <td>1658</td>
        <td>1658</td>
        <td>20303</td>
      </tr>
      <tr>
         <td style="height:31px; line-height:31px; width:282px;" align="right">Total Sold</td>
        <td style="padding-left:10px;">$4,344.24 </td>
        <td>$79,476.15 </td>
        <td>$230,670.59</td>
        <td>$230,670.59</td>
        <td>$2,775,092.17</td>
      </tr>
    </table></td>
  </tr>
</table>
</div>




</div>


</div>
<div style="clear:both; padding-top:10px;" class="footer-area" >All images,picture and descriptions are generalizations and cannot be exact representations.
  <br />
  Copyright 2013 Saltwaterfish.com. All Rights Reserved.</div>
</div>


</div>
</body>
</html>
