{% include 'admin_header.htm' %}
      
	  
	  <div style="clear:both; padding-top:25px; padding-bottom:25px;" class="salt-head" >SaltwaterFish.com Admin Panel</div>
       
	   
	   <div style="clear:both;" class="content-bg" >


<div style="clear:both; padding-bottom:30px;"><img src="/misc/images/chart.jpg" width="809" height="344" border="0" /></div>
<div style="clear:both; width:809px" align="center"><table width="100%" border="0" cellspacing="0" cellpadding="0" >
  <tr>
    <td class="admin-caption"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td style="padding-left:15px;">Activity Profile / Sales History</td>
    <td align="right">Last update: 1/11/2013  4:44:00 PM</td>
        <td align="left" style="padding-left:10px;"><img src="/misc/images/refresh.jpg" width="90" height="30" border="0" /></td>

  </tr>
</table>
</td>
  </tr>
  <tr>
    <td class="table-bg" ><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
         <td style="height:41px; line-height:41px; " align="right">&nbsp;</td>
       <td style="padding-left:10px;">Today </td>
        <td>This Month</td>
        <td>Last Month</td>
        <td>This Year</td>
        <td>Last Year</td>
      </tr>
      <tr>
  <td style="height:31px; line-height:31px; width:282px;" align="right">Products Sold</td>
        <td style="padding-left:10px;">189</td>
        <td>3339</td>
        <td>10236</td>
        <td>10236</td>
        <td>119846</td>
      </tr>
      <tr>
     <td style="height:31px; line-height:31px; width:282px;" align="right">Number of Orders</td>
        <td style="padding-left:10px;">25</td>
        <td>600</td>
        <td>1658</td>
        <td>1658</td>
        <td>20303</td>
      </tr>
      <tr>
         <td style="height:31px; line-height:31px; width:282px;" align="right">Total Sold</td>
        <td style="padding-left:10px;">$4,344.24 </td>
        <td>$79,476.15 </td>
        <td>$230,670.59</td>
        <td>$230,670.59</td>
        <td>$2,775,092.17</td>
      </tr>
    </table></td>
  </tr>
</table>
</div>




</div>


</div>
{% include 'admin_footer.html' %}