{% include 'admin_header.htm' %}
<link href="/misc/css4/style.css" rel="stylesheet" type="text/css" />
<div style="clear:both" class="white-bg">
<div style="clear:both; padding-bottom:10px" class="content-bg">
<table width="100%" border="0">
  <tr>
    <td align="left" valign="top" width="130" style="padding-left:20px" class="left-text"><span class="left-text1">Products</span><br />
<br />
<a href="/products?page=1">View/Edit</a><br />
        Add New<br />
        Bundles<br />
        <a href="/categories?page=1">Categories</a><br />
        Inventtory<br />
        <a href="/product_wish_list?page=1">Wish List</a><br />
         <a href="/all_product_reviews?page=1">Reviews</a><br />
        Import/Export</td>
    <td style="width:1px; background-color:#d9d9d9; background-repeat:repeat-y"></td>
    <td>
	<table width="100%" border="0">
  <tr>
    <td class="left-text" style="padding-top:10px;">Products	 > View/Edit<a href="#"></a></td>
  </tr>
  <tr>
    <td style="padding-bottom:10px; padding-top:10px;">
	<div style="float:left" class="left-text1">View/Edit</div>
	<div style="float:right; margin-right:15px">
<div class="search1">
<div style="float:left; width:230px;"><input name="Input" type="text"  placeholder="Search saltwaterfish.com"/></div>
<div style="float:left; width:69px;"><input type="submit" name="Submit"  value="Search" /></div>
</div>
</div>	</td>
  </tr>
  <tr>
    <td style="height:1px; background-color:#d9d9d9; background-repeat:repeat-y"></td>
  </tr>
  <tr>
  <td>
  <div class="left-text1 style1" style="float:left">Margarita Turbo Snail Grou...</div>
  <div style="float:right;"><img src="/misc/images/delete-button.jpg" style="margin-right:10px;"  /><img src="/misc/images/save-button.jpg"  /></div>  </td>
  </tr>
    <tr>
    <td style="height:1px; background-color:#d9d9d9; background-repeat:repeat-y"></td>
  </tr>
  
  <tr>
    <td style="padding-top:10px"><div style="clear:both; padding-top:20px;">
<div>
        <ul class="tabs1" persist="true">
		<li><a href="#" rel="view2">Information</a></li>
            <li><a href="#" rel="view1">Images</a></li>
            <li><a href="#"  rel="view3">Related</a></li>
            <li><a href="#"  rel="view4">Options</a></li>
			 <li><a href="#"  rel="view5">Articles</a></li>
			 <li><a href="#"  rel="view5">Reviews</a></li>
        </ul>
		
        <div class="tabcontents1">
		
		  <div id="view1" class="tabcontent1 selected">
<div class="order-txt" style="clear:both; padding-left:15px; padding-top:5px; padding-bottom:5px; background-color:#636363">Images and Videos </div>
<div>
<div  class="cate1 clr"><span style="font-size:16px;">Catalog ID 5486-</span><u>Margarita Turbo Snail Grou...</u></div>
<div class="text1 clr"></div>
<div class="clr product_categories" style="margin-top:20px;">
<div class="wid1 float-left">Main Image</div>
<div class="wid2 float-right">Thumbnail</div>
</div>

<div class="clr">&nbsp;&nbsp;</div>
<div class="clr">
<div class="wid1 float-left">
<div class="clr" ><img src="{{allitems.image1}}"   border="0" /></div>
<div class="clr">&nbsp;&nbsp;</div>
<div class="clr">
<div class="float-left wid3 cate-new">File :</div>
<div class="float-left wid4"><input name="" type="text" class="wid6" /></div>
<div class="float-left wid5"><img src="/misc/images/browse.jpg" width="64" height="21" border="0" /></div>
</div>
<div class="clr">&nbsp;</div>
<div class="clr">
<div class="float-left wid8 cate-new">Caption :</div>
<div class="float-left"><input name="" type="text" class="wid7" value="{{allitems.imagecaption1}}"/></div>
</div>



<div class="clr"></div>
</div>
<div class="wid2 float-right">
<div class="clr"><img src="{{allitems.thumbnail}}"  border="0" /></div>
<div class="clr">&nbsp;&nbsp;</div>
<div class="clr" align="left"><input name="" type="text" class="wid6" /></div>
<div class="clr">&nbsp;&nbsp;</div>
<div class="clr" align="left"><img src="/misc/images/browse.jpg" width="64" height="21" border="0" /></div>
<div class="clr">&nbsp;&nbsp;</div>
<div class="clr" align="left"><img src="/misc/images/create-image.jpg" width="192" height="21" border="0" /></div>
</div>
</div>
<div class="clr">&nbsp;</div>
<div class="clr product_categories" style="margin-top:0px;">Additional Images</div>
<div class="clr">&nbsp;</div>
<div class="clr">
<div class="float-left wid9"><img src="/misc/images/no-image-selected.jpg" width="129" height="129" border="0" /></div>
<div class="float-left wid11">&nbsp;</div>
<div class="float-left wid10">
<div class="clr">&nbsp;&nbsp;</div>
<div class="clr">
<div class="float-left wid5 cate-new">File:</div>
<div class="float-left"><input name="" type="text" class="wid12" /></div>
</div>
<div class="clr">&nbsp;&nbsp;</div>
<div class="clr">
<div class="float-left wid5 cate-new">Caption:</div>
<div class="float-left"><input name="" type="text" class="wid12" /></div>
</div>
</div>
<div class="float-left wid13">&nbsp;</div>
</div>
   
</div>
 </div>
 </div>
</div>






















    </div></td>
  </tr>
</table>
	
	
	
	</td>
  </tr>
</table>
</div>
</div>



{% include 'admin_footer.html' %}
