<div class="clr blue-border-new marleft10">
<div class="clr blue-bg-header-new">
  <div class="left_product">Customers</div>
</div>
<div class="clr resources1">
<div class="left_product_page">
<div class="img"><img src="misc/images/arrow.jpg" width="15" height="12" border="0" /></div>
<div class="txt"><a href="/customers?page=1" >
View/Edit</a></div>
</div>
<div class="left_product_page">
<div class="img"><img src="misc/images/arrow.jpg" width="15" height="12" border="0" /></div>
<div class="txt"><a href="/baddcustomer" >Add New</a></div>
</div>
<div  class="left_product_page">
<div class="img"><img src="misc/images/arrow.jpg" width="15" height="12" border="0" /></div>
<div class="txt"><a href="customers-export.htm" >Import/Export</a></div>


</div>
</div>


</div>