<div style="clear:both;" class="blue-border-new">
<div style="clear:both" class="blue-bg-header-new">
  <div align="center" style="height: 30px;
	line-height:30px;">Settings</div>
</div>
<div style="clear:both" class="resources1">
  



<div style="clear:both; width:207px" ></div>
<div style="clear:both; width:187px; padding-top:5px; padding-left:5px;">
<div style="float:left; padding-top:3px;"><img src="misc/images/arrow.jpg" width="15" height="12" border="0" /></div>
<div style="float:left"><a href="/adminshippingmanager" >
Shipping Manager</a></div>
</div>

<div style="clear:both; width:187px; padding-top:10px; padding-left:5px;">
<div style="float:left; padding-top:3px;"><img src="misc/images/arrow.jpg" width="15" height="12" border="0" /></div>
<div style="float:left"><a href="/couponmanager" >Coupon Manager</a></div>


</div>
<div style="clear:both; width:187px; padding-top:10px; padding-left:5px;">
<div style="float:left; padding-top:3px;"><img src="misc/images/arrow.jpg" width="15" height="12" border="0" /></div>
<div style="float:left"><a href="/taxmanager" >Tax Manager</a></div>


</div>
</div>


</div>