{% include 'header.htm' %}
<style type="text/css">
<!--
.greentext {color: #00CC00; font-size: 12px;}
.redtext {color: #FF0000; font-size: 12px;}
label.error { float: none; color: red; padding-left: .5em; vertical-align: top; }
-->
</style>
<script language="javascript" type="text/javascript" src="/misc/js/jquery-1.7.2.min.js"></script>
<script language="javascript" type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"></script>
<script>
$(function() {

   $( "#form"  ).submit(function() {
      var thisform = $('#form');
	  if (thisform.valid()) 
        return true;
      else
	  {
         alert("Please fill the mandatory fields in the required format");
	  }
      return false;
     });

   $( "#form" ).validate({
           rules: {
                   {{ form.username.html_name }}: {
                           required: true,
                           maxlength: 30,
                           customvalidation: true
                   }
           },
           messages: {
                   {{ form.username.html_name }}: {
                           required: "*",
                   }
           },

           errorPlacement: function(error, element){
                            error.insertAfter(element);
                       },
                   
           showErrors: function(errorMap, errorList){
                              this.defaultShowErrors();
                       }
   });


//------------------------------------------------------------------------------------
   $( "#forgetpwdform"  ).submit(function() {
      var thisform = $('#form');
	  if (thisform.valid()) 
        return true;
      else
	  {
         alert("Please fill the mandatory fields in the required format");
		 return true;
	  }
      return false;
     });

   $( "#forgetpwdform" ).validate({
           rules: {
                   {{ forgotform.email.html_name }}: {
                           required: true,
                           maxlength: 30,
                           customvalidation: true
                   }
           },
           messages: {
                   {{ forgotform.email.html_name }}: {
                           required: "*",
                   }
           },

           errorPlacement: function(error, element){
                            error.insertAfter(element);
                       },
                   
           showErrors: function(errorMap, errorList){
                              this.defaultShowErrors();
                       }
   });

   $.validator.addMethod("customvalidation",
           function(value, element) {
		     if (element.name == '{{ forgotform.email.html_name }}' || element.name == '{{ form.username.html_name }}')
                   return /^[A-Za-z\d_\.-]+@[A-Za-z\d_\.-]+\.[A-Za-z\d_\.-]+$/.test(value);
           },
   "Must be a valid EMail ID."
   );

});
</script>
<div align=center>

<div class="wid748 ">
<div class="height12 clr"></div>
<div  class="content-bg1" style="min-height:200px !important;">
  
  <div class="blue-bg-header " style="width:100% !important;">
Returning Customers
</div>{{ request.session.IsLogin }}
<form name="form" id="form" action="/custlogin" method="post">
{% csrf_token %}
<div class="my-account " style="min-height:150px !important;">
 {% if error_message1 %}
       <small style="color:red;font-size:15px;">{{ message }}  {{ error_message1 }} </small>
{%else%}
<div class="height23 clr">&nbsp;&nbsp;</div>
{% endif %} 

<div style="font-size:15px" >Email: {{ form.username }}</div>
<div class="height12 clr">&nbsp;&nbsp;</div>
<div style="font-size:15px" >Pass: {{ form.password }}</div>
<div class="height12 clr">&nbsp;&nbsp;</div>
{%comment%}<div class=" " ><img src="{{ recaptcha }}" /></div>
<div class="height12 clr">&nbsp;&nbsp;</div>
<div style="font-size:15px" >Verify: {{ form.recaptcha }}</div>
<div class="height12 clr">&nbsp;&nbsp;</div>
{%endcomment%}
<div class="wid187 clr">
<div class="float-left"><input type=image src="/misc/images/sign-in.jpg" width="77" height="21" border="0" /></div>

</form>
</div></div></div>
<div class="height12 clr"></div>
<div class="content-bg2" style="min-height:200px !important;">
 <div class="blue-bg-header " style="width:100% !important">
Forgot Password
</div><a name="forget">
<form action="sendpassword" method="post" id="forgetpwdform" name="forgetpwdform">
{% csrf_token %}
<div class="my-account clr">
<div class="height1 clr">&nbsp;&nbsp;</div>
{% if error_message2 %}
       <small style="color:red;font-size:15px;">{{ message }}  {{ error_message2 }} </small>
{%else%}
<div class="height23 clr">&nbsp;&nbsp;</div>
{% endif %} 

<div style="font-size:15px" >Email: {{ forgotform.email }}</div>
<div class="height12 clr">&nbsp;&nbsp;</div>
<div class=" " ><img src="{{ recaptcha2 }}" /></div>
<div class="height12 clr">&nbsp;&nbsp;</div>
<div style="font-size:15px" >Verify: {{ forgotform.recaptcha }}</div>
<div class="height12 clr">&nbsp;&nbsp;</div>
<div class="wid187 clr">
<div class="float-left"><input type=submit value="Reset My Password" width="77" height="21" border="0" /></div>

</form>

</div></div></div>

<div class="height12 clr"></div></div></div> 
{% include 'footer.htm' %}
