<div class="clr padtop10">
<div class="float-left leftcontent_bg_new">
<div class="vertical_tab_new">
<ul>
<li>
<a href="/ordertracking">
<div class="vertical_inner_new">
<div class="float-left"><img src="misc/images/car_img.png" width="17" height="14" border="0" /></div>
<div class="float-left padleft5">TRACK YOUR ORDERS 
</div>
</div>
</a>
</li>
</ul>
</div>
</div>
<div class="float-left leftcontent_bg_new">
<div class="vertical_tab_new">
<ul>
<li>
<a href="/myreefs">
<div class="vertical_inner">
<div class="float-left"><img src="/misc/images/reward_img.png" width="17" height="13" border="0" /></div>
<div class="float-left padleft10 ">My REEF REWARDS</div>
</div>
</a></li>
</ul>
</div>
</div>
<div class="float-left leftcontent_bg_new">
<div class="vertical_tab_new">
<ul>
<li class="selected">
<a href="/mytickets">
<div class="vertical_inner">
<div class="float-left"><img src="/misc/images/user_img.png" width="16" height="16" border="0" /></div>
<div class="float-left padleft10">MY SUPPORT REQUESTS</div>
</div>
</a>
</li>
</ul>
</div>
</div>
</div>
<div class="clr padtop5">
<div class="float-left leftcontent_bg_new">
<div class="vertical_tab_new">
<ul>
<li>
<a href="/rmaservice">
<div class="vertical_inner_new">
<div class="float-left"><img src="/misc/images/user_img.png" width="17" height="14" border="0" /></div>
<div class="float-left padleft10">MY GUARANTEED REQUESTS
</div>
</div>
</a>
</li>
</ul>
</div>
</div>
<div class="float-left leftcontent_bg_new">
<div class="vertical_tab_new">
<ul>
<li>
<a href="/mywishlist">
<div class="vertical_inner">
<div class="float-left"><img src="/misc/images/list_img.png" width="17" height="18" border="0" /></div>
<div class="float-left padleft10 ">MY WISH LIST</div>
</div>
</a></li>
</ul>
</div>
</div>
<div class="float-left leftcontent_bg_new">
<div class="vertical_tab_new">
<ul>
<li>
<a href="/addressbook">
<div class="vertical_inner">
<div class="float-left"><img src="/misc/images/book_img.png" width="17" height="13" border="0" /></div>
<div class="float-left padleft10 ">MY ADDRESS BOOK</div>
</div>
</a></li>
</ul>
</div>
</div>
</div>