<!--
.greentext {color: #00CC00; font-size: 12px;}
.redtext {color: #FF0000; font-size: 12px;}
label.error { float: none; color: red; padding-left: .5em; vertical-align: top; }
-->
{% load tagsfilter %}
<script language="javascript" type="text/javascript" src="/misc/js/jquery-1.7.2.min.js"></script>
<script language="javascript" type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"></script>
<script type="text/javascript">
$(function() {
   $( "#form" ).submit(function() {
      var thisform = $('#form');
	  if (thisform.valid()) 
        return true;
      else
	  {
         alert("Please fill the mandatory fields in the required format");
	  }
      return false;
     });
	 
   $( "#form" ).validate({
           rules: FORM_RULES,
		   messages: FORM_MESSAGES
   });
});



FORM_RULES = {
    '{{ form.username.html_name }}': 'required',
    '{{ form.password.html_name }}': 'required',
    '{{ form.recaptcha.html_name }}': 'required'
};
 
FORM_MESSAGES = {
    '{{ form.username.html_name }}': '<br>This field is required.',
	'{{ form.password.html_name }}': 'Password is required.',
	'{{ form.recaptcha.html_name }}': 'Recaptacha is required.',
};
$(function() {
	$('#popitems').change(function() {
		vals = $('#popitems').val()
	  window.location.replace("/category?id="+vals);
	});
});

 </script>
 <div  class="gray-back-new">
<div class="width8 float-left">&nbsp;</div>
<div class="width226 float-left">
<div class="grey-left-one clr" style="min-height:250px !important;">
     {% for banners in banner_main %}
	{% if banners.banner_type == "Left" %}
		{%comment%}<a href="{{banners.banner_link}}" target=blank><img src="http://commondatastorage.googleapis.com/{{banners.banner_image}}" style="max-width:221px !important;"></a>{%endcomment%}<table width="220px"><tr><td >{{banners.banner_content|safe}}</td></tr></table>
	{%endif%}
{%endfor%} 
</div>
<div class="height9 clr"></div>
<div class="blue-border clr">
<div class="blue-bg-header clr">
My Account 
</div>
{% if request.session.IsLogin %}
<div class="clr my-account">
<div class="new-customer padtop38">Welcome Back, {{ request.session.Customer.billing_firstname }} {{ request.session.Customer.billing_lastname }}</div>
<div class="clr height23">&nbsp;&nbsp;</div>
<div class="new-customer"><a href="/myaccount">My Account</a> | <a href="/orderstatus">Order Status</a></div>
<div class="clr height23">&nbsp;&nbsp;</div>
<div class="clr wid187">
<a href="/logout"><img src="/misc/images/left_logout.jpg" width="77" height="21" border="0" /></a>
</div>
 
</div>

{% else %}
<form name="form" id="form" action="custlogin" method="post">
{% csrf_token %}
<div class="my-account " style="height:100%;min-height:160px;">
<div class="height23 clr">&nbsp;&nbsp;</div>
<div class="redtext">{{ error_message }}</div>
<div class=" " >{{ LoginForm.username }}</div>
<div class="height12 clr">&nbsp;&nbsp;</div>
<div class=" " >{{ LoginForm.password }}</div>
{%comment%}<div class="height12 clr">&nbsp;&nbsp;</div>
<div class=" " ><img src="{{ recaptcha }}" /></div>
<div class="height12 clr">&nbsp;&nbsp;</div>
<div class=" " >{{ LoginForm.recaptcha }}</div>{%endcomment%}
<div class="height12 clr">&nbsp;&nbsp;</div>
<div class="wid187 clr">
<div class="float-left"><input type=image src="misc/images/sign-in.jpg" width="77" height="21" border="0" /></div>
<div class="new-customer float-right"><a href="/login#forget" class="start">Forgot Password</a></div>

</div>
</form>


<div class="height12 clr">&nbsp;&nbsp;</div>
<div class="wid157 clr">
<div class="new-customer float-left">New Customer? </div>
<div class="start float-right"><a href="/registration" class="start">Start Here</a></div>

</div>
</div>
{% endif %}
</div>

 
	{% if request.session.CartItems %}
		<div class="clr height9">&nbsp;&nbsp;</div>
		<div class="blue-border" style="height:100% !important;">
		<div class="blue-bg-header">My Cart</div>
		<div class=" clr">
		<div class="height12">&nbsp;&nbsp;</div>
		<table>
		<tr><td>
		{% for item in cartsitems %}
		
		<table>
		<tr>
			<td class=" padleft2" width="10"><img src="misc/images/1.jpg" border="0" /></td>
			<td class=" my_cart_txt1 padleft5 padtop3" width="210"><a href="/product?pid=1938">{{item.item_name}}</a></td>
			<td class=" my_cart_txt2 padleft5 padtop3">${{item.saleprice|floatformat:2}}</td>
		</tr>
		<tr><td colspan=3><img src="misc/images/mycart_line.jpg" border="0" /></td></tr>
		</table>
		{%endfor%}
		</td>
		</tr>
		<tr><td  class="float_right padright10">Total:&nbsp;&nbsp;<strong>${{request.session.CartInfo.order_total|floatformat:2}}</strong></td></tr>
		<tr><td align=center> <a href="/viewcart"><img src="misc/images/view_cart.jpg" border="0" /></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/checkoutlogin"><img src="misc/images/chk_out.jpg" border="0" /></a> </td></tr>
		</table>
 		
		</div>
		</div>
	{% endif %}
 
<div class="height9 clr">&nbsp;&nbsp;</div>
<div class="blue-border clr">
<div class="blue-bg-header clr">
Resources
</div>
<div class="resources clr">
<div class="height12 clr">&nbsp;&nbsp;</div>
<div class="wid207 clr">
  <select name="popitems" id="popitems" class="wid180">
    <option  value="" selected="selected">Popular Searches</option>
   {% for popitems in popular%}
	 <option value="{{popitems.id}}">{{popitems.category_name}}</option>
   {%endfor%}
  </select>
</div>
<div class="wid187 clr padtop20">
<div class="float-left padtop3"><img src="misc/images/arrow.jpg" width="15" height="12" border="0" /></div>
<div class="float-left"><a href="/pages?pageid=92"  >Deep Blue Seas Foundation</a></div>
</div>
<div class="wid187 clr padtop10">
<div class="float-left padtop3"><img src="misc/images/arrow.jpg" width="15" height="12" border="0" /></div>
<div class="float-left"><a href="/pages?pageid=78"  >Returns & Guarantee</a></div>
</div>
<div class="wid187 clr padtop10">
<div class="float-left padtop3"><img src="misc/images/arrow.jpg" width="15" height="12" border="0" /></div>
<div class="float-left"><a href="/giftcert"  >Gift Certificates</a></div>


</div><div class="wid187 clr padtop10">
<div class="float-left padtop3"><img src="misc/images/arrow.jpg" width="15" height="12" border="0" /></div>
<div class="float-left"><a href="/pages?pageid=55"  >Sustainability Mandate</a></div>


</div><div class="wid187 clr padtop10">
<div class="float-left padtop3"><img src="misc/images/arrow.jpg" width="15" height="12" border="0" /></div>
<div class="float-left"><a href="/pages?pageid=77"  >Shipping</a></div>


</div><div class="wid187 clr padtop10">
<div class="float-left padtop3"><img src="misc/images/arrow.jpg" width="15" height="12" border="0" /></div>
<div class="float-left"><a href="/pages?pageid=72"  >Free Shipping in FLORIDA</a></div>


</div><div class="wid187 clr padtop10">
<div class="float-left padtop3"><img src="misc/images/arrow.jpg" width="15" height="12" border="0" /></div>
<div class="float-left"><a href="/pages?pageid=43"  >Reef Rewards</a></div>


</div><div class="wid187 clr padtop10">
<div class="float-left padtop3"><img src="misc/images/arrow.jpg" width="15" height="12" border="0" /></div>
<div class="float-left"><a href="/pages?pageid=48"  >Acclimation</a></div>


</div><div class="wid187 clr padtop10">
<div class="float-left padtop3"><img src="misc/images/arrow.jpg" width="15" height="12" border="0" /></div>
<div class="float-left"><a href="http://forums.saltwaterfish.com/"  >Message Board</a></div>


</div>
 <div class="wid187 clr padtop10">
<div class="float-left padtop3"><img src="misc/images/arrow.jpg" width="15" height="12" border="0" /></div>
<div class="float-left"><a href="/fishschool"  >SaltWater Fish School </a></div>
</div> 

</div>


</div>


</div>