{% include 'header.htm' %}
{% include 'myaccount_widget.htm' %}
<style type="text/css">
<!--
.style12 {color: #FF6600}
.style13 {color: #FFFFFF}
-->
</style>

<script language="javascript" type="text/javascript" src="/misc/js/jquery-1.7.2.min.js"></script>
<script language="javascript" type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"></script>

<script>
var address_type = 0;
$(document).ready(function(){
  $("button[id='cmdEditBillingAddress']").click(function(){
    address_type = 1;
	$("#BillingAddressView").hide();
	$("#ShippingAddressView").show();
    $("#BillingAddressForm").load("/getaddress?address_type=billing");	
  });

  $("button[id='cmdEditShippingAddress']").click(function(){
    address_type = 2;
	$("#ShippingAddressView").hide();
	$("#BillingAddressView").show();
    $("#ShippingAddressForm").load("/getaddress?address_type=shipping");
  });

});

</script>
 

 
<div class="width10 float-left">&nbsp;&nbsp;</div>
<div class="wid748 float-left">
<div class="height12 clr"></div>
<div  class=" clr">
  <div >
<table width="600" border="0" cellpadding="3">
  <tr>
    <td colspan="3"><table width="100%" cellpadding="0" cellspacing="0">
      <tbody>
        <tr>
          <td align="left" colspan="2">&nbsp;</td>
        </tr>
        <tr>
          <td align="left"><h2><span class="style3 style12">MY ACCOUNT</span></h2></td>
          <td align="right"><a href="changepwd">Change Password</a></td>
        </tr>
      </tbody>
    </table>    </td>
  </tr>
  <tr>
    <td colspan="2"><span class="style9">Welcome Back,&nbsp;{{customer.billing_firstname}} {{customer.billing_lastname}} </span><br />
      If you are not {{customer.billing_firstname}} {{customer.billing_lastname}} click <a href="#">here</a></td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td colspan="3"><span class="style11"><strong>Guarantee Request Credits/Gift Certificate Information&nbsp;</strong>(<a href="http://www.saltwaterfish.com/customercredits.asp?email=murthyp@expertsden.com" target="_blank">View Details</a>)</span></td>
  </tr>
  <tr>
    <td width="141"><span class="style11">Billing Information </span></td>
    <td width="398"><div id="BillingAddressForm"></div> <table width="600" border="0" cellpadding="3" id="BillingAddressView">
      <tr>
        <td class="style11">{{customer.billing_firstname}} {{customer.billing_lastname}} </td>
      </tr>
      <tr>
        <td class="style11">{{customer.billing_address1}} {{customer.billing_address2}} </td>
      </tr>
      <tr>
        <td class="style11"><p>{{customer.billing_city}} {{customer.billing_state}} {{customer.billing_zip}} {{customer.billing_country}} 
          <label></label>
        </p></td>
      </tr>
      <tr>
        <td class="style11">{{customer.billing_phone}}</td>
      </tr>
    </table></td>
    <td width="35"><p class="style11">&nbsp;</p>
    <p class="style11">
	  <button id="cmdEditBillingAddress">Edit</button>
  </tr>
  <tr>
    <td><span class="style11">Shipping Information </span></td>
    <td><div id="ShippingAddressForm"></div> <table width="600" border="0" cellpadding="3" id="ShippingAddressView">
      <tr>
        <td class="style11">{{customer.shipping_firstname}} {{customer.shipping_lastname}} </td>
      </tr>
      <tr>
        <td class="style11">{{customer.shipping_address1}} {{customer.shipping_address2}} </td>
      </tr>
      <tr>
        <td class="style11"><p>{{customer.shipping_city}} {{customer.shipping_state}} {{customer.shipping_zip}} {{customer.shipping_country}} </p></td>
      </tr>
      <tr>
        <td class="style11">{{customer.shipping_phone}}</td>
      </tr>
    </table></td>
    <td><span class="style12"><a href="#">
      <button id="cmdEditShippingAddress">Edit</button>
    </a></span></td>
  </tr>
  <tr>
    <td colspan="3"><p class="style11">Track Your Recent Orders (Guarantee Requests get submitted here!) (<a href="#">view all</a>) </p>    </td>
  </tr>
  <tr>
    <td colspan="3"><table width="600" border="0" cellpadding="3" cellspacing="1" bgcolor="#CCCCCC">
      <tr bgcolor="#C4C4C4">
        <td width="109" class="style11"><span class="style3">Date</span></td>
        <td width="133" class="style11"><span class="style3">Order #</span> </td>
        <td width="171" class="style11"><span class="style3">Amount</span></td>
        <td width="153" bgcolor="#C4C4C4" class="style11"><span class="style3">Status</span></td>
      </tr>
      <tr bgcolor="#FFFFFF">
        <td class="style11">&nbsp;</td>
        <td class="style11">&nbsp;</td>
        <td class="style11">&nbsp;</td>
        <td class="style11">&nbsp;</td>
      </tr>
      <tr bgcolor="#FFFFFF">
        <td class="style11">&nbsp;</td>
        <td class="style11">&nbsp;</td>
        <td class="style11">&nbsp;</td>
        <td class="style11">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td colspan="3"><span class="style11">My Address Book <a href="#" class="style7">Add New Address </a></span></td>
  </tr>
  <tr>
    <td colspan="3"><table width="257" border="0" cellpadding="3" cellspacing="1" bgcolor="#CCCCCC">
      <tr bgcolor="#C4C4C4">
        <td width="109" class="style11"><span class="style3">Alias</span></td>
        <td width="133" class="style11"><span class="style3">Details</span> </td>
        </tr>
      <tr bgcolor="#FFFFFF">
        <td class="style11">&nbsp;</td>
        <td class="style11">&nbsp;</td>
        </tr>
      <tr bgcolor="#FFFFFF">
        <td class="style11">&nbsp;</td>
        <td class="style11">&nbsp;</td>
        </tr>
    </table></td>
  </tr>
  <tr>
    <td colspan="3"><span class="style11">My Last Support Requests (30 days) <a href="#" class="style7">Add Support request </a></span></td>
  </tr>
  <tr>
    <td colspan="3"><table width="600" border="0" cellpadding="3" cellspacing="1" bgcolor="#CCCCCC">
      <tr bgcolor="#C4C4C4">
        <td width="109" class="style11"><span class="style3">Id</span></td>
        <td width="133" class="style11"><span class="style3">Dept</span> </td>
        <td width="171" class="style11"><span class="style3">Subject</span></td>
        <td width="153" bgcolor="#C4C4C4" class="style11"><span class="style3">Last Action</span></td>
      </tr>
      <tr bgcolor="#FFFFFF">
        <td class="style11">&nbsp;</td>
        <td class="style11">&nbsp;</td>
        <td class="style11">&nbsp;</td>
        <td class="style11">&nbsp;</td>
      </tr>
      <tr bgcolor="#FFFFFF">
        <td class="style11">&nbsp;</td>
        <td class="style11">&nbsp;</td>
        <td class="style11">&nbsp;</td>
        <td class="style11">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td colspan="3"><span class="style11">Reef Rewards <a href="#">View Details</a> <a href="#">Redeem</a> </span></td>
  </tr>
  <tr>
    <td colspan="3"><span class="style11">Total Reef Rewards: {{rewards_count}} </span></td>
  </tr>
  <tr>
    <td colspan="3"><span class="style11">My Watch List <a href="/mywishlist">View Details</a> </span></td>
  </tr>
  <tr>
    <td colspan="3"><table width="600" border="0" cellpadding="3" cellspacing="1" bgcolor="#E8E8E8">
      <td class="style11">Products: {{wish_list_length}}</tr>
    </table></td>
  </tr>
</table>
</div></div>
<div class="float-left width10"></div>

</div>
{% include 'footer.htm' %}