{% extends 'base.html' %}
{% block content %}
<link type="text/css" rel="stylesheet" href="/misc/myaccount.css" />

{% load tagsfilter %}
<div class="float-left width10">&nbsp;&nbsp;</div>
<div class="float-left wid748 padtop5">
<div class="clr my_account_link padbottom13"><span><a href="/">Home</a> &gt; <a href="/myaccount">My Account</a></span><span> &gt; Track Your Orders </span></div>
 <div class="clr my_account_title padtop5 padbottom13">TRACK YOUR ORDERS </div>
<div class="clr myaccount_bg1">
 
{% include 'myaccount_links.htm' %}
<div class="clr">&nbsp;&nbsp;</div>
  
 {% if product_list %}
<table width="700" border="0" cellpadding="3" cellspacing="1" bgcolor="#EFEFEF">
  <tr style='background-image: url("/misc/images/content_menu.jpg");height: 31px;'>
     <td width="100"><b>Date</b></td>
    <td width="100"><b>Order #</b></td>
    <td width="80"><b>Amount</b></td>
    <td width="350"><b>Status & Tracking #</b></td>
	<td width="210"><b>RMA # - Guarantee Request</b></td>
  </tr>
{% for item in product_list %}
	<tr bgcolor="#FFFFFF"><td align=left>{{item.date_started|date:"m/j/Y"}}</td> <td><a href="/orderinfo?oid={{item.orderid}}">{{item.invoicenum_prefix}}{{item.invoicenum}} </td><td>${{item.orderamount|floatformat:"2"}}</a></td><td>
	{% for linkitem in order_links %}
		{% if item.order_status == linkitem.id %}
			{{linkitem.statustext}} 
		
		{%endif%}

	{% endfor %}
	{% if item.order_status == 4 %}
			{{item.orderid|ftrackingcode}} 
		
	{%endif%}
	</td><td>
	{% if item.orderid|selectrmaoitems != "" %}<a href="/rmarequest?crmid={{item.orderid|selectrmaoitems}}">View RMA</a>
	{%else%}
	{% if item.order_status == 4 %}
			<a href="/addrma?oid={{item.orderid}}">Add New Guarantee Request</a>
	{%else%}
	<a href="/orderinfo?oid={{item.orderid}}">View Order</a>
	{%endif%}
	
	{%endif%} </td></tr>
{% endfor %}
</table>
{%else%}
<table width="90%" border="0" cellpadding="3" cellspacing="1" bgcolor="#EFEFEF">
				<tbody><tr>
					 
					<td class="checkout-headers">My Last Orders 0 (30 days)  <a href="/ordertracking?viewall=all">View All</a></td>
				</tr>
			</tbody></table>

{% endif %}

 
 </div>
</div>

<div class="float-left wid10"></div>

</div>
 

{% endblock content %}