{% extends 'base.html' %}
{% block content %}
<link type="text/css" rel="stylesheet" href="/misc/css3/style.css" />
<style>
.height12 {
    height: 7px !important;
}
.order_detail_form {
    color: #434343;
    font-family: 'Open Sans',sans-serif;
    font-size: 12px;
    margin: 0 auto;
    width: 98% !important;
}
.toggle_right2 {
    border: 1px solid #E4E4E4;
    float: left;
    height: auto;
    margin-left: 25px;
    padding: 5px;
    width: 30%;
}
.order_left {
    color: #434343;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    width: 55%;
}
.order_heading {
    color: #434343;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    text-transform: uppercase;
}
.toggle_container {
    height: auto;
    width: 100%;
}
.toggle_header1 {
    background: -moz-linear-gradient(center top , #EFEFEF, #FFFFFF) repeat scroll 0 0 transparent;
    border: 1px solid #DDDDDD;
    color: #434343;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    height: auto;
    padding: 7px 0 10px;
    text-align: left;
    text-transform: uppercase;
    width: 469px;
}
.toggle_content1 {
    background-color: #FFFFFF;
    background-repeat: repeat;
    height: auto;
    margin: 5px 10px;
    padding: 0 10px;
	font-size: 12px;
}
.toggle_content11 {
    background-color: #FFFFFF;
    background-repeat: repeat;
    height: auto;
    margin: 5px 10px;
    padding: 0 10px;
	font-size: 12px;
}
.toggle_header2 {
    background: -moz-linear-gradient(center top , #00B0D9, #017DB3) repeat scroll 0 0 transparent;
    border: 1px solid #DDDDDD;
    color: #FFFFFF;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    height: auto;
    padding: 5px 10px 10px;
    text-transform: uppercase;
    width: 403px;
}
</style>
{% if order_error_message %}
<h4><span class="redtext">{{order_error_message}}</span></h4>
{% endif %}
<div class="float-left wid20"></div>
<div class="float-left wid748">
<div class="toggle_left1">
<form name="OrderConfirmationForm" id="OrderConfirmationForm" method="POST" action="/commitorder">
{% csrf_token %}
<div class="toggle_main1">
<div class="clr">
<!-- Tab1 starts -->
<div class="clr">
<div class="toggle_container">
<div class="toggle_header1">
  <div class="toggle_link toggle_open"  id="ShippingAddress">&nbsp;&nbsp;1 - Shipping Address</div>
</div>
<div class="toggle_content11" id="ShippingAddressPanel">
<div class="clr">
<div class="clr">
  <div class="float-left">
    <h4>Enter Your Shipping Address:</h4>
  </div>
  <div class="martop30"><span class="red_star">*</span> Required Field</div>
</div>
<form id="shipping_address">
  <div class="clr">
    <div class="float-left pwid12" align="left">First Name<span class="red_star">*</span></div>
    <div class="float-left" align="left">{{ form.shipping_first_name}}</div>
  </div>
  <div class="clr">&nbsp;&nbsp;</div>
  <div class="clr">
    <div class="float-left pwid12" align="left">Last Name<span class="red_star">*</span></div>
    <div class="float-left" align="left">{{ form.shipping_last_name}}</div>
  </div>
  <div class="clr">&nbsp;&nbsp;</div>
  <div class="clr">
    <div class="float-left pwid12" align="left">Address Line1<span class="red_star">*</span></div>
    <div class="float-left">{{ form.shipping_address1}}</div>
  </div>
  <div class="clr">&nbsp;&nbsp;</div>
  <div class="clr">
    <div class="float-left pwid12" align="left">Address Line2<span class="red_star">*</span></div>
    <div class="float-left">{{ form.shipping_address2}}</div>
  </div>
  <div class="clr">&nbsp;&nbsp;</div>
  <div class="clr">
    <div class="float-left pwid14">
      <div class="float-left wid70" align="left">City<span class="red_star">*</span>&nbsp;&nbsp;</div>
      <div class="float-left">{{ form.shipping_city }}</div>
    </div>
    <div class="float-right wid220">
      <div class="float-left pwid7" align="left">State<span class="red_star">*</span>&nbsp;&nbsp;</div>
      <div class="float-left">{{form.shipping_state}}</div>
    </div>
  </div>
  <div class="clr">&nbsp;&nbsp;</div>
  <div class="clr">
    <div class="float-left wid250">
      <div class="float-left wid70" align="left">Zip code<span class="red_star">*</span>&nbsp;&nbsp;</div>
      <div class="float-left">{{ form.shipping_zip }}</div>
    </div>
    <div class="float-right wid250 martopless">
      <div class="float-left">Phone Number<span class="red_star">*</span>&nbsp;&nbsp;</div>
      <div class="float-left">
        <div class="float-left">{{ form.shipping_phone_part1 }}&nbsp;</div>
        <div class="float-left">{{ form.shipping_phone_part2 }}&nbsp;</div>
        <div class="float-left">{{ form.shipping_phone_part3 }}</div>
      </div>
    </div>
  </div>
  <div class="clr">&nbsp;&nbsp;</div>
  <div class="clr">
    <div class="float-left wid70" align="left">Ext</div>
    <div class="float-left">
      <input type="text" value="" size="1" />
    </div>
  </div>
  <div class="card4_select_chk">
    <input type="checkbox" checked="checked" name="IsBillingAddressSame" id="IsBillingAddressSame"/>
    This is also my billing address</div>
  <div class="clr">&nbsp;&nbsp;</div>
  </div>
  <!-- Begin Billing address Form -->
  <div id="panel" style="display:none">
    <div class="clr">
      <div class="float-left">
        <h4>Enter Your Billing Address:</h4>
      </div>
      <div class="martop30"><span class="red_star">*</span> Required Field</div>
    </div>
    <div class="clr">
      <div class="float-left pwid12" align="left">First Name<span class="red_star">*</span></div>
      <div class="float-left" align="left">{{ form.billing_first_name}}</div>
    </div>
    <div class="clr">&nbsp;&nbsp;</div>
    <div class="clr">
      <div class="float-left pwid12" align="left">Last Name<span class="red_star">*</span></div>
      <div class="float-left" align="left">{{ form.billing_last_name}}</div>
    </div>
    <div class="clr">&nbsp;&nbsp;</div>
    <div class="clr">
      <div class="float-left pwid12" align="left">Address Line1<span class="red_star">*</span></div>
      <div class="float-left">{{ form.billing_address1}}</div>
    </div>
    <div class="clr">&nbsp;&nbsp;</div>
    <div class="clr">
      <div class="float-left pwid12" align="left">Address Line2<span class="red_star">*</span></div>
      <div class="float-left">{{ form.billing_address2 }}</div>
    </div>
    <div class="clr">&nbsp;&nbsp;</div>
    <div class="clr">
      <div class="float-left pwid14">
        <div class="float-left wid70" align="left">City<span class="red_star">*</span>&nbsp;&nbsp;</div>
        <div class="float-left">{{ form.billing_city }}</div>
      </div>
      <div class="float-right wid220">
        <div class="float-left pwid7" align="left">State<span class="red_star">*</span>&nbsp;&nbsp;</div>
        <div class="float-left">{{ form.billing_state }}</div>
      </div>
      <div class="float-right wid220">
        <div class="float-left pwid7" align="left">Country<span class="red_star">*</span>&nbsp;&nbsp;</div>
        <div class="float-left">{{ form.billing_country }}</div>
      </div>
    </div>
    <div class="clr">&nbsp;&nbsp;</div>
    <div class="clr">
      <div class="float-left wid250">
        <div class="float-left wid70" align="left">Zip code<span class="red_star">*</span>&nbsp;&nbsp;</div>
        <div class="float-left">{{ form.billing_zip }}</div>
      </div>
      <div class="float-right wid250 martopless">
        <div class="float-left">Phone Number<span class="red_star">*</span>&nbsp;&nbsp;</div>
        <div class="float-left">
          <div class="float-left">{{ form.billing_phone_part1 }}&nbsp;</div>
          <div class="float-left">{{ form.billing_phone_part2 }}&nbsp;</div>
          <div class="float-left">{{ form.billing_phone_part3 }}</div>
        </div>
      </div>
    </div>
    <div class="clr">&nbsp;&nbsp;</div>
    <div class="clr">
      <div class="float-left wid70" align="left">Ext</div>
      <div class="float-left">{{ form.billing_phone_ext }}</div>
    </div>
    <div class="clr">&nbsp;&nbsp;</div>
  </div>
  <!-- End Billing address form -->
  <div class="clr">&nbsp;&nbsp;</div>
  <div class="clr martop10 marbottom20">
    <div class="button" align="center">
      <input class="button" type="button" id="ContinueToShippingMethod" value="Continue To Shipping Method">
    </div>
  </div>
  <div class="clr"></div>
  <div class="clr"></div>
  <div class="clr"></div>
  </div>
  </div>
  </div>
  <!-- //Tab1 -->
  {%comment%}
  <!-- Tab1 starts -->
  <div class="clr">
    <div class="toggle_container">
      <div class="toggle_header1">
        <div id="ShippingAddress">&nbsp;&nbsp;1 - Shipping Address</div>
      </div>
      <div id="ShippingAddressPanel">
        <div class="clr">
          <div class="clr">
            <div class="float-left">
              <h4>Enter Your Shipping Address:</h4>
            </div>
            <div class="martop30"><span class="red_star">*</span> Required Field</div>
          </div>
          <div class="clr">
            <div class="float-left pwid12" align="left">First Name<span class="red_star">*</span></div>
            <div class="float-left" align="left">{{ form.shipping_first_name}}</div>
          </div>
          <div class="clr">&nbsp;&nbsp;</div>
          <div class="clr">
            <div class="float-left pwid12" align="left">Last Name<span class="red_star">*</span></div>
            <div class="float-left" align="left">{{ form.shipping_last_name}}</div>
          </div>
          <div class="clr">&nbsp;&nbsp;</div>
          <div class="clr">
            <div class="float-left pwid12" align="left">Address Line1<span class="red_star">*</span></div>
            <div class="float-left">{{ form.shipping_address1}}</div>
          </div>
          <div class="clr">&nbsp;&nbsp;</div>
          <div class="clr">
            <div class="float-left pwid12" align="left">Address Line2<span class="red_star">*</span></div>
            <div class="float-left">{{ form.shipping_address2 }}</div>
          </div>
          <div class="clr">&nbsp;&nbsp;</div>
          <div class="clr">
            <div class="float-left pwid14">
              <div class="float-left wid70" align="left">City<span class="red_star">*</span>&nbsp;&nbsp;</div>
              <div class="float-left">{{ form.shipping_city }}</div>
            </div>
            <div class="float-right wid220">
              <div class="float-left pwid7" align="left">State<span class="red_star">*</span>&nbsp;&nbsp;</div>
              <div class="float-left">{{form.shipping_state}}</div>
            </div>
          </div>
          <div class="clr">&nbsp;&nbsp;</div>
          <div class="clr">
            <div class="float-left wid250">
              <div class="float-left wid70" align="left">Zip code<span class="red_star">*</span>&nbsp;&nbsp;</div>
              <div class="float-left">{{ form.shipping_zip }}</div>
            </div>
            <div class="float-right wid250 martopless">
              <div class="float-left">Phone Number<span class="red_star">*</span>&nbsp;&nbsp;</div>
              <div class="float-left">
                <div class="float-left">{{ form.shipping_phone_part1 }}</div>
                <div class="float-left">{{ form.shipping_phone_part2 }}</div>
                <div class="float-left">{{ form.shipping_phone_part3 }}</div>
              </div>
            </div>
          </div>
          <div class="clr">&nbsp;&nbsp;</div>
          <div class="clr">
            <div class="float-left wid70" align="left">Ext</div>
            <div class="float-left">{{ form.shipping_phone_ext }}</div>
          </div>
          <div class="card4_select_chk">
            <input type="checkbox" checked="checked" name="IsBillingAddressSame" id="IsBillingAddressSame"/>
            This is also my billing address</div>
          <div class="clr">&nbsp;&nbsp;</div>
          <!-- Begin Billing address Form -->
          <div id="panel" style="display:none">
            <div class="clr">
              <div class="float-left">
                <h4>Enter Your Billing Address:</h4>
              </div>
              <div class="martop30"><span class="red_star">*</span> Required Field</div>
            </div>
            <div class="clr">
              <div class="float-left pwid12" align="left">First Name<span class="red_star">*</span></div>
              <div class="float-left" align="left">{{ form.billing_first_name}}</div>
            </div>
            <div class="clr">&nbsp;&nbsp;</div>
            <div class="clr">
              <div class="float-left pwid12" align="left">Last Name<span class="red_star">*</span></div>
              <div class="float-left" align="left">{{ form.billing_last_name}}</div>
            </div>
            <div class="clr">&nbsp;&nbsp;</div>
            <div class="clr">
              <div class="float-left pwid12" align="left">Address Line1<span class="red_star">*</span></div>
              <div class="float-left">{{ form.billing_address1}}</div>
            </div>
            <div class="clr">&nbsp;&nbsp;</div>
            <div class="clr">
              <div class="float-left pwid12" align="left">Address Line2<span class="red_star">*</span></div>
              <div class="float-left">{{ form.billing_address2 }}</div>
            </div>
            <div class="clr">&nbsp;&nbsp;</div>
            <div class="clr">
              <div class="float-left pwid14">
                <div class="float-left wid70" align="left">City<span class="red_star">*</span>&nbsp;&nbsp;</div>
                <div class="float-left">{{ form.billing_city }}</div>
              </div>
              <div class="float-right wid220">
                <div class="float-left pwid7" align="left">State<span class="red_star">*</span>&nbsp;&nbsp;</div>
                <div class="float-left">{{ form.billing_state }}</div>
              </div>
            </div>
            <div class="clr">&nbsp;&nbsp;</div>
            <div class="clr">
              <div class="float-left wid250">
                <div class="float-left wid70" align="left">Zip code<span class="red_star">*</span>&nbsp;&nbsp;</div>
                <div class="float-left">{{ form.billing_zip }}</div>
              </div>
              <div class="float-right wid250 martopless">
                <div class="float-left">Phone Number<span class="red_star">*</span>&nbsp;&nbsp;</div>
                <div class="float-left">
                  <div class="float-left">{{ form.billing_phone_part1 }}</div>
                  <div class="float-left">{{ form.billing_phone_part2 }}</div>
                  <div class="float-left">{{ form.billing_phone_part3 }}</div>
                </div>
              </div>
            </div>
            <div class="clr">&nbsp;&nbsp;</div>
            <div class="clr">
              <div class="float-left wid70" align="left">Ext</div>
              <div class="float-left">{{ form.billing_phone_ext }}</div>
            </div>
            <div class="clr">&nbsp;&nbsp;</div>
          </div>
          <!-- End Billing address form -->
          <div class="clr martop10 marbottom20">
            <div class="button" align="center">
              <input type="button" id="ContinueToShippingMethod" value="Continue To Shipping Method">
            </div>
          </div>
        </div>
        <div class="clr"></div>
        <div class="clr"></div>
        <div class="clr"></div>
      </div>
    </div>
  </div>
  <!-- //Tab1 -->
  {%endcomment%}
  <!-- Tab2 starts -->
  <div class="clr">
    <div class="toggle_container">
      <div class="toggle_header1">
        <div id="ShippingMethods">&nbsp;&nbsp;2 - Shipping Method</div>
      </div>
      <div id="ShippingMethodsPanel" class=toggle_content1 >
        <div class="shipping_method">
          <div class="clr pad-tb" align="justify"><strong>Please select a shipping method for each category of items you've ordered:
            </h1>
            </strong></div>
          <div class="toggle_main">
            <div class="clr"> {% for i, value, next_index, key in ShippingMethodList %}
              <!-- Tab1 starts -->
              <div class="clr">
                <div class="toggle_container">
                  <div class="toggle_header2">
                    <!-- toggle_link toggle_open -->
                    <div class="padleft10" align="left"  id="ShippingCategoryName{{i}}">{{value.category_name}}</div>
                  </div>
                  <div id = "ShippingCategoryContent{{i}}" align="left" style="display:none" >
                    <div class="padtop10 padbottom5"><strong>{{value.category_name}} Shipping method:</strong></div>
                    <div><strong>{{value.category_name}} Arrival Date</strong></div>
                    <div>
                      <p>Unless you request a specific date, we will ship your {{value.category_name}} order to arrive at
                        the earliest possible date. We will notify you by e-mail, if for some reason, your 
                        request cannot be honored.</p>
                    </div>
                    <strong>Estimated Delivery Date:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{DeliveryDate}}</strong><br />
                    <div class="blue_link padbottom7 padtop7" id="ChangeDeliveryDate{{ i }}" style="cursor: pointer;"><strong>Change Delivery Dates Or Upgrade Shipping Options</strong></div>
                    <div>Requested Delivery Date
                      <input type="text"  id="ReqDeliveryDate{{ key }}" name="ReqDeliveryDate{{ key }}" value="" readonly="true" />
                    </div>
                    <div class="padbottom8">
                      <input type="radio" name="OverNightShipping{{ key }}"/>
                      &nbsp;&nbsp;<strong>Overnight Shipping with Priority Upgrade (${{value.priority_shipping|floatformat:2}})</strong><br />
                    </div>
                    <div class="padbottom25"><strong>. This Category Requires a Fuel Surcharge of $9.99</strong></div>
                    <div class="clr">
                      <div class="float-left"></div>
                      <div class="float-right"></div>
                      <div class="float-left wid7">
                        <div class="padbottom10"><strong>Hold Package FedEx Location</strong></div>
                        If you would like your package held at a FedEx Location Please check here. This option
                        will allow you to pick up your package at your convenience anytime after 9 a.m. on the day
                        it is Scheduled to arrive. You must provide the FedEv station address as your delivery
                        address at the time you place order. If  you need to change your delivery address
                        please use the "new address" selection in the Address Book option above.
                        Call 1 -800 -GOFEDEX for the station nearest you <span class="blue_text" style="cursor: pointer;" id="FedexLocation{{i}}"><strong>or click here to use the online FedEx location tool.</strong></span> </div>
                      <div class="float-right card7_select martop50">
                        <select name="HoldPackageAtFedex{{key}}">
                          <option value="No">No</option>
                          <option value="Yes">Yes</option>
                        </select>
                      </div>
					  <input type="hidden" name="FedexLocationCode{{key}}" id="FedexLocationCode{{i}}" value="" />
                      <div class="clr">&nbsp;</div>
                    </div>
                    <div class="marbottom15 martop10"><strong>Delivery Notifications:</strong></div>
                    <input type="checkbox" name="ReceiveDeliveryNotificationEMail" />
                    &nbsp;&nbsp;Receive Delivery Notifications Via Email<br />
                    <input type="checkbox" name="ReceiveDeliveryNotificationSMS"/>
                    &nbsp;&nbsp;Receive Delivery Notifications Via SMS<br />
                    <div class="padleft23 padtop5">Enter your mobile number:&nbsp;&nbsp;
                      <input type="text" value="" name="MobileNo" />
                    </div>
                    <div class="clr">&nbsp;</div>
                    {% if next_index > 0 %}
                    <div class="clr">
                      <div class="button11">
                        <input type="button" id="ContinueToNextCategory{{i}}" value="Continue To Next Category" />
                      </div>
                      <div class="clr">&nbsp;</div>
                    </div>
                    {% endif %}
                    <div class="clr"></div>
                    <div class="clr"></div>
                    <div class="clr"></div>
                  </div>
                </div>
              </div>
              <!-- //Tab1 -->
              {% endfor %}</div>
          </div>
        </div>
        <div class="clr martop10 marbottom20">
          <div class="button" align="center">
            <input type="button" id="ContinueToPaymentInfo" value="Continue To Payment Information">
          </div>
        </div>
        <div class="clr"></div>
      </div>
    </div>
  </div>
  <!-- Tab3 starts -->
  <div class="clr">
    <div class="toggle_container">
      <div class="toggle_header1">
        <div ID="PaymentInfo">&nbsp;&nbsp;3 - Payment Information</div>
      </div>
      <div ID="PaymentInfoPanel"  style="display:none">
        <div class="order_detail_form">
          <div class="clr">
            <div class="order_detail">Order Details</div>
          </div>
          <div class="clr">
            <table width="100%" border="1" cellspacing="0" cellpadding="0">
              <tr class="blue_bg">
                <td width="10%" align="center" valign="top" class="border"><strong>QTY</strong></td>
                <td width="67%" align="let" valign="top" class="border padleft10"><strong>Item</strong></td>
                <td width="22%" align="left" valign="top" class="border padleft10"><strong>Price</strong></td>
              </tr>
              {% for item in Items %}
              <tr>
                <td align="center" valign="top" class="border">{{item.quantity}}</td>
                <td align="let" valign="top" class="border padleft10">{{item.item_name}}</td>
                <td align="left" valign="top" class="border padleft10">{% if item.saleprice > 0 %} ${{ item.saleprice|floatformat:2 }} {% else %} ${{ item.price|floatformat:2 }} {% endif %}</td>
              </tr>
              {% endfor %}
              <tr>
                <td align="center" valign="top" class="border">&nbsp;</td>
                <td align="right" valign="top" class="border padright10">&nbsp;</td>
                <td align="left" valign="top" class="border padleft10">&nbsp;</td>
              </tr>
              <tr>
                <td align="center" valign="top" class="border">&nbsp;</td>
                <td align="right" valign="top" class="border padright10">Subtotal:</td>
                <td align="left" valign="top" class="border padleft10">${{request.session.CartInfo.subtotal|floatformat:2 }}</td>
              </tr>
              <tr>
                <td align="center" valign="top" class="border">&nbsp;</td>
                <td align="right" valign="top" class="border padright10">Shipping Total:</td>
                <td align="left" valign="top" class="border padleft10">${{request.session.CartInfo.shipping_total|floatformat:2 }}</td>
              </tr>
              <tr>
                <td align="center" valign="top" class="border">&nbsp;</td>
                <td align="right" valign="top" class="border padright10">Fuel Surcharge:</td>
                <td align="left" valign="top" class="border padleft10">${{request.session.CartInfo.fuelcharge_total|floatformat:2 }}</td>
              </tr>
              <tr class="border orange_text padright10">
                <td align="center" valign="top" class="border">&nbsp;</td>
                <td align="right" valign="top" class="border padright10">Discounts Applied:</td>
                <td align="left" valign="top" class="border padleft10">(${{request.session.CartInfo.promotions_total|floatformat:2 }})</td>
              </tr>
              <tr class="border green_text padright10">
                <td align="center" valign="top" class="border">&nbsp;</td>
                <td align="right" valign="top" class="border padright10">Gift Certificate Applied:</td>
                <td align="left" valign="top" class="border padleft10">-</td>
              </tr>
              <tr>
                <td align="center" valign="top" class="border">&nbsp;</td>
                <td align="right" valign="top" class="border padright10">Total:</td>
                <td align="left" valign="top" class="border padleft10">${{request.session.CartInfo.order_total|floatformat:2 }}</td>
              </tr>
            </table>
            <div class="order_detail_content">
			  {% if GiftCertificateBalance > 0 %}
              <div class="order_content_heading">Gift Certificate</div>
			  {% endif %}
              <!--<div class="clr"><span class="dark_bg">Apply</span>Gift Certificate Value of $9,999.00 Available would you like to apply this to your order?</div>-->
              <div class="clr">&nbsp;</div>
              <div class="clr">&nbsp;</div>
              {% if request.session.PaymentGateway == 'AUTHORIZENET' %}
              <!-- Begin Credit Card Information -->
              <div class="clr">
                <div id="CreditCardPanel"> Enter your Credit card Information:</div>
				{% if request.session.IsLogin %}
	  			  {% if form.previous_cards %}
                    <div class="clr">Use Previously Saved Credit Card:</div>
                    {% for radio in form.previous_cards %}
                      <div class="clr">
                      <label style="width:300px"><span>{{ radio.tag }}</span>{{ radio.choice_label }}</label>
                      </div>
                    {% endfor %}
				  {% endif %}
                {% endif %}
                <div class="clr padtop30">
                  <table width="100%" border="0" cellspacing="5" cellpadding="0">
                    <tr>
                      <td  class="padleft10"align="left" valign="top">Card&nbsp;Holder&nbsp;Name</td>
                      <td colspan="5" align="left" valign="top">{{form.card_holder_name}}</td>
                    </tr>
                    <tr>
                      <td class="padleft10" align="left" valign="top">Card Type</td>
                      <td colspan="4" align="left" valign="top">{{ form.card_type }}</td>
                    </tr>
                    <tr>
                      <td  class="padleft10" align="left" valign="top">Card Number </td>
                      <td width="14%" align="left" valign="top">{{ form.card_number }}</td>
                    </tr>
                    <tr>
                      <td  class="padleft10" align="left" valign="top">Exp Date </td>
                      <td width="150px" align="left" valign="top">{{ form.card_expdate }}(MM/YY)</td>
                      <td width="15%" align="left" valign="top">&nbsp;</td>
                      <td align="right" valign="top">&nbsp;</td>
                    </tr>
                    <tr>
                      <td class="padleft10" align="left" valign="top">CVN</td>
                      <td colspan="4" align="left" valign="top">{{ form.card_cvn }}<span class="blue_link"><a href="#">What's this?</a></span></td>
                      <td align="right" valign="top">&nbsp;</td>
                    </tr>
                    <tr>
                      <td class="padleft10" colspan="5" align="left" valign="top">{{ form.is_save_card }}
                        &nbsp;<span class="blue_text">Save this Credit card for future purchases</span> </td>
                      <td align="right" valign="top">&nbsp;</td>
                    </tr>
                  </table>
                </div>
              </div>
              {% endif %}
              <!-- End of Credit Card Panel -->
              {% if not request.session.IsLogin %}
              <div class="clr padtop30">
                <div class="order_content_heading">Create An Account:</div>
                <div class="clr">In Order to proceed you are required to create an account. The account is used for<br />
                </div>
                <div class="login">
                  <table id="NewAccountForm">
                    <tr>
                      <td class="clr padbottom10">Email</td>
                      <td>{{ form.username }} </td>
                    </tr>
                    <tr>
                      <td class="clr padbottom10">Password</td>
                      <td> {{ form.password }}</td>
                    </tr>
                  </table>
                </div>
              </div>
              {% endif %}
              <div class="clr padtop30">
                <div class="order_content_heading">Comments About Your Order:</div>
                <div class="clr">Enter any comments you may have about your order for the staff to view.</div>
                <div class="clr"> {{form.comment}} </div>
                <div class="clr">&nbsp;</div>
                <div class="clr">
                  <div class="button">
                    <input type="submit" name="submit" value="Place Order">
                  </div>
                </div>
                <div class="clr">&nbsp;</div>
              </div>
            </div>
          </div>
        </div>
        <div class="clr"></div>
      </div>
    </div>
  </div>
  <!-- //Tab3 -->
  <div class="clr"></div>
  </div>
</form>
</div>
</div>
<div class="toggle_right2">
  <div class="clr">
    <div class="order_left">
      <div class="order_heading" align="left">Order Details:</div>
    </div>
    <div class="order_right">
      <div class="blue_link"><a href="viewcart">Edit Order</a></div>
    </div>
    <div class="clr"></div>
  </div>
  <div class="clr">&nbsp;</div>
  <div class="clr">
    <div class="order_left" align="left">Subtotal</div>
    <div class="order_right">
      <div class="float_right">${{ request.session.CartInfo.subtotal|floatformat:2 }}</div>
    </div>
    <div class="clr"></div>
  </div>
  <div class="clr">
    <div class="order_left" align="left">Est. Shipping</div>
    <div class="order_right">
      <div class="float_right">${{ request.session.CartInfo.shipping_total|floatformat:2 }}</div>
    </div>
    <div class="clr"></div>
  </div>
  <div class="clr">
    <div class="order_left" align="left">Fuel Surcharge</div>
    <div class="order_right">
      <div class="float_right">${{ request.session.CartInfo.fuelcharge_total|floatformat:2 }}</div>
    </div>
    <div class="clr"></div>
  </div>
{% if request.session.IsLogin %}
  <div class="clr">
    <div class="order_left" align="left">Est. Tax</div>
    <div class="order_right">
      <div class="float_right">${{ request.session.CartInfo.tax_total|floatformat:2 }}</div>
    </div>
    <div class="clr"></div>
  </div>
{% endif %}
  <div class="clr">
    <div class="order_left" align="left"><span>Promotions Applied</span></div>
    <div class="order_right">
      <div class="float_right"><span>${{ request.session.CartInfo.promotions_total|floatformat:2 }}</span></div>
    </div>
    <div class="clr"></div>
  </div>
  <div class="border"></div>
  <div class="clr">
    <div class="order_left" align="left">ORDER TOTAL</div>
    <div class="order_right">
      <div class="float_right">${{ request.session.CartInfo.order_total|floatformat:2 }}</div>
    </div>
    <div class="clr"></div>
  </div>
</div>
<script type="text/javascript" src="http://saltwater2013.dev.mvisolutions.com/sitemap/js2/jquery-1.7.2.min.js"></script>
<script type="text/javascript">
/* Toggle Panel start */

  $('.toggle_content1').hide();  //hides the toggled content

	$('.toggle_link').click(function () {
		if ($(this).is('.toggle_close')) {
			$(this).removeClass('toggle_close').addClass('toggle_open').parent().next('.toggle_content1').slideToggle(300);
			
			return false;
		} 
		
		else {
			$(this).removeClass('toggle_open').addClass('toggle_close').parent().next('.toggle_content1').slideToggle(300);
			return false;
		}
	});	
/* Toggle Panel end */

/* Below Java Script is added by Murthy */
function IsFormValid()
{
    //alert($("#id_shipping_first_name").val());
	//alert($("#IsBillingAddressSame").val());
	element = document.getElementById("IsBillingAddressSame");

   //Validating Shipping Address
   if ($("#id_shipping_first_name").val().match(/^\s*$/gi))
   {
	 alert("Please enter first name");
	 $("#id_shipping_first_name").focus();
	 return false;
   }

   if ($("#id_shipping_last_name").val().match(/^\s*$/gi))
   {
	 alert("Please enter last name");
	 $("#id_shipping_last_name").focus();
	 return false;
   }


   if ($("#id_shipping_address1").val().match(/^\s*$/gi))
   {
	 alert("Address is needed.");
	 $("#id_shipping_address1").focus();
	 return false;
   }

   if ($("#id_shipping_address2").val().match(/^\s*$/gi))
   {
	 alert("Address is needed.");
	 $("#id_shipping_address2").focus();
	 return false;
   }

   if ($("#id_shipping_city").val().match(/^\s*$/gi))
   {
	 alert("Please enter city.");
	 $("#id_shipping_city").focus();
	 return false;
   }

   if ($("#id_shipping_zip").val().match(/^\s*$/gi))
   {
	 alert("Zip Code is mandatory.");
	 $("#id_shipping_zip").focus();
	 return false;
   }

   if (!$("#id_shipping_phone_part1").val().match(/^\d{3}$/gi))
   {
	 alert("Invalid input in Phone.");
	 $("#id_shipping_phone_part1").focus();
	 return false;
   }

   if (!$("#id_shipping_phone_part2").val().match(/^\d{3}$/gi))
   {
	 alert("Invalid input in Phone.");
	 $("#id_shipping_phone_part2").focus();
	 return false;
   }

   if (!$("#id_shipping_phone_part3").val().match(/^\d{4}$/gi))
   {
	 alert("Invalid input in Phone.");
	 $("#id_shipping_phone_part3").focus();
	 return false;
   }

   if (!element.checked)
   {
	   if ($("#id_billing_last_name").val().match(/^\s*$/gi))
	   {
		 alert("Please enter last name");
		 $("#id_billing_last_name").focus();
		 return false;
	   }
	
	   if ($("#id_billing_address1").val().match(/^\s*$/gi))
	   {
		 alert("Address is needed.");
		 $("#id_billing_address1").focus();
		 return false;
	   }
	
	   if ($("#id_billing_address2").val().match(/^\s*$/gi))
	   {
		 alert("Address is needed.");
		 $("#id_billing_address2").focus();
		 return false;
	   }
	
	   if ($("#id_billing_city").val().match(/^\s*$/gi))
	   {
		 alert("Please enter city.");
		 $("#id_billing_city").focus();
		 return false;
	   }
	
	   if ($("#id_billing_zip").val().match(/^\s*$/gi))
	   {
		 alert("Zip Code is mandatory.");
		 $("#id_billing_zip").focus();
		 return false;
	   }
	   
	   if (!$("#id_billing_phone_part1").val().match(/^\d{3}/gi))
	   {
		 alert("Invalid input in Phone.");
		 $("#id_billing_phone_part1").focus();
		 return false;
	   }
	
	   if (!$("#id_billing_phone_part2").val().match(/^\d{3}$/gi))
	   {
		 alert("Invalid input in Phone.");
		 $("#id_billing_phone_part2").focus();
		 return false;
	   }
	
	   if (!$("#id_billing_phone_part3").val().match(/^\d{4}$/gi))
	   {
		 alert("Invalid input in Phone.");
		 $("#id_billing_phone_part3").focus();
		 return false;
	   }
   }
  return true;
}
var flag = true
$(document).ready(function(){
  $("button").click(function(){
     $("#test").hide();
  });

{% for i, value, next_index in ShippingMethodList %}
  $("#ShippingCategoryName{{i}}").click(function(){ 
     $("#ShippingCategoryContent{{i}}").slideToggle("slow");
  });

  $("#ContinueToNextCategory{{i}}").click(function(){ 
     $("#ShippingCategoryContent{{i}}").slideToggle("slow");
     $("#ShippingCategoryContent{{next_index}}").slideToggle("slow");
  });

 $("#ChangeDeliveryDate{{i}}").click(function(){
    window.open("/shippingcalander?seq={{i}}&catid={{value.id}}",'','width=800,height=600');
  });

 $("#FedexLocation{{i}}").click(function(){
   state = $('#id_shipping_state').val();
   w = 400;
   h = 500;
   var left = (screen.width/2)-(w/2);
   var top = (screen.height/2)-(h/2);
   //window.open("/fedexlocations?seq={{i}}&catid={{value.id}}",'','width=300,height=400');
   window.open("/fedexlocations?seq={{i}}&state=" + state, "Fedex Locations", 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+top+', left='+left);
  });
  
 
  
{% endfor %}

 
  $("#IsBillingAddressSame").change(function(){
     if (flag == true)
     {
       flag = false;
	   $("#panel").slideToggle("slow");
     }
     else
     {
       flag = true;
	   $("#panel").slideToggle("slow");
     }
  });
  
  $("#ShippingAddress").click(function(){ 
    $("#ShippingAddressPanel").slideToggle("slow");
  });

  $("#ShippingMethods").click(function(){ 
    $("#ShippingMethodsPanel").slideToggle("slow");
  });

  $("#PaymentInfo").click(function(){ 
    $("#PaymentInfoPanel").slideToggle("slow");
  });
  
  $("#ContinueToShippingMethod").click(function(){
    if (!IsFormValid()) return false;
	if (!$("#ShippingAddressPanel").is(":hidden"))
	{
      $("#ShippingAddressPanel").slideToggle("slow");
	}
    if ($("#ShippingMethodsPanel").is(":hidden"))
	{
	  $("#ShippingMethodsPanel").slideToggle("slow");
	}
  });

  $("#ContinueToPaymentInfo").click(function(){
    $("#ShippingMethodsPanel").slideToggle("slow");
    $("#PaymentInfoPanel").slideToggle("slow");
  });

});

</script>
</div>
<div class="clr">&nbsp;</div>
</div>
{% endblock content %}