{% extends 'base.html' %}
{% block content %}
 

{% load tagsfilter %}
 
<div class="wid748 float-left">
<div class="height12 clr"></div>
<div  class="  clr">
  <div class="container">
 
<div class="home-txt padleft10 padbottom10 clr">
Home <span class="home-txt-arrow">&gt; </span> {{allpages.htmlpage}} </div>
<div class="orange-txt padleft10 clr">{{allpages.htmlpage}}<br></div>
<!--image starts-->
<div class="padtop5 padleft10 clr" align=left>
<div class="clr myaccount_bg " style="height:100% !important;">
<div style="clear:both; width:700px; height:1px; line-height:1px; " >
 </div>
  <div class="clr padtop5 padleft10 padbottom20 padright5" align="justify"  >
 {{allpages.content|safe}} 
</div>
 </div>
</div>
 </div></div></div>
<div class="float-left width10"></div>

</div>
{% endblock content %}