{% include 'admin_header.htm' %}
<div style="clear:both" class="white-bg">
<div style="clear:both; padding-bottom:10px" class="content-bg">
  <table width="100%" border="0">
    <tr>
      <td align="left" valign="top" width="130" style="padding-left:20px" class="left-text"><span class="left-text1">Products</span><br />
          <br />
       <a href="/products?page=1">View/Edit</a><br />
        Add New<br />
        Bundles<br />
        <a href="/categories?page=1">Categories</a><br />
        Inventtory<br />
        <a href="/product_wish_list?page=1">Wish List</a><br />
         <a href="/all_product_reviews?page=1">Reviews</a><br />
        Import/Export</td>
      <td style="width:1px; background-color:#d9d9d9; background-repeat:repeat-y"></td>
      <td bordercolor="0"><table width="100%" border="0">
          <tr>
            <td class="left-text" style="padding-top:10px;">Products > View/Edit</td>
          </tr>
          <tr>
            <td style="padding-bottom:10px; padding-top:10px;"><div style="float:left" class="left-text1">View/Edit</div>
                <div style="float:right; margin-right:15px">
                  <div class="search1">
                    <div style="float:left; width:230px;">
                      <input name="Input" type="text"  placeholder="Search saltwaterfish.com"/>
                    </div>
                    <div style="float:left; width:69px;">
                      <input type="submit" name="Submit"  value="Search" />
                    </div>
                  </div>
                </div></td>
          </tr>
          <tr>
            <td style="height:1px; background-color:#d9d9d9; background-repeat:repeat-y"></td>
          </tr>
         
         
        </table>
          
        
        <div style="clear:both;">
	<div id="view2" class="tabcontent1">
					
<div style="clear:both; padding-top:20px;">
<div style="float:left; padding-bottom:20px; padding-left:20px;">{% if count > 100 %}
	<div style="clear:both; width:800px; height:21px; line-height:21px; " class="records">
Records:<b>{{count}} </b>&nbsp;&nbsp;&nbsp; Page {{page_num}} of {% widthratio count 100 1 %} |&nbsp;Goto Page: <a href="/products?itemid={{itemid}}&page=1"><img src="/misc/images/arrow-prv1.jpg" /></a> 
{% if page_num < 2 %}
<a href="/products?itemid={{itemid}}&page=1"><img src="/misc/images/arrow-prv2jpg.jpg" /></a>
{% elif page_num >= 2 %}
    <a href="/products?itemid={{itemid}}&page={{page_num|add:-1}}"><img src="/misc/images/arrow-prv2jpg.jpg" /></a>
{% endif %}
| <a href="/products?itemid={{itemid}}&page={{page_num|add:+1}}"><img src="/misc/images/arrow-nxt1.jpg" /> </a> &nbsp<a href="/products?itemid={{itemid}}&page={% widthratio count 100 1 %}"><img src="/misc/images/arrow-nxt2.jpg" /></a></span>
</div>
  {% endif %}</div>
 
</div>
<div class="head_bg" style="clear:both; padding-top:5px;">
<div  class="order-txt1" style="float:left; padding-left:20px; padding-right:20px; width:10px;"><input type="checkbox" name="checkbox" value="checkbox" /></div>
<div  class="order-txt1" style="float:left; padding-left:20px; width:50px;">Thumb</div>
<div  class="order-txt1" style="float:left; padding-left:20px;width:100px;">ID</div>
<div  class="order-txt1" style="float:left; padding-left:20px; width:328px;">Name</div>
<div  class="order-txt1" style="float:left; padding-left:20px; width:100px;">Price</div>
<div  class="order-txt1" style="float:left; padding-left:20px; width:122px;">Actions</div>
</div>
{% for item in allitems %}
<div style="clear:both; height:1px; background-color:#dedede"></div>
<div style="clear:both; background-color:#FFFFFF">
<div  class="order-txt1" style="float:left; padding-left:20px; padding-right:20px; width:10px; padding-top:15px;"><input type="checkbox" name="checkbox" value="checkbox" /></div><div class="order-txt3" style="float:left; width:50px;  height:30px; border-left:solid 1px #dedede; padding:10px;">
<a href="/productinfo?pid={{item.catalogid}}"><img src="{{item.thumbnail}}" width="43" height="36" border="0" /></a></div>
<div class="order-txt2" style="float:left; width:100px;  height:30px; border-left:solid 1px #dedede; padding:10px;">{{item.id}}</div>
<div class="order-txt2" style="float:left; width:328px;  height:30px; border-left:solid 1px #dedede; padding:5px 10px;">{{item.name}}&nbsp;
  {% if item.hide == 1 %}
  <img src="/misc/images/h.jpg" width="25" height="16" border="0" />
  {% else %}
	  {% if item.homespecial == 1 %}
	  <img src="/misc/images/hs.jpg" width="25" height="16" border="0" />
	  {% endif %}
	  {% if item.categoryspecial == 1 %}
	  <img src="/misc/images/cs.jpg" width="25" height="16" border="0" />
	  {% endif %}
	  {% if item.onsale == 1 %}
	  <img src="/misc/images/os.jpg" width="25" height="16" border="0" />
	  {% endif %}
	  {% if item.featured == 1 %}
	  <img src="/misc/images/fs.jpg" width="25" height="16" border="0" />
	  {% endif %}
  {% endif %}
  </div>
<div class="order-txt2" style="float:left; width:100px;   height:30px;border-left:solid 1px #dedede; padding:10px;">${{item.price|floatformat:"2"}}</div>
<div class="order-txt3" style="float:left; width:122px;   height:30px; border-left:solid 1px #dedede;  border-right:solid 1px #dedede;padding:10px;"><a href="/productinfo?pid={{item.catalogid}}"><img src="/misc/images/edit.jpg" width="55" height="24" border="0" /></a></div>
</div>
 {% empty %}
	<em class="formee-req">No Records</em>
{% endfor %}

  
 
<div style="clear:both; height:1px; background-color:#dedede"></div>

<div style="clear:both; padding-top:20px;">&nbsp;</div>

<div style="clear:both; height:1px; background-color:#dedede"></div>
 
<div class="text1" style="clear:both; background-color:#eeeeee"><div style="float:left; padding-left:5px">Batch Action:</div>
    <div style="float:left; width:180px; margin-top:10px; margin-left:5px">  <select name="select" style="width:180px;">
	  <option>With Selected Product(s):</option>
	  <option>Delete Selected </option>
      </select></div>
	  <div style="float:left; margin-top:6px; margin-left:10px;"><img src="/misc/images/apply.jpg" width="95" height="25" border="0" /></div>
  </div>
<div class="clr">&nbsp;&nbsp;</div>
             </div>
		</div>        </td>
    </tr>
  </table>
</div>
</div>




{% include 'admin_footer.html' %}