{% include 'admin_header.htm' %}
{% load tagsfilter %} 
<div class="clr white-bg">
<div class="clr content-bg padbottom10">  <table width="100%" border="0">
    <tr>
      <td align="left" valign="top" width="100" style="padding-left:1px" >{% include 'lef_menu_products.htm' %}</td>
      <td style="width:1px; background-color:#d9d9d9; background-repeat:repeat-y"></td>
      <td bordercolor="0"><table width="100%" border="0">
          <tr>
            <td class="left-text" style="padding-top:10px;">Products > View/Edit</td>
          </tr>
          <tr>
            <td style="padding-bottom:10px; padding-top:10px;"><div style="float:left" class="left-text1">View/Edit</div>
                <div style="float:right; margin-right:15px">
                  <div class="search1">
                    <div style="float:left; width:230px;">
                      <input name="Input" type="text"  placeholder="Search saltwaterfish.com"/>
                    </div>
                    <div style="float:left; width:69px;">
                      <input type="submit" name="Submit"  value="Search" />
                    </div>
                  </div>
                </div></td>
          </tr>
          <tr>
            <td style="height:1px; background-color:#d9d9d9; background-repeat:repeat-y"></td>
          </tr>
         
         
        </table>
          
        
        <div style="clear:both;">
	<div id="view2" class="tabcontent1">
					
<div style="clear:both; padding-top:20px;">
<div style="float:left; padding-bottom:20px; padding-left:20px;">{% if count > 100 %}
	<div style="clear:both; width:800px; height:21px; line-height:21px; " class="records">
Records:<b>{{count}} </b>&nbsp;&nbsp;&nbsp; Page {{page_num}} of {% widthratio count 100 1 %} |&nbsp;Goto Page: <a href="/products?itemid={{itemid}}&page=1"><img src="/misc/images/arrow-prv1.jpg" /></a> 
{% if page_num < 2 %}
<a href="/products?itemid={{itemid}}&page=1"><img src="/misc/images/arrow-prv2jpg.jpg" /></a>
{% elif page_num >= 2 %}
    <a href="/products?itemid={{itemid}}&page={{page_num|add:-1}}"><img src="/misc/images/arrow-prv2jpg.jpg" /></a>
{% endif %}
| <a href="/products?itemid={{itemid}}&page={{page_num|add:+1}}"><img src="/misc/images/arrow-nxt1.jpg" /> </a> &nbsp<a href="/products?itemid={{itemid}}&page={% widthratio count 100 1 %}"><img src="/misc/images/arrow-nxt2.jpg" /></a></span>
</div>
  {% endif %}</div>
 
</div>
<form method="post" action="/productactions" method=post>
		{% csrf_token %} 
		<input type="hidden" name="action" value="massdelete">
<div class="head_bg clr padtop5">
<div class="clr">
<div  class="order-txt1 product_checkbox"><input type="checkbox" name="checkbox" value="checkbox" /></div>
<div  class="order-txt1 product_thumb">Thumb</div>
<div  class="order-txt1 product_id">ID</div>
<div  class="order-txt1 product_name">Name</div>
<div  class="order-txt1 product_price">Price</div>
<div  class="order-txt1 product_action">Actions</div>
</div>
</div>
{% for item in allitems %}
<div class="product_hor_line"></div>
<div class="product_white_bg">
<div  class="order-txt1 product_checkbox padtop15"><input type="checkbox" name="delid" value="{{item.catalogid}}" /></div>
<div class="order-txt3 product_thumb_img" ><img src='http://commondatastorage.googleapis.com/swf_product_images/{{ item.thumbnail|strreplace:"assets/images/" }}' width="43" height="36" border="0" /></div>
<div class="order-txt2 product_id_txt">{{item.id}}</div>
<div class="order-txt2 product_name_txt">{{item.name}}<br />
  {% if item.hide == 1 %}
  <img src="/misc/images/h.jpg" width="25" height="16" border="0" />
  {% else %}
	  {% if item.homespecial == 1 %}
	  <img src="/misc/images/hs.jpg" width="25" height="16" border="0" />
	  {% endif %}
	  {% if item.categoryspecial == 1 %}
	  <img src="/misc/images/cs.jpg" width="25" height="16" border="0" />
	  {% endif %}
	  {% if item.onsale == 1 %}
	  <img src="/misc/images/os.jpg" width="25" height="16" border="0" />
	  {% endif %}
	  {% if item.featured == 1 %}
	  <img src="/misc/images/fs.jpg" width="25" height="16" border="0" />
	  {% endif %}
  {% endif %}</div>
<div class="order-txt2 product_price_txt">${{item.price|floatformat:"2"}}</div>
<div class="order-txt3 product_action_txt"><a href="/aproductinfo?pid={{item.catalogid}}"><img src="/misc/images/edit.jpg" width="55" height="24" border="0" /></a></div>
</div>
 {% empty %}
	<em class="formee-req">No Records</em>
{% endfor %}


 
<div style="clear:both; height:1px; background-color:#dedede"></div>

<div style="clear:both; padding-top:20px;">&nbsp;</div>

<div style="clear:both; height:1px; background-color:#dedede"></div>
 
<div class="text1" style="clear:both; background-color:#eeeeee"><div style="float:left; padding-left:5px">Batch Action:</div>
    <div style="float:left; width:180px; margin-top:10px; margin-left:5px">  <select name="bacthaction" style="width:180px;">
	  <option>With Selected Product(s):</option>
	  <option value="delete">Delete Selected </option>
      </select></div>
	  <div style="float:left; margin-top:6px; margin-left:10px;"><input type=image src="/misc/images/apply.jpg" width="95" height="25" border="0" /></div>
  </div>
<div class="clr">&nbsp;&nbsp;</div>
             </div>
		</div>        </td>
    </tr>
  </table>
</div>
</div>

</div>



{% include 'admin_footer.html' %}