{% include 'admin_header.htm' %}
 
<div style="clear:both" class="white-bg"><div style="clear:both; padding-bottom:10px" class="content-bg"><table width="100%" border="0">
  <tr>
    <td align="left" valign="top" width="130" style="padding-left:20px" class="left-text"><span class="left-text1">Products</span><br />
<br />
 View/Edit<br />
        Add New<br />
        Bundles<br />
        <a href="/categories?page=1">Categories</a><br />
        Inventtory<br />
        <a href="/product_wish_list?page=1">Wish List</a><br />
         <a href="/all_product_reviews?page=1">Reviews</a><br />
        Import/Export</td>
    <td style="width:1px; background-color:#d9d9d9; background-repeat:repeat-y"></td>
    <td>
	<table width="100%" border="0">
  <tr>
    <td class="left-text" style="padding-top:10px;">Products > Wish List </td>
  </tr>
  <tr>
    <td style="padding-bottom:10px; padding-top:10px;">
	<div style="float:left" class="left-text1">Wish List </div>
	<div style="float:right; margin-right:15px">
<div class="search1">
<div style="float:left; width:230px;"><input name="Input" type="text"  placeholder="Search saltwaterfish.com"/></div>
<div style="float:left; width:69px;"><input type="submit" name="Submit"  value="Search" /></div>
</div>
</div>	</td>
  </tr>
  
  
    <tr>
    <td style="height:1px; background-color:#d9d9d9; background-repeat:repeat-y"></td>
  </tr>
  
  <tr>
    <td style="width:763px; padding-top:10px">{% if count > 100 %}
	<div style="clear:both; width:800px; height:21px; line-height:21px; " class="records">
Records:<b>{{count}} </b> Page {{page_num}} of {% widthratio count 100 1 %} |&nbsp;Goto Page: <a href="/productwish_list_view?itemid={{itemid}}&page=1">First</a> 
{% if page_num < 2 %}
<a href="/productwish_list_view?itemid={{itemid}}&page=1">Previous</a>
{% elif page_num >= 2 %}
    <a href="/productwish_list_view?itemid={{itemid}}&page={{page_num|add:-1}}">Previous</a>
{% endif %}
| <a href="/productwish_list_view?itemid={{itemid}}&page={{page_num|add:+1}}">Next </a> &nbsp<a href="/productwish_list_view?itemid={{itemid}}&page={% widthratio count 100 1 %}">Last</a></span>
</div>
  {% endif %}

<div style="clear:both; height:15px;">&nbsp;&nbsp;</div>

<div style="clear:both; padding-top:0px;" class="black-border"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>

    <td width="20%" align="center" valign="middle"  class="yell">Date</td>
     <td width="13%" align="center" valign="middle"  class="yell">Name</td>
     <td width="27%" align="center" valign="middle"  class="yell">Email</td>
     <td width="16%" align="center" valign="middle"  class="yell">Phone</td>
  
     <td width="23%" align="center" valign="middle"  class="yell">Contacted</td>
  </tr>
  {% for item in allitems %}
  <tr>
     
       <td align="left" valign="middle" class="rose-bg" style="padding-left:10px;">{{item.record_date}}</td>
  <td align="left" valign="middle" class="rose-bg" style="padding-left:10px;">{{item.user_name}}</td>
      <td align="left" valign="middle" class="rose-bg" style="padding-left:10px;">{{item.user_email}}</td>
     <td align="left" valign="middle" class="rose-bg" style="padding-left:10px;">{{item.user_phone}}</td>
      
     <td align="left" valign="middle" class="rose-bg" style="padding-left:10px;">{{item.last_contact}}</td>

  </tr>
  {% empty %}
	<em class="formee-req">No Records</em>
{% endfor %}
</table>
</div>
<div style="clear:both; padding-top:20px;" class="tabcontent1">
 
 </td>
  </tr>
</table>
	
	
	
	</td>
  </tr>
</table>

	   
	   
</div></div>
{% include 'admin_footer.html' %}