 
{% load tagsfilter %}
 
<script type="text/javascript">
	;(function($) {
         $(function() {
            $('.pop1').bind('click', function(e) {
                e.preventDefault();
				var a_href = $(this).attr('id');
				//alert(a_href)
				$("#contentss").load(a_href);
                $('#popup').bPopup({
				});
			});
			$('.pop2').bind('click', function(e) {
                e.preventDefault();
				var a_href = $(this).attr('id');
				//alert(a_href)
				$("#contentss").load(a_href);
                $('#popup').bPopup({
				});
			});
			$('.pop3').bind('click', function(e) {
                e.preventDefault();
				var a_href = $(this).attr('id');
				//alert(a_href)
				$("#contentss").load(a_href);
                $('#popup').bPopup({
				});
			});
			$('.pop4').bind('click', function(e) {
                e.preventDefault();
				var a_href = $(this).attr('id');
				//alert(a_href)
				$("#contentss").load(a_href);
                $('#popup').bPopup({
				});
			});
        });

    })(jQuery);

$(function() {
	$('#simage1hid').click(function() {
		
		$("#image1hid").show();
		$("#image2hid").hide();
		$("#image3hid").hide();
	});
	$('#simage2hid').click(function() {
		$("#image1hid").hide();
		$("#image2hid").show();
		$("#image3hid").hide();
	});
	$('#simage3hid').click(function() {
		$("#image1hid").hide();
		$("#image2hid").hide();
		$("#image3hid").show();
	});
});
</script>

 
	 {% block css %}

	<style>
	body  a { color:#434343; text-decoration:none; }
	body a:link{ color:#434343; text-decoration:none;}
	body a:visited{ color:#434343; text-decoration:none;}
	body  a:hover { color:#f67720; text-decoration:none; }
	body a:active{ color:#434343; text-decoration:none;}
	.free-ship2{
	border: 1px solid #d9d9d9;
	height: 194px;
	width: 372px;
	font-family: "Open Sans Light";
	font-size: 12px;
	line-height: normal;
	font-weight: normal;
	text-transform: capitalize;
	color: #434343;
	text-decoration: none;
}
#popup, #popup2, .bMulti {
background-color: #fff;
border-radius: 10px 10px 10px 10px;
box-shadow: 0 0 25px 5px #999;
color: #111;
display: none;
min-width: 450px;
padding: 1px;
}
#element.style {
left: 338px;
position: absolute;
top: 2163px;
z-index: 9999;
opacity: 0;
display: none;
height: auto;
width: auto;
}
.thumbnail {
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    display: block;
    line-height: 20px;
    padding: 4px;
    transition: all 0.2s ease-in-out 0s;
}
	</style>
 {% endblock %}
<div class="float-left wid20">&nbsp;&nbsp;</div>
<div class="float-left pwid2">
<!-- Top area starts -->
<div class="clr martop20">
<div class="home-txt1 clr padbottom10 padleft10" align="left"> 
<a href="#">Home</a> <span class="home-txt-arrow">> </span><a href="#">Search</a> <span class="home-txt-arrow">></span> <a href="#">Marine Life</a> </div>
<div class="orange-txt clr padleft10">{{products.name}}<br />

   <span class="tag-txt">{{products.description}}</span></div>
<div class="clr padtop21">
<div class="float-left pwid3">
<div class="clr" id="image1hid"> </div>
<div class="clr" id="image2hid" style="display:none"></div>
<div class="clr" id="image3hid" style="display:none"></div>

<div class="clr martop16">

<div class="float-left pwid4">&nbsp;</div>
<div class="float-left"> </div>
{%if products.image2 %}
<div class="float-left pwid5">&nbsp;</div>
<div class="float-left"> </div>
{%endif%}
{%if products.image3 %}

<div class="float-left pwid5">&nbsp;</div>
<div class="float-left"> </div>
{%endif%}
<div class="float-left"></div>

</div>
<div class="clr">&nbsp;</div>
<div class="clr">
<div class="float-left pwid6">&nbsp;</div><div class="float-left pwid6">&nbsp;</div>
<div class="float-left"> </div>

</div>
 

{% if products.reward_disable < 1 %}
 
 <div class="clr padtop20 product-align" style="margin-left:25px;"><div class="reef-rew-bg padtop20">
<div class="clr">REEF REWARDS</div>
<div class="clr home-txt1"><strong>{{products.reward_redeem}} Reef Rewards Points</strong></div>
<div class="clr home-txt1-para">will be rewarded to you when you buy this item.</div>


</div>
</div>
{%endif%}


 
</div>
<div class="pwid7 float-left">&nbsp;</div>
<div class="float-left pwid8">
{% if totalreviews %}
<div align="left" class="float-left clr padbottom10"><span class="price1" style="text-decoration: None !important;">Customer Reviews:</span>	< </div>
{%endif%}
<div class="free-shipping clr">
<div class="float-left padtop1 padleft15 pwid9">
<div class="price clr"><span class="price1">Price Elsewhere: ${{products.price2|floatformat:2}}</span></div>
<div class="sale-price clr padtop10">Sale Price: ${{products.saleprice|floatformat:2}}</div>
<div class="price clr padtop10"><span >Savings: ${{products.price|subtractval:products.saleprice|floatformat:2}}</span></div>
<div class="clr padtop27">
<div class="quantity float-left product-height">Quantity</div>
<div class="float-left padleft8"><form action="/addtocart" method="GET" name="form">{% csrf_token %}<input type="hidden" size="10" value="{{products.catalogid}}" name="item_id"><input name="quantity" type="text" class="text-box" value=1 /></div>
</div>
<div class="clr padtop10"></form></div>

</div>
<div class="float-left product-sale-line">&nbsp;</div>
<div class="float-left">
<div class="clr"></div>
<div class="clr"></div>
<div class="clr"><span class="marine">On All Marine Life</span><br />
Orders Over <span class="marine">$199.99</span> <br />

and Florida Locations</div>
<div class="clr padtop5 padbottom5 more">more details</div>
</div>

</div>

 
<div class="orange-txt1 clr padtop20 padbottom20 product-align">Tank Stats </div>
<div class="clr">
<div class="clr quest " align=left>
{{products.extra_field_7|safe}}
 
</div>
<div class="clr">
<div class="float-left padleft15 padtop20"><a href="#" id="/emailfriendpopup?itemid={{ products.catalogid }}" class="pop2"> </a></div>
<div class="float-right padtop20" ><a href="#" id="/waitpopup?itemid={{ products.catalogid }}" class="pop1"> </a></div>
</div>
<div class="clr padtop20">
<div class="float-left pwid10">
<div class="float-left padleft15"> </div>
<div class="free-shipping1 float-left padleft7"><a href="#" id="/waitpopup?itemid={{ products.catalogid }}" class="pop3">Write a review</a></div>
</div>
<div class="float-right"> </div>
</div>



</div>

</div>

</div>
</div>
<!-- Top area ends -->
<div class="    clr">&nbsp;&nbsp;</div><div class="    clr">&nbsp;&nbsp;</div>
<!-- Tab area starts -->
<div class="clr padtop20">
<div style="line-height:20px !important;">
        <ul class="tabs" persist="true">
            <li><a href="#" rel="view1">Description</a></li>
            <li><a href="#" rel="view2">Customer Reviews</a></li>
            <!--<li><a href="#" rel="view3">Articles</a></li>-->
        </ul>
        <div class="tabcontents martop8less" style="height: auto !important;">
            <div id="view1" class="tabcontent" style="min-height:200px !important;">
              <table style="min-height:200px !important;"><tr><td><p>{{products.extra_field_6|safe}}</p></td></tr></table>

</div>
            <div id="view2" class="tabcontent" style="height:min-height:200px !important;">
			{% for items in product_reviews %}
                         <table width="100%" cellpadding="4" cellspacing="0">
                        <tbody><tr>
                          <td class="start">{{items.short_review}}  </td>
                        </tr>
                        <tr>
                          <td class="item">{{items.long_review}}</td>
                        </tr>
                        <tr>
                          <td class="item">Reviewed by: &nbsp;<b>{{items.user_name}}</b> from {{items.user_city}} on {{items.review_date}}</td>
                        </tr>
                      </tbody></table> 
		  {%empty%}
		  No Reviews
		  {%endfor%}

					  </div>
             
            
        </div>
        
    </div>


</div>
<!-- Tab area ends -->

<!-- Bottom area starts -->


<div class="clr">{% if relateditems|length > 0 %}
<div class="matching-text clr padtop10 padbottom20 product-align1"><span class="compatible">Matching {{products.catalogid|relatedpitems}} </span></div>
<div class="bottom-bg padtop15 clr product-align">
 <table   style="width:22% !important;margin-left:14px;margin-top:14px;min-height:196px !important;">
{% for items in relateditems %}

{% if forloop.counter0|divisibleby:4 %}<tr>{% endif %}
<td>
<table width="100%" border="0" cellspacing="0" cellpadding="0"  style="width:22% !important;margin-left:14px;margin-bottom:14px;min-height:196px !important;">
  <tr>
    <td> </td>
  </tr>
  <tr>
    <td class="product-align padtop25 valign-middle"><a href="/product?pid={{ items.catalogid }}">{{items.name}}</a><br />

      <span class="bottom-bg-price">${% if items.onsale > 0 %}{{items.saleprice|floatformat:2}}{% else %}{{items.price|floatformat:2}} 
				{% endif %}</span>
				</td>
  </tr>
</table>
</td>

{% if forloop.counter|divisibleby:4 %}</tr>{% endif %}

 
{%endfor%}
</table>

</div>
{% endif %}
<!-- Bottom area ends -->
</div>
</div>
<div id="popup" style="left: -700px; position: absolute; top: 1177px; z-index: 9999; opacity: 1; display: none;min-height:200px;">
        
        <div id="contentss" style="height: auto; width: auto;"></div>
</div>
<div class="float-left wid20">&nbsp;&nbsp;</div>
<div class="float-left wid20">&nbsp;&nbsp;</div>
</div>
 