<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Reef package</title>
<link type="text/css" rel="stylesheet" href="css3/reset.css" />
<link type="text/css" rel="stylesheet" href="css3/style.css" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'/>
</head>

<body>
<div id="wrapper">
<div class="container">
<div class="clr">
<div class="clr" style="padding:10px 0px;"><a href="#">Home</a> > <a href="#">Search</a> > <a href="#">Create A Reef Package</a> ></div>
<div class="clr blue_heading">Create A Reef Package - No Additional Shipping Cost </div>
<div class="clr" style="padding:10px 0px;">
<p>Add the items to your Tank from the list below with $75.00 or more worth and we'll ship them to you at no additional shipping charge. When you select the item and the quantity the page will automatically totalize your order.   You can place any items on this page into the yourReef Package and add other items after you have exceeded he minimum quota. *Shipping charges will still be assessed to any other items ordered. You can not use items not on this page to fulfill your minimum quota of $75.   </p>
</div>
<div class="clr">
<div class="float_left" style="padding-top:10px;">
<strong>Your Reef Package Total:</strong> <span class="orange_text"><strong>$0.00</strong></span>
</div>
<div class="float_left" style="padding-left:30px;"><a href="#"><img src="images/add_tank.png" width="260" height="35" border="0" /></a></div>
</div>
<div class="clr" style="padding:20px 0px;">Please note: <span class="orange_text"><strong>Due to variations within species, your item may not look identical to the image provided.</strong></span></div>


<div class="clr">
<div class="float_left orange_box" align="center">
<div class="clr product_heading" style="text-align:center;" >Mandarin Dragonet - Green</div>
<div class="clr" style="text-align:center; padding:10px 0px;" >Synchiropus splendidus</div>
<div class="clr" style="padding-top:10px; padding-bottom:10px;"><img src="images/reef_img1.jpg" /></div>
<div class="clr orange_text"><strong>Price : $1.00</strong></div>
<div class="price_box">
<div class="clr">
<div class="float_left blue_text"><strong>Qty.:</strong></div>
<div class="float_right"><input type="text" value="" size="1" /></div>
<div class="clr"></div>
</div>
<div class="clr">
<div class="float_left blue_text"><strong>Cost:</strong></div>
<div class="float_right"><span class="dollar">$</span>
  <input type="text" value="" size="1" /></div>
<div class="clr"></div>
</div>
</div>
<div class="clr" style="padding:10px 0px;"><div class="more_blue"><a href="#">More Details</a></div></div>
</div>
<div class="float_left orange_box1" align="center">
<div class="clr product_heading" style="text-align:center;" >Scarlet Hermit crab - Group of <br />10 -Special Buy - Limit 1!</div>
<div class="clr" style="text-align:center;" >Paguristes cadenati</div>
<div class="clr" style="padding-top:10px; padding-bottom:10px;"><img src="images/reef_img2.jpg" /></div>
<div class="clr orange_text"><strong>Price : Group of 10  $10 </strong></div>
<div class="price_box">
<div class="clr">
<div class="float_left blue_text"><strong>Qty.:</strong></div>
<div class="float_right"><input type="text" value="" size="1" /></div>
<div class="clr"></div>
</div>
<div class="clr">
<div class="float_left blue_text"><strong>Cost:</strong></div>
<div class="float_right"><span class="dollar">$</span>
  <input type="text" value="" size="1" /></div>
<div class="clr"></div>
</div>
</div>
<div class="clr" style="padding:10px 0px;"><div class="more_blue"><a href="#">More Details</a></div></div>
</div>
<div class="float_left orange_box2" align="center">
<div class="clr product_heading" style="text-align:center;" >Dwarf White Leg Hermit Crabs-
Group of 10- Buy One Get One 
Free</div>
<div class="clr" style="text-align:center;" >&nbsp;</div>
<div class="clr" style="padding-top:10px; padding-bottom:10px;"><img src="images/reef_img1.jpg" /></div>
<div class="clr orange_text"><strong>Price : Group of 10  $10</strong></div>
<div class="price_box">
<div class="clr">
<div class="float_left blue_text"><strong>Qty.:</strong></div>
<div class="float_right"><input type="text" value="" size="1" /></div>
<div class="clr"></div>
</div>
<div class="clr">
<div class="float_left blue_text"><strong>Cost:</strong></div>
<div class="float_right"><span class="dollar">$</span>
  <input type="text" value="" size="1" /></div>
<div class="clr"></div>
</div>
</div>
<div class="clr" style="padding:10px 0px;"><div class="more_blue"><a href="#">More Details</a></div></div>
</div>
</div>

<div class="clr" style="padding-top:20px;">
<div class="float_left orange_box" align="center">
<div class="clr product_heading" style="text-align:center;" >USA Captive Bred Kuda<br /> Seahorse - Unsexed</div>
<div class="clr" style="text-align:center;" >Hippocampus taeniopterus (kuda)</div>
<div class="clr" style="padding-top:10px; padding-bottom:10px;"><img src="images/reef_img4.jpg" /></div>
<div class="clr orange_text"><strong>Price : $1.00</strong></div>
<div class="price_box">
<div class="clr">
<div class="float_left blue_text"><strong>Qty.:</strong></div>
<div class="float_right"><input type="text" value="" size="1" /></div>
<div class="clr"></div>
</div>
<div class="clr">
<div class="float_left blue_text"><strong>Cost:</strong></div>
<div class="float_right"><span class="dollar">$</span>
  <input type="text" value="" size="1" /></div>
<div class="clr"></div>
</div>
</div>
<div class="clr" style="padding:10px 0px;"><div class="more_blue"><a href="#">More Details</a></div></div>
</div>
<div class="float_left orange_box1" align="center">
<div class="clr product_heading" style="text-align:center;" >Blue Leg Hermit Crabs - Group<br />of 10 - Buy One Get One FREE</div>
<div class="clr" style="text-align:center;" >Clibanarius tricolor</div>
<div class="clr" style="padding-top:10px; padding-bottom:10px;"><img src="images/reef_img5.jpg" /></div>
<div class="clr orange_text"><strong>Price : Group of 10  $10 </strong></div>
<div class="price_box">
<div class="clr">
<div class="float_left blue_text"><strong>Qty.:</strong></div>
<div class="float_right"><input type="text" value="" size="1" /></div>
<div class="clr"></div>
</div>
<div class="clr">
<div class="float_left blue_text"><strong>Cost:</strong></div>
<div class="float_right"><span class="dollar">$</span>
  <input type="text" value="" size="1" /></div>
<div class="clr"></div>
</div>
</div>
<div class="clr" style="padding:10px 0px;"><div class="more_blue"><a href="#">More Details</a></div></div>
</div>
<div class="float_left orange_box2" align="center">
<div class="clr product_heading" style="text-align:center;" >Nassarius Snail - Group of 10 - <br />Buy One Get One FREE Free</div>
<div class="clr" style="text-align:center;" >Nassarius sp</div>
<div class="clr" style="padding-top:10px; padding-bottom:10px;"><img src="images/reef_img6.jpg" /></div>
<div class="clr orange_text"><strong>Price : Group of 10  $10 </strong></div>
<div class="price_box">
<div class="clr">
<div class="float_left blue_text"><strong>Qty.:</strong></div>
<div class="float_right"><input type="text" value="" size="1" /></div>
<div class="clr"></div>
</div>
<div class="clr">
<div class="float_left blue_text"><strong>Cost:</strong></div>
<div class="float_right"><span class="dollar">$</span>
  <input type="text" value="" size="1" /></div>
<div class="clr"></div>
</div>
</div>
<div class="clr" style="padding:10px 0px;"><div class="more_blue"><a href="#">More Details</a></div></div>
</div>
</div>

<div class="clr" style="padding-top:50px;">
<div class="float_left" style="padding-top:10px;">
<strong>Your Reef Package Total:</strong> <span class="orange_text"><strong>$0.00</strong></span>
</div>
<div class="float_left" style="padding-left:30px;"><a href="#"><img src="images/add_tank.png" width="260" height="35" border="0" /></a></div>
</div>
<div class="clr">&nbsp;</div>


</div>
</div>
</div>
</body>
</html>
