{% extends 'base.html' %}
{% block content %}
<style>
.content-label {
    color: #000000;
    font-family: "PT Sans";
    font-size: 12px;
    font-weight: bold;
    line-height: normal;
    text-align: right;
    text-decoration: none;
    text-transform: capitalize;
    width: 100px;
}
</style>
<script language="javascript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script language="javascript" type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"></script>
<script type="text/javascript">
$(function() {
   $( "#regform" ).validate({
           rules: FORM_RULES,
		   messages: FORM_MESSAGES
   });

   $( "#regform"  ).submit(function() {
      var thisform = $('#regform');
	  if (thisform.valid()) 
        return true;
      else
	  {
         alert("Please give valid data in the mandatory fields.");
	  }
      return false;
     });
});


FORM_RULES = {
    '{{ form.email.html_name }}': 'required',
    '{{ form.password.html_name }}': 'required',
	'{{ form.first_name.html_name }}': 'required',
	'{{ form.last_name.html_name }}': 'required',
	'{{ form.address1.html_name }}': 'required',
	'{{ form.city.html_name }}': 'required',
	'{{ form.state.html_name }}': 'required',
	'{{ form.country.html_name }}': 'required',
	'{{ form.phone.html_name }}': 'required',
	'{{ form.recaptcha.html_name }}': 'required'
};
 
FORM_MESSAGES = {
    '{{ form.email.html_name }}': '*',
    '{{ form.password.html_name }}': '*',
	'{{ form.first_name.html_name }}': '*',
	'{{ form.last_name.html_name }}': '*',
	'{{ form.address1.html_name }}': '*',
	'{{ form.city.html_name }}': '*',
	'{{ form.state.html_name }}': '*',
	'{{ form.country.html_name }}': '*',
	'{{ form.phone.html_name }}': '*',
	'{{ form.recaptcha.html_name }}': '*'
};
 </script>
 <div class="float-left width10">&nbsp;&nbsp;</div>
<div class="float-left wid748 padtop5">
<div class="clr my_account_link"></div>
<div class="clr my_account_title padtop5 padbottom13">Registration Form</div>
<div class="clr myaccount_bg">
  <div class="clr padtop10">

 
<div class="clr padtop18  myaccount_txt1 padleft20">Customer Information</div>
<div class="form_top">
{% if message or error_message %}
      <p class="greentext">{{ message }} <span class="redtext">{{ error_message }}</span></p>
      {% endif %}
<form method="POST" action="/registeruser" name="regform" id="regform">
{% csrf_token %} 
<div class="clr">
<div class="form_left1">
<div class="clear padtop20">
<div class="float-left content-label martop5">Email Address:</div>
<div class="float-left padleft7">{{ form.email }}</div>
</div>
<div class="clear padtop20">
<div class="float-left content-label martop5">First Name:</div>
<div class="float-left padleft7">{{ form.first_name }}</div>
</div>
<div class="clear padtop20">
<div class="float-left content-label martop5">Company:</div>
<div class="float-left padleft7">{{ form.company }}</div>
</div>
<div class="clear padtop20">
<div class="float-left content-label martop5">Address 1:</div>
<div class="float-left padleft7">{{ form.address1 }}</div>
</div>
<div class="clear padtop20">
<div class="float-left content-label martop5">Address 2:</div>
<div class="float-left padleft7">{{ form.address2 }}</div>
</div>
<div class="clear padtop20">
<div class="float-left content-label martop5">City:</div>
<div class="float-left padleft7">{{ form.city }}</div>
</div>
<div class="clear padtop20">
<div class="float-left content-label martop5">Zip:</div>
<div class="float-left padleft7">{{ form.zip }}</div>
</div>
<div class="clear padtop20">
<div class="float-left content-label martop5">Captcha:</div>
<div class="float-left padleft7"><img src="{{ recaptcha }}" /></div>
</div>
</div>


<div class="form_left1">
<div class="clear padtop20">
<div class="float-left content-label martop5">Password:</div>
<div class="float-left padleft7">{{ form.password }}</div>
</div>
<div class="clear padtop20">
<div class="float-left content-label martop5">Last Name:</div>
<div class="float-left padleft7">{{ form.last_name }}</div>
</div>
<div class="clear padtop20">
<div class="float-left content-label martop5">Tax id:</div>
<div class="float-left padleft7">{{ form.account_no }}</div>
</div>
<div class="clear padtop20">
<div class="float-left content-label martop5">Phone:</div>
<div class="float-left padleft7">{{ form.phone }}</div>
</div>
<div class="clear padtop20">
<div class="float-left content-label martop5">Comments:</div>
<div class="float-left padleft7">{{ form.comments }}</div>
</div>
<div class="clear padtop20">
<div class="float-left content-label martop5">Country:</div>
<div class="float-left padleft7">{{ form.country }}</div>
</div>
<div class="clear padtop20">
<div class="float-left content-label martop5">State:</div>
<div class="float-left padleft7">{{ form.state }}</div>
</div>
<div class="clear padtop20">
<div class="float-left content-label martop5"></div>
<div class="float-left padleft7">{{ form.recaptcha }}</div>
</div>
</div>
</div>
<div class="clr padtop20"><input type=image src="misc/images/submit.jpg" width="76" height="25" border="0"  name="btnSubmit"  /></form></div>
</div>
</div>
</div>
<div class="clr">&nbsp;</div>
</div>





</div> 
{% comment %}
<div class="width10 float-left">&nbsp;&nbsp;</div>
<div class="wid748 float-left">
<div class="height12 clr"></div>
<div  class="content-bg1 "  style="min-height:400px !important;font-size:14px;">
<div class="blue-bg-header " style="width:100% !important;font-size:14px;">
Registration Form
</div>
<form method="POST" action="/registeruser" name="regform" id="regform">
{% csrf_token %} 
  <table border="0"  cellpadding="3" cellspacing="1" style="width:75% !important;font-size:14px;" align=center>
  <tr>
    <td colspan="2">{% if message or error_message %}
      <p class="greentext">{{ message }} <span class="redtext">{{ error_message }}</span></p>
      {% endif %}</td></tr>
  <tr bgcolor="#FFFFFF"><td width="68"><span class="style4">EMail</span></td>
  <td width="435"><span class="style4">{{ form.email }} </span></td>
  </tr>
  <tr bgcolor="#FFFFFF"><td><span class="style4">Password</span></td>
  <td><span class="style4">{{ form.password }} </span></td>
  </tr>
  <tr bgcolor="#FFFFFF"><td><span class="style4">First Name</span></td>
  <td><span class="style4">{{ form.first_name }} </span></td>
  </tr>
  <tr bgcolor="#FFFFFF"><td><span class="style4">Last Name</span></td>
  <td><span class="style4">{{ form.last_name }} </span></td>
  </tr>
  <tr bgcolor="#FFFFFF">
    <td>Tax ID </td>
    <td><span class="style4">{{ form.account_no }} </span></td>
  </tr>
  <tr bgcolor="#FFFFFF"><td><span class="style4">Company</span></td>
  <td><span class="style4">{{ form.company }} </span></td>
  </tr>
  <tr bgcolor="#FFFFFF"><td><span class="style4">Address1</span></td>
  <td><span class="style4">{{ form.address1 }} </span></td>
  </tr>
  <tr bgcolor="#FFFFFF"><td><span class="style4">Address2</span></td>
  <td><span class="style4">{{ form.address2 }} </span></td>
  </tr>
  <tr bgcolor="#FFFFFF"><td><span class="style4">City</span></td>
  <td><span class="style4">{{ form.city }} </span></td>
  </tr>
  <tr bgcolor="#FFFFFF"><td><span class="style4">State</span></td>
  <td><span class="style4">{{ form.state }} </span></td>
  </tr>
  <tr bgcolor="#FFFFFF"><td><span class="style4">Country</span></td>
  <td><span class="style4">{{ form.country }} </span></td>
  </tr>
  <tr bgcolor="#FFFFFF">
    <td><span class="style4">Zip</span></td>
    <td><span class="style4">{{ form.zip }}</span></td>
  </tr>
  <tr bgcolor="#FFFFFF">
    <td>Phone</td>
    <td><span class="style4">{{ form.phone }}</span></td>
  </tr>
  <tr bgcolor="#FFFFFF">
    <td>Comments</td>
  <td><span class="style4">{{ form.comments }}</span></td>
  </tr>
  <tr bgcolor="#FFFFFF">
    <td colspan="2" align="center"><b><img src="{{ recaptcha }}" /></b></td>
  </tr>
  <tr bgcolor="#FFFFFF">
    <td colspan="2">Please enter recaptcha value: <span class="style4">{{ form.recaptcha }}</span></td>
  </tr>
  <tr bgcolor="#FFFFFF"><td colspan="2"><input type="submit" name="btnSubmit" /></td></tr>
</table>       
</form>

</div></div></div> 
 {%endcomment%}
{% endblock content %}
