{% extends 'base.html' %}
{% block content %}
 
<link type="text/css" rel="stylesheet" href="/misc/myaccount.css" />

{% load tagsfilter %}
<div class="float-left width10">&nbsp;&nbsp;</div>
<div class="float-left wid748 padtop5">
<div class="clr my_account_link"><span><a href="/">Home</a> &gt; <a href="/myaccount">My Account</a></span><span> &gt; Guarantee Request Services </span></div>
 <div class="clr my_account_title padtop20 padbottom13">Guarantee Request Service </div>
<div class="clr myaccount_bg1">
 
{% include 'myaccount_links.htm' %}
<div class="clr">&nbsp;&nbsp;</div>
  
 {% if product_list %}
<table width="700" border="0" cellpadding="3" cellspacing="1" bgcolor="#EFEFEF">
  <tr style='background-image: url("/misc/images/content_menu.jpg");height: 31px;'>
     <td width="100"><b>Id</b></td>
    <td width="170"><b>Order #</b></td>
    <td width="300"><b>Date</b></td>
    <td width="150"><b>Status</b></td>
	
  </tr>
{% for item in product_list %}
	<tr bgcolor="#FFFFFF"><td align=left><a href="/rmarequest?crmid={{item.idrma}}">{{item.idrma}}</a></td> 
	<td><a href="/orderinfo?oid={{item.orderid}}">{{item.orderid|rmaordervalues:"invoicenum_prefix"}}{{item.orderid}}</a></td>
	<td>{{item.rmadate}}</td>
	<td>{{item.idrmastatus|rmastatus}}</td>
	</tr>
{% endfor %}
</table>
{% endif %}

 
 </div>
</div>






<div class="float-left wid10"></div>

</div>
 

{% endblock content %}