<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>PG feb21</title>
<link type="text/css" rel="stylesheet" href="css2/reset.css" />
<link type="text/css" rel="stylesheet" href="css2/style.css" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'/>

</head>

<body>
<div id="wrapper">
<div class="container">

<div class="orange_heading">Saltwater Fish School</div>
<div class="clr">&nbsp;</div>
<div class="clr" style="width:80%;">
<div class="clr">
<div class="table_left">
<div class="gray_bg">Recent Articles </div>
	<div class="item_list">
	<ul>
	<li>Yellow Tang Article<span>2/08/2013</span></li>
	<li>Articles Posted in Shopping cart<span>2/06/2013</span></li>
	<li>Articles Posted in Shopping cart<span>2/02/2013</span></li>
	<li>Articles Posted in Shopping cart<span>2/02/2013</span></li>
	<li>Articles Posted in Shopping cart<span>2/02/2013</span></li>
	</ul>
	<div class="clr"><div class="read_more"><a href="#">readmore</a></div></div>
	</div>
</div>
<div class="table_middle" >&nbsp;</div>
<div class="table_right">
<div class="gray_bg">Customer Reviews</div>
	<div class="item_list">
	<ul>
	<li>Review Yellow Tang<span>2/08/2013</span></li>
	<li>Reviews Posted In shopping cart<span>2/08/2013</span></li>
	<li>Reviews Posted In shopping cart<span>2/06/2013</span></li>
	<li>Reviews Posted In shopping cart<span>2/06/2013</span></li>
	<li>Reviews Posted In shopping cart<span>2/06/2013</span></li>
	</ul>
	<div class="clr"><div class="read_more"><a href="#">readmore</a></div></div>
	</div>	
</div>
<div class="clr"></div>
</div>

<div class="clr" style="padding-top:20px;">
<div class="table_left">
<div class="gray_bg">Video Links</div>
	<div class="item_list">
	<ul>
	<li>
	Video Updated Link Updated By the Admin<br />
	Video Updated Link Updated By the Admin<br />
	Video Updated Link Updated By the Admin<br />
	Video Updated Link Updated By the Admin<br />
	Video Updated Link Updated By the Admin<br />
	</li>
	</ul>
	<div class="clr"><div class="read_more"><a href="#">readmore</a></div></div>
	</div>
</div>
<div class="table_middle" >&nbsp;</div>
<div class="table_right">
<img src="images2/fish_img1.jpg" border="0" />
</div>
<div class="clr"></div>
</div>

<div class="clr" style="padding-top:20px;">
<div class="table_left">
	<div class="gray_bg">Message Board</div>
	<div class="item_list">
	<ul>
	<li>
	Messenger API  if available will post here The  osts will run down the page depending  How
the nformation is parsed to the shopping Cart.  We are not aware of any API for such now. Scott is working with Dan Gill
	</li>
	</ul>
	<div class="clr"><div class="read_more"><a href="#">readmore</a></div></div>
	</div>
</div>
<div class="table_middle" >&nbsp;</div>
<div class="table_right">
	<div class="gray_bg">Deep Blue Seas</div>
	<div class="item_list">
	<ul>
	<li>
	The Deep Blue Seas Foundation is a non-profit 
foundation established by Saltwaterfish.com to provide scholarships to the children of the fishermen where our livestock is collected.<br />
<br />
	</li>
	</ul>
	<div class="clr"><div class="read_more"><a href="#">readmore</a></div></div>
	</div>
</div>
<div class="clr"></div>
</div>

<div class="clr" style="padding-top:20px;">
<div class="table_left">
	<div class="gray_bg">Reef Rewards</div>
	<div class="item_list">
	<ul>
	<li>
	With your Marine Life purchase, you will accrueSaltWaterFish Reef Rewards Points. With every qualifying purchase, you will get Reef Reward points. You can redeem these points for FREE merchandise<br /><br /><br />

	</li>
	</ul>
	<div class="clr"><div class="read_more"><a href="#">readmore</a></div></div>
	</div>
</div>
<div class="table_middle" >&nbsp;</div>
<div class="table_right">
	<div class="gray_bg">Acclimation</div>
	<div class="item_list">
	<ul>
	<li>
	A tremendous amount of time and effort tretching across the globe has gone into bringing these living works of art into your home, so please take the time to read and use the Acclimation rocedure on this website. We cannot stress enough how important it is that you follow the altwaterfish.com Acclimation Drip Method.
	</li>
	</ul>
	<div class="clr"><div class="read_more"><a href="#">readmore</a></div></div>
	</div>
</div>
<div class="clr"></div>
</div>

<div class="clr" style="padding-top:20px;">
<div class="table_left"><img src="images2/fish_img2.jpg" width="333" height="151" border="0" /></div>
<div class="table_middle" >&nbsp;</div>
<div class="table_right">
	<div class="gray_bg">15 Day Live Guarantee</div>
	<div class="item_list">
	<ul>
	<li>
	If your marine life purchase dies within 15 days of the shipping date, Saltwaterfish.com will issue you a store credit for a future marine life purchase.<br /><br />

</li>
	</ul>
	<div class="clr"><div class="read_more"><a href="#">readmore</a></div></div>
	</div>
</div>
<div class="clr"></div>
</div>

<div class="clr" style="padding-top:20px;">
<div class="table_left">
	<div class="gray_bg">Lowest Shipping Rate</div>
	<div class="item_list">
	<ul>
	<li>
	Saltwaterfish.com uses FedEx to ship your fish, 
inverts, corals and aquarium supplies to your door! We take the utmost care to insure that your order is packed and shipped as soon as possible and it gets to you with all of its precious cargo ready to be acclimated to your tank.
	</li>
	</ul>
	<div class="clr"><div class="read_more"><a href="#">readmore</a></div></div>
	</div>	
</div>
<div class="table_middle" >&nbsp;</div>
<div class="table_right">
	<div class="gray_bg">Free Shipping Store</div>
	<div class="item_list">
	<ul>
	<li>
	ntroducing our FREE SHIPPING STORE.  It's a 
whole new way to buy Marine Life and save a 
bundle in the process.Simply purchase $89.99 
or more from this category and you will receive
FREE SHIPPING on your ENTIRE ORDER!<br /><br />
	</li>
	</ul>
	<div class="clr"><div class="read_more"><a href="#">readmore</a></div></div>
	</div>
</div>
<div class="clr"></div>
</div>

</div>



<div class="clr"></div>


</div>
</div>
</body>
</html>
