{% extends 'base.html' %}
{% block content %}
 <style>
body {
    color: #434343;
    font-family: 'Open Sans',sans-serif; 
    font-size: 12px !important;
    line-height: 20px;
}
.content-label {
    color: #000000;
    font-family: "PT Sans";
    font-size: 12px;
    font-weight: bold;
    line-height: normal;
    text-align: right;
    text-decoration: none;
    text-transform: capitalize;
    width: 100px;
}
</style>

{% load tagsfilter %}
 
<div class="wid748 float-left">
<div class="height12 clr"></div>
<div  class="  clr">
  <div class="container">
 
<div class="home-txt padleft10 padbottom10 clr"><a href="/" class="home-txt">Home</a> <span class="home-txt-arrow">&gt; </span> <a href="/termsconditions" class="home-txt">Terms and Conditions </a></div>
<div class="orange-txt padleft10 clr">POLICIES, TERMS AND CONDITIONS:<br></div>
<!--image starts-->
<div class="padtop5 padleft10 clr" align=left>
<div class="clr myaccount_bg " style="height:100% !important;">
<div style="clear:both; width:700px; height:1px; line-height:1px; " >
 </div>
  <div class="clr padtop5 padleft10 padbottom20 padright5" align="justify"  >
 <table width="100%" cellspacing="4" cellpadding="0" border="0">
				<!--START: feeds_index_link-->
				<tbody><tr>
					<td><a href="#1">Privacy</a></td>
				</tr>
				
				<tr>
					<td><a href="#2">Privacy on Other Web Sites</a></td>
				</tr>
				
				<tr>
					<td><a href="#3">Order Acceptance Policy</a></td>
				</tr>
				
				<tr>
					<td><a href="#4">Credit Cards</a></td>
				</tr>
				
				<tr>
					<td><a href="#6">Shipping Policy </a></td>
				</tr>
				
				<tr>
					<td><a href="#7">Out-of-Stock Products</a></td>
				</tr>
				
				<tr>
					<td><a href="#8">Multiple Product Orders</a></td>
				</tr>
				
				<tr>
					<td><a href="#9">Taxes</a></td>
				</tr>
				
				<tr>
					<td><a href="#10">Returns</a></td>
				</tr>
				
				<tr>
					<td><a href="#11">Typographical Errors</a></td>
				</tr>
				
				<tr>
					<td><a href="#12">Links </a></td>
				</tr>
				
				<tr>
					<td><a href="#13">Copyright and Trademark Notice</a></td>
				</tr>
				
				<tr>
					<td><a href="#14">Other Conditions</a></td>
				</tr>
				<!--END: feeds_index_link-->
			</tbody></table>
			<table width="100%" border="0" cellspacing="1" cellpadding="0">
				<!--START: feedblock-->
				<tbody><tr>
					<td><table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tbody><tr>
								<td class="data" width="70%"><a name="1"><strong>Privacy</strong></a></td>
								<td class="item" align="right">&nbsp;4/6/2006 &nbsp;by&nbsp;
									<!--START: feed_author--><!--END: feed_author--></td>
							</tr>
							<tr>
								<td align="left" class="data" colspan="2">We keep your personal information private and secure. When you make a purchase from our site, you provide your name, email address, credit card information, address, phone number, and a password. We use this information to process your orders, to kee</td>
							</tr>
							<!--START: feed_description-->
							<tr>
								<td align="right" class="data" colspan="2"><a href="Privacy_df_1.html">More Info</a></td>
							</tr>
							<!--END: feed_description-->
						</tbody></table></td>
				</tr>
				<tr>
					<td><hr></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
				</tr>
				
				<tr>
					<td><table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tbody><tr>
								<td class="data" width="70%"><a name="2"><strong>Privacy on Other Web Sites</strong></a></td>
								<td class="item" align="right">&nbsp;4/6/2006 &nbsp;by&nbsp;
									<!--START: feed_author--><!--END: feed_author--></td>
							</tr>
							<tr>
								<td align="left" class="data" colspan="2">Other sites accessible through our site have their own privacy policies and data collection practices. Please consult each site's privacy policy.&nbsp;Our Store is not responsible for the actions of third parties.</td>
							</tr>
							<!--START: feed_description-->
							<tr>
								<td align="right" class="data" colspan="2"><a href="Privacy-on-Other-Web-Sites_df_2.html">More Info</a></td>
							</tr>
							<!--END: feed_description-->
						</tbody></table></td>
				</tr>
				<tr>
					<td><hr></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
				</tr>
				
				<tr>
					<td><table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tbody><tr>
								<td class="data" width="70%"><a name="3"><strong>Order Acceptance Policy</strong></a></td>
								<td class="item" align="right">&nbsp;4/6/2006 &nbsp;by&nbsp;
									<!--START: feed_author--><!--END: feed_author--></td>
							</tr>
							<tr>
								<td align="left" class="data" colspan="2">Your receipt of an electronic or other form of order confirmation does not signify our acceptance of your order, nor does it constitute confirmation of our offer to sell. Saltwaterfish.com reserves the right at any time after receipt of your order to</td>
							</tr>
							<!--START: feed_description-->
							<tr>
								<td align="right" class="data" colspan="2"><a href="Order-Acceptance-Policy_df_3.html">More Info</a></td>
							</tr>
							<!--END: feed_description-->
						</tbody></table></td>
				</tr>
				<tr>
					<td><hr></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
				</tr>
				
				<tr>
					<td><table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tbody><tr>
								<td class="data" width="70%"><a name="4"><strong>Credit Cards</strong></a></td>
								<td class="item" align="right">&nbsp;4/6/2006 &nbsp;by&nbsp;
									<!--START: feed_author--><!--END: feed_author--></td>
							</tr>
							<tr>
								<td align="left" class="data" colspan="2">We accept the following credit cards: Visa, MasterCard, American Express, and Discover. There is no surcharge for using your credit card to make purchases. Please be sure to provide your exact billing address and telephone number (i.e. the address an</td>
							</tr>
							<!--START: feed_description-->
							<tr>
								<td align="right" class="data" colspan="2"><a href="Credit-Cards_df_4.html">More Info</a></td>
							</tr>
							<!--END: feed_description-->
						</tbody></table></td>
				</tr>
				<tr>
					<td><hr></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
				</tr>
				
				<tr>
					<td><table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tbody><tr>
								<td class="data" width="70%"><a name="6"><strong>Shipping Policy </strong></a></td>
								<td class="item" align="right">&nbsp;4/6/2006 &nbsp;by&nbsp;
									<!--START: feed_author--><!--END: feed_author--></td>
							</tr>
							<tr>
								<td align="left" class="data" colspan="2">Shipping Time -- Orders are shipped in the order they are received, unless a specific day is specified.    Orders are not processed or shipped on Saturday or Sunday.  Our Standard Shipping days are Monday through Friday.  Saturday arrival of Marine L</td>
							</tr>
							<!--START: feed_description-->
							<tr>
								<td align="right" class="data" colspan="2"><a href="Shipping-Policy-_df_6.html">More Info</a></td>
							</tr>
							<!--END: feed_description-->
						</tbody></table></td>
				</tr>
				<tr>
					<td><hr></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
				</tr>
				
				<tr>
					<td><table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tbody><tr>
								<td class="data" width="70%"><a name="7"><strong>Out-of-Stock Products</strong></a></td>
								<td class="item" align="right">&nbsp;4/6/2006 &nbsp;by&nbsp;
									<!--START: feed_author--><!--END: feed_author--></td>
							</tr>
							<tr>
								<td align="left" class="data" colspan="2">Occasionally a product will not be in stock through our automated inventory system.  We will ship your order if 75% of the retail value of the shipment is available to ship.  We will attempt to contact you regarding your shipment if there is an issue</td>
							</tr>
							<!--START: feed_description-->
							<tr>
								<td align="right" class="data" colspan="2"><a href="Out-of-Stock-Products_df_7.html">More Info</a></td>
							</tr>
							<!--END: feed_description-->
						</tbody></table></td>
				</tr>
				<tr>
					<td><hr></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
				</tr>
				
				<tr>
					<td><table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tbody><tr>
								<td class="data" width="70%"><a name="8"><strong>Multiple Product Orders</strong></a></td>
								<td class="item" align="right">&nbsp;4/6/2006 &nbsp;by&nbsp;
									<!--START: feed_author--><!--END: feed_author--></td>
							</tr>
							<tr>
								<td align="left" class="data" colspan="2">If you place orders from multiple categories, they will be shipped separately.  Marine Life (including FastTrack Supplies), Live Rock, and Equipment and Supplies are all shipped separely via different shipping methods.  If you place multiple orders</td>
							</tr>
							<!--START: feed_description-->
							<tr>
								<td align="right" class="data" colspan="2"><a href="Multiple-Product-Orders_df_8.html">More Info</a></td>
							</tr>
							<!--END: feed_description-->
						</tbody></table></td>
				</tr>
				<tr>
					<td><hr></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
				</tr>
				
				<tr>
					<td><table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tbody><tr>
								<td class="data" width="70%"><a name="9"><strong>Taxes</strong></a></td>
								<td class="item" align="right">&nbsp;4/6/2006 &nbsp;by&nbsp;
									<!--START: feed_author--><!--END: feed_author--></td>
							</tr>
							<tr>
								<td align="left" class="data" colspan="2">Our Store shall automatically charge and withhold the applicable sales tax for orders to be delivered to addresses within our home state of Florida. For orders shipped to other states, you are solely responsible for all sales taxes or other taxes.</td>
							</tr>
							<!--START: feed_description-->
							<tr>
								<td align="right" class="data" colspan="2"><a href="Taxes_df_9.html">More Info</a></td>
							</tr>
							<!--END: feed_description-->
						</tbody></table></td>
				</tr>
				<tr>
					<td><hr></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
				</tr>
				
				<tr>
					<td><table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tbody><tr>
								<td class="data" width="70%"><a name="10"><strong>Returns</strong></a></td>
								<td class="item" align="right">&nbsp;4/6/2006 &nbsp;by&nbsp;
									<!--START: feed_author--><!--END: feed_author--></td>
							</tr>
							<tr>
								<td align="left" class="data" colspan="2">Due to the nature of the live animals that we sell, we cannot accept returns for any reason.  Please follow the Guarantee Request procedure if any livestock unfortunately dies during the guarantee period.  

Please contact us, or the manufacturer d</td>
							</tr>
							<!--START: feed_description-->
							<tr>
								<td align="right" class="data" colspan="2"><a href="Returns_df_10.html">More Info</a></td>
							</tr>
							<!--END: feed_description-->
						</tbody></table></td>
				</tr>
				<tr>
					<td><hr></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
				</tr>
				
				<tr>
					<td><table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tbody><tr>
								<td class="data" width="70%"><a name="11"><strong>Typographical Errors</strong></a></td>
								<td class="item" align="right">&nbsp;4/6/2006 &nbsp;by&nbsp;
									<!--START: feed_author--><!--END: feed_author--></td>
							</tr>
							<tr>
								<td align="left" class="data" colspan="2">In the event a product is listed at an incorrect price due to typographical error or error in pricing information received from our suppliers, Our Store shall have the right to refuse or cancel any orders placed for product listed at the incorrect pr</td>
							</tr>
							<!--START: feed_description-->
							<tr>
								<td align="right" class="data" colspan="2"><a href="Typographical-Errors_df_11.html">More Info</a></td>
							</tr>
							<!--END: feed_description-->
						</tbody></table></td>
				</tr>
				<tr>
					<td><hr></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
				</tr>
				
				<tr>
					<td><table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tbody><tr>
								<td class="data" width="70%"><a name="12"><strong>Links </strong></a></td>
								<td class="item" align="right">&nbsp;4/6/2006 &nbsp;by&nbsp;
									<!--START: feed_author--><!--END: feed_author--></td>
							</tr>
							<tr>
								<td align="left" class="data" colspan="2">This site may contain links to other sites on the Internet that are owned and operated by third parties. You acknowledge that we're not responsible for the operation of or content located on or through any such site. </td>
							</tr>
							<!--START: feed_description-->
							<tr>
								<td align="right" class="data" colspan="2"><a href="Links-_df_12.html">More Info</a></td>
							</tr>
							<!--END: feed_description-->
						</tbody></table></td>
				</tr>
				<tr>
					<td><hr></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
				</tr>
				
				<tr>
					<td><table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tbody><tr>
								<td class="data" width="70%"><a name="13"><strong>Copyright and Trademark Notice</strong></a></td>
								<td class="item" align="right">&nbsp;4/6/2006 &nbsp;by&nbsp;
									<!--START: feed_author--><!--END: feed_author--></td>
							</tr>
							<tr>
								<td align="left" class="data" colspan="2">Unless otherwise specified, all materials appearing on this site, including the text, site design, logos, graphics, icons, and images, as well as the selection, assembly and arrangement thereof, are the sole property of Saltwaterfish.com., Copyright </td>
							</tr>
							<!--START: feed_description-->
							<tr>
								<td align="right" class="data" colspan="2"><a href="Copyright-and-Trademark-Notice_df_13.html">More Info</a></td>
							</tr>
							<!--END: feed_description-->
						</tbody></table></td>
				</tr>
				<tr>
					<td><hr></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
				</tr>
				
				<tr>
					<td><table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tbody><tr>
								<td class="data" width="70%"><a name="14"><strong>Other Conditions</strong></a></td>
								<td class="item" align="right">&nbsp;4/6/2006 &nbsp;by&nbsp;
									<!--START: feed_author--><!--END: feed_author--></td>
							</tr>
							<tr>
								<td align="left" class="data" colspan="2">These Conditions will supersede any terms and/or conditions you include with any purchase order, regardless of whether Saltwaterfish.com signs them or not. We reserve the right to make changes to this site and these Conditions at any time.</td>
							</tr>
							<!--START: feed_description-->
							<tr>
								<td align="right" class="data" colspan="2"><a href="Other-Conditions_df_14.html">More Info</a></td>
							</tr>
							<!--END: feed_description-->
						</tbody></table></td>
				</tr>
				<tr>
					<td><hr></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
				</tr>
				<!--END: feedblock-->
			</tbody></table>
</div>
 </div>
</div>
 </div></div></div>
<div class="float-left width10"></div>

</div>
{% endblock content %}