{% extends 'base.html' %}
{% block content %}
<link type="text/css" rel="stylesheet" href="/misc/category.css" />
<style>
body {
    color: #434343;
    font-family: 'Open Sans',sans-serif; 
    font-size: 12px !important;
    line-height: 20px;
}
.content-label {
    color: #000000;
    font-family: "PT Sans";
    font-size: 12px;
    font-weight: bold;
    line-height: normal;
    text-align: right;
    text-decoration: none;
    text-transform: capitalize;
    width: 100px;
}
</style>
{% load tagsfilter %}
<div class="float-left width10">&nbsp;&nbsp;</div>
<div class="float-left wid748 padtop5">
 <div class="clr my_account_title padtop5 padbottom13">RECENT ORDERS </div>
<div class="clr myaccount_bg1">
 
{% include 'myaccount_links.htm' %}
<div class="clr">&nbsp;&nbsp;</div>
  
 {% if product_list %}
<table width="700" border="0" cellpadding="3" cellspacing="1" bgcolor="#EFEFEF">
  <tr style='background-image: url("/misc/images/content_menu.jpg");height: 31px;'>
     <td width="100"><b>Id</b></td>
    <td width="170"><b>Dept</b></td>
    <td width="300"><b>Subject</b></td>
    <td width="100"><b>Status</b></td>
	<td width="120"><b>Last Action</b></td>
  </tr>
{% for item in product_list %}
	<tr bgcolor="#FFFFFF"><td align=left><a href="/editrequestform?crmid={{item.id}}">{{item.id}}</a></td> 
	<td>{% for dep in item.departmentid|crmdepartment %} {{dep.department}} {% endfor %}</td>
	<td><a href="/editrequestform?crmid={{item.id}}">{{item.subject}}</a></td>
	<td>
	{% for dep in item.status|crmstatus %} {{dep.statustext}} {% endfor %}
	</td>
	<td>{% for dep in item.id|crmlastmessage %} {%if dep.sender == 1 %}Customer {%else%} Staff{% endif %} {% endfor %}</td></tr>
{% endfor %}
</table>
{% endif %}

 
 </div>
</div>






<div class="float-left wid10"></div>

</div>
 

{% endblock content %}