<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<style type="text/css">
<!--
.style1 {
	font-family: Geneva, Arial, Helvetica, sans-serif, "Open Sans Light";
	font-size: 17px;
	line-height: normal;
	font-weight: normal;
	text-transform: capitalize;
	color: #000000;
	text-decoration: none;
	width:550px;
	background-color:#CCFFFF;
	color:#003366
}
-->
</style>
</head>

<body><div class="style1" align="center"> <table width="100%" border="0" cellspacing="5" cellpadding="5"  >
  <tr>
    <td colspan="2" align="left" valign="middle" style=""><strong>Bio-Data</strong></td>
  </tr>
  <tr>
    <td align="left" valign="middle">Name:</td>
    <td align="left" valign="middle">A.Indumathi</td>
  </tr>
  <tr>
    <td align="left" valign="middle">Date Of Birth:</td>
    <td align="left" valign="middle">08.10.1985</td>
  </tr>
  <tr>
    <td align="left" valign="middle">Time of Birth:</td>
    <td align="left" valign="middle">08.30 pm</td>
  </tr>
  <tr>
    <td align="left" valign="middle">Father's Name:</td>
    <td align="left" valign="middle">P.Anandan</td>
  </tr>
  <tr>
    <td align="left" valign="middle">Graduation</td>
    <td align="left" valign="middle">B.tech/Information Technology</td>
  </tr>
  <tr>
    <td align="left" valign="middle">Occupation:</td>
    <td align="left" valign="middle">Working As a Web Developer For a Private concern</td>
  </tr>
  <tr>
    <td align="left" valign="middle">Father's Occupation:</td>
    <td align="left" valign="middle">Agent In Real Estate</td>
  </tr>
   <tr>
    <td align="left" valign="middle">Mother's Name:</td>
    <td align="left" valign="middle">Expired(living with step Mom)</td>
  </tr>
  
  <tr>
    <td align="left" valign="middle">Siblings:</td>
    <td align="left" valign="middle">None</td>
  </tr>
  <tr>
    <td align="left" valign="middle">Residencial Address:</td>
    <td align="left" valign="middle">No.6 Dr. M varadarasan Street R.G. N nagar Redhills Chennai-52</td>
  </tr>
  <tr>
    <td align="left" valign="middle">Phone:</td>
    <td align="left" valign="middle">9884596155</td>
  </tr>
  <tr>
    <td align="left" valign="middle">Zodiac Sign:</td>
    <td align="left" valign="middle">Cancer</td>
  </tr>
  <tr>
    <td align="left" valign="middle">Star</td>
    <td align="left" valign="middle">Poosam</td>
  </tr>


  
</table>
</div>
</body>
</html>
