{% extends 'base.html' %}
{% block content %}
<link type="text/css" rel="stylesheet" href="/misc/category.css" />
<style>
.content-label {
    color: #000000;
    font-family: "PT Sans";
    font-size: 12px;
    font-weight: bold;
    line-height: normal;
    text-align: right;
    text-decoration: none;
    text-transform: capitalize;
    width: 100px;
}
</style>
{% load tagsfilter %}
<div class="float-left width10">&nbsp;&nbsp;</div>
<div class="float-left wid748 padtop5">
<div class="clr my_account_link padbottom13"><span><a href="/">Home</a> &gt; <a href="/myaccount">My Account</a></span><span> &gt; My Waiting List </span></div>
 <div class="clr my_account_title padtop5 padbottom13">MY WAITING LIST </div>
<div class="clr myaccount_bg1">
 
{% include 'myaccount_links.htm' %}
<div class="clr">&nbsp;&nbsp;</div>
<div class="clr"> 
 
 {% if product_list %}
<table width="700" border="0" cellpadding="3" cellspacing="1" bgcolor="#EFEFEF">
  <tr style='background-image: url("/misc/images/content_menu.jpg");height: 31px;'>
    <td width="73">&nbsp;</td>
    <td width="300">Item Name</td>
    <td width="100">Price</td>
    <td width="90">Action</td>
	<td width="100">Add to Cart </td>
  </tr>
{% for item in product_list %}
	<tr bgcolor="#FFFFFF"><td align=center><a href="/product?pid={{ item.catalogid }}"><img src='http://commondatastorage.googleapis.com/swf_product_images/{{ item.thumbnail|strreplace:"assets/images/" }}' width="55" height="55" /></td><td><a href="/product?pid={{ item.catalogid }}">{{item.name}}</a></td><td>${{item.price|floatformat:"2"}}</td><td><a href='/deletewishlist?wsh_id={{item.id}}&catalogid={{item.catalogid}}' onclick="javascript: return confirm('Are you sure you want to delete this item ?');"><font color=blue>Delete</font></a></td><td>
	
 	{% if item.stock >= 1 %}
					<div class="blue-button "><a href="##"  class="pop1" id="/addtocart?item_id={{ item.catalogid }}">Add to Tank</a></div>
				{% else %}
						{% if request.session.IsLogin %}
							<div class="wish-button "><a href="##" id="/addtowatchlist?itemid={{item.catalogid}}&name=" class="pop1">Waiting List</a></div>
						{% else %}
							<div class="wish-button"><a id="/waitpopup?itemid={{ item.catalogid }}" href="#" class="pop1">Waiting List</a></div>
							 
						{% endif %}
					 
				{% endif %}
	</td></tr>

{% empty %}
	<em class="formee-req">No Records</em>
{% endfor %}
</table>
{%else%}
<em class="formee-req">No Records</em>
{% endif %}

 
</div> 
</div>





</div>
<div class="float-left wid10"></div>

</div>
 
{%comment%} 
<div class="width10 float-left">&nbsp;&nbsp;</div>
<div class="wid748 float-left">
<div class="height12 clr"></div>
<div  class=" clr">
<div>
<div class="clr pad-tb product-align1 marleft10 master-link">My Wish List Itemsssss</div>
{% if error_message %}
  <b>{{ error_message }} </b>
{% endif %}
{% if message %}
  <b>{{ message }} </b>
{% endif %}
{% if product_list %}
<table width="748" border="0" cellpadding="3" cellspacing="1" bgcolor="#EFEFEF">
  <tr>
    <td width="73">&nbsp;</td>
    <td width="500">Item Name</td>
    <td width="100">Price</td>
    <td width="90">Action</td>
	<td width="100">Add to Cart </td>
  </tr>
{% for item in product_list %}
	<tr bgcolor="#FFFFFF"><td align=center><img src="{{item.thumbnail}}" width="55" height="55" /></td><td>{{item.name}}</td><td>${{item.price|floatformat:"2"}}</td><td><a href='/deletewishlist?wsh_id={{item.id}}&catalogid={{item.catalogid}}' onclick="javascript: return confirm('Are you sure you want to delete this item ?');">Delete</a></td><td>
	<div class="blue-button"><a href="/addtocart?item_id={{ item.catalogid }}">Add to Tank</a></div>
	
	</td></tr>
{% endfor %}
</table>
{% endif %}
</div>
 <div class="clr"></div>
</div>

 


</div>

<div class="float-left"></div></div>
{%endcomment%}
{% endblock content %}