body {
	background-color: #FFFFFF;
	background-position: left top;
	background-repeat: repeat;
	margin:0px auto;
}
/*  Edit Orders Page */
.edit_wrap{
	width:827px;
	clear:both;
	margin:0px auto;
}
.txt1{
	font-family: "Open Sans", Arial;
	font-size: 10px;
	color: #434343;
	text-decoration: none;
}
.edit_title{
	font-family: "Open Sans", Arial;
	font-size: 18px;
	color: #434343;
	text-decoration: none;
	font-weight:600;
}
.edit_search{
	width:198px;
	height:30px;
	border:solid 1px #a5a5a5;
}
.edit_search input[type="text"]{
	border:none;
	width:134px;
}
.edit_search input[type="submit"]{
	background-color:#e8e8e8;
	background-repeat:repeat;
	background-position:left top;
	font-family: "Open Sans", Arial;
	font-size: 12px;
	color: #434343;
	text-decoration: none;
	font-weight:600;
	width:65px;
	float:right;
	height:30px;
	outline:none;
	border-left:solid 1px #a5a5a5;
}
.edit_wrap .status{
	background-color:#f7f7f7;
	background-repeat:repeat;
	background-position:left top;
	font-family: "Open Sans", Arial;
	font-size: 13px;
	color: #434343;
	text-decoration: none;
	font-weight:600;
	width:120px;
	float:right;
	height:21px;
	outline:none;
	border:solid 1px #e3e3e3;	
	
}
.hor_line{
	background-color:#dedede;
	background-repeat:repeat;
	background-position:left top;
	height:1px;
}

.txt2{
	font-family: "Open Sans", Arial;
	font-size: 20px;
	color: #434343;
	text-decoration: none;
}
.txt2 span{color: #000000;}
.save_btn{
	background-color:#868686;
	background-repeat:repeat;
	background-position:left top;
	width:116px;
	height:21px;
	font-family: "Open Sans", Arial;
	font-size: 12px;
	color: #434343;
	text-decoration: none;
	font-weight:bold;
	float:right;
	color:#ffffff;
}
.order_date{
	background-color:#e8e8e8;
	background-repeat:repeat;
	background-position:left top;
	height:22px;
}
.txt3{
	font-family: "Open Sans", Arial;
	font-size: 13px;
	color: #000000;
	text-decoration: none;
}
.txt3 span{font-size:12px;}
.edit_wrap .label_color{
	background-color:#f7f7f7;
	background-repeat:repeat;
	background-position:left top;
	font-family: "Open Sans", Arial;
	font-size: 13px;
	color: #434343;
	text-decoration: none;
	font-weight:600;
	width:57px;
	float:right;
	height:21px;
	outline:none;
	border:solid 1px #e3e3e3;	
}
.billing_bg{
	background-image: url(images//billing_bg.png);
	background-repeat: repeat-x;
	background-position: left top;
	height:27px;
	border:solid 1px #cbcbcb;
	font-family: "Open Sans", Arial;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	font-weight:bold;
}
.edit_btn{
	background-color:#9a9a9a;
	background-repeat:repeat;
	background-position:left top;
	width:38px;
	height:16px;
	font-family: "Open Sans", Arial;
	font-size: 12px;
	color: #ffffff;
	text-decoration: none;
	font-weight:bold;
	border:solid 1px #808080;
	float:right;
	text-align:center;
	margin-top:5px;
	margin-right:7px;
}
.txt4{
	font-family: "PT Sans", Arial;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
.txt5{
	font-family: "PT Sans", Arial;
	font-size: 12px;
	color: #434343;
	text-decoration: none;
}
.txt5 span{color: #000000; font-weight:bold;
}
.txt6{
	font-family: "PT Sans", Arial;
	font-size: 12px;
	color: #434343;
	text-decoration: none;
	border:solid 1px #e3e3e3;
	padding:2px 12px;
	background-color:#ffffff;
}
.txt7{
	font-family: "Open Sans", Arial;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	font-weight:bold;
	line-height:20px;
}
.txt7 span{
	color:#FF0000;
}
.txt8{	font-family: "Open Sans", Arial;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	font-weight:bold;
	}
.shipping_input{
	background-color:#f7f7f7;
	background-repeat:repeat;
	background-position:left top;
	width:56px;
	height:19px;
	border:solid 1px #ececec;
}
.shipping_input1{
	background-color:#f7f7f7;
	background-repeat:repeat;
	background-position:left top;
	width:90px;
	height:19px;
	border:solid 1px #ececec;
}
.cancel_create_btn{
	background-color:#9a9a9a;
	background-repeat:repeat;
	background-position:left top;
	width:227px;
	border:solid 1px #808080;
	color:#FFFFFF;
}
.update_btn{
	background-color:#9a9a9a;
	background-repeat:repeat;
	background-position:left top;
	width:86px;
	border:solid 1px #808080;
	color:#FFFFFF;
}
.add_btn{
	background-color:#9a9a9a;
	background-repeat:repeat;
	background-position:left top;
	width:146px;
	border:solid 1px #808080;
	color:#FFFFFF;
}
.save_comment{
	background-color:#9a9a9a;
	background-repeat:repeat;
	background-position:left top;
	width:118px;
	border:solid 1px #808080;
	color:#FFFFFF;
}
.clr{clear:both}
.text_area{
	background-color:#f7f7f7;
	background-repeat:repeat;
	background-position:left top;
	width:590px;
	height:58px;
	border:solid 1px #e3e3e3;
}
.text_area1{
	background-color:#f7f7f7;
	background-repeat:repeat;
	background-position:left top;
	width:590px;
	height:105px;
	border:solid 1px #e3e3e3;
}


/* Product Edit Page */
.hor_line1{
	background-color:#dedede;
	background-repeat:repeat;
	background-position:left top;
	height:2px;
}
.product_edit_txt{
	font-family:"Open Sans", Arial;
	font-size:24px;
	color:#000000;
	font-weight:600;
}
.gray_btn{
	background-color:#838383;
	background-position:left top;
	background-repeat:repeat;
	font-family:"Open Sans", Arial;
	font-size:14px;
	color:#ffffff;
	font-weight:bold;
}
.product_nav{
	width:613px; 
	height:40px; 
	background-color:#666666;
	background-repeat:repeat;
	background-position:left top;
	margin-top:10px;
}
.product_nav ul{ margin:0px; padding:0px;}
.product_nav ul li{
	list-style:none; 
	display:inline;
	font-family:"Open Sans", Arial;
	font-size:14px;
	color:#ffffff;
	font-weight:bold;
	text-decoration:none;
	line-height:40px;
	padding:10px 18px;
	border-right:solid 1px #a1a1a1;
	}
.product_nav ul li:last-child{
	border-right:none;
}
.product_info{
	background-color:#666666;
	background-repeat:repeat;
	background-position:left top;
	font-family:"Open Sans", Arial;
	font-size:18px;
	color:#ffffff;
	font-weight:bold;
	text-decoration:none;
	height:40px;
	margin-top:5px;
	padding-left:20px;
	line-height:40px;
}
.product_catelog{
	background-color:#eeeeee;
	background-repeat:repeat;
	background-position:left top;
	font-family:"Open Sans", Arial;
	font-size:15px;
	color:#434343;
	text-decoration:none;
	height:33px;
	padding-left:20px;
	line-height:33px;
}
.product_catelog span{ 
	font-weight:bold;
	color:#000000;
}

.product_article{
	font-family:"Open Sans", Arial;
	font-size:15px;
	font-weight:bold;
	color:#000000;
	text-decoration:none;
	height:86px;
	padding-left:0px;
	line-height:86px;
	padding-left:40px;
	padding-top:10px;
	padding-right:10px
}
.product_save{
	font-family:"Open Sans", Arial;
	font-size:15px;
	font-weight:bold;
	color:#000000;
	text-decoration:none;
	height:32px;
	line-height:32px;
	padding-left:0px;
	padding-left:40px;
	background-color:#efefef;
	background-image: url(../image/save-change.jpg);
	background-repeat: no-repeat;
	background-position: right center;
	width:751px;
	padding-left:40px;
	
}

.product_article_greybg{
	background-color: #f7f7f7;
	background-repeat: no-repeat;
	background-position: left top;
	min-height:125px;
	height:100%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #dedede;
	font-family:Arial, Helvetica, sans-serif;
	font-size:17px;
	color:#999;
	font-weight:bold;
	text-transform: capitalize;
	padding-left:10px;
	padding-top:10px;
	padding-right:10px
	
}

.product_article_whitebg{
	background-color: #ffffff;
	background-repeat: no-repeat;
	background-position: left top;
	min-height:125px;
	height:100%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #dedede;
	font-family:Arial, Helvetica, sans-serif;
	font-size:17px;
	color:#999;
	font-weight:bold;
	text-transform: capitalize;
	padding-left:10px;
	padding-top:10px;
	padding-right:10px
	
}
.product_article_edit{
	background-image: url(../image/edit.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	height:125px;
	line-height:125px

}

.product_txt1{
	font-family:"Open Sans", Arial;
	font-size:13px;
	color:#434343;
	text-decoration:none;
	font-weight:bold;
}
.product_input{
	border:solid 1px #e4e4e4;
	width:266px;
	height:22px;
	font-family:"Open Sans", Arial;
	font-size:13px;
	color:#434343;
	text-decoration:none;
}
.product_input1{
	border:solid 1px #e4e4e4;
	width:525px;
	height:22px;
	font-family:"Open Sans", Arial;
	font-size:13px;
	color:#434343;
	text-decoration:none;
}
.product_categories{
	background-image: url(images//product_bg1.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	height: 33px;
	font-family:"Open Sans", Arial;
	font-size:14px;
	color:#434344;
	text-decoration:none;
	font-weight:bold;
	line-height:33px;
	padding-left:10px;
}
.product_text_area{	
	border:solid 1px #dddddd;
	width:652px;
	font-family:"Open Sans", Arial;
	font-size:13px;
	color:#434343;
	text-decoration:none;
	font-weight:600;
	height:107px;
	padding-left:10px;
	padding-top:10px;
}
.product_txt2{
	font-family:"Open Sans", Arial;
	font-size:13px;
	color:#434343;
	text-decoration:none;
	font-weight:600;
	text-align:center;
}
.border_txt{
	font-family:"Open Sans", Arial;
	font-size: 12px;
	color: #434344;
	text-decoration: none;
	border:solid 1px #e3e3e3;
	padding:2px 12px;
}
.product_chkbox{
	border:solid 1px #cbcbcb;
	background-color:#e7e7e7;
	background-position:left top;
	background-repeat:repeat;
	outline:none;
}
.product_txt3{
	font-family:"Open Sans", Arial;
	font-size:13px;
	color:#434343;
	text-decoration:none;
	font-weight:600;
	text-align:left;
}
.product_select{	
	border:solid 1px #dddddd;
	width:343px;
	font-family:"PT Sans", Arial;
	font-size:13px;
	color:#434344;
	text-decoration:none;
	padding-left:10px;
	padding-top:5px;
}
.product_title_area{	
	border:solid 1px #dddddd;
	width:770px;
	font-family:"Open Sans", Arial;
	font-size:13px;
	color:#434343;
	text-decoration:none;
	font-weight:600;
	height:75px;
	padding-left:10px;
	padding-top:10px;
}
.product_description_area{	
	border:solid 1px #dddddd;
	width:770px;
	font-family:"PT Sans", Arial;
	font-size:14px;
	color:#434343;
	text-decoration:none;
	font-weight:regular;
	height:265px;
	padding-left:10px;
	padding-top:10px;
}
.product_custom_area{	
	border:solid 1px #dddddd;
	width:695px;
	font-family:"PT Sans", Arial;
	font-size:14px;
	color:#434343;
	text-decoration:none;
	font-weight:regular;
	height:92px;
	padding-left:10px;
	padding-top:10px;
}
.product_name_input{	
	border:solid 1px #dddddd;
	width:266px;
	font-family:"Open Sans", Arial;
	font-size:14px;
	color:#434343;
	text-decoration:none;
	font-weight:regular;
	height:22px;
}

/*  Quick List Page */

#tab-wrapper{
	height: auto;
	width: 1000px;
	margin:0px auto;
}
.wrapper-left{ float:left; width:745px; background-color:#fff; }
.wrapper-right{ float:left; width:180px; margin-top:560px; margin-left:-18px;}
.feature-bg{
	background-image: url(images//feature-bg.png);
	background-repeat: no-repeat;
	background-position: left top;
	width:225px;
	height:45px;
	font-family: "Open Sans";
	font-size: 24px;
	color: #434343;
	line-height:45px;
	text-align:center;
	margin:0px auto;
}
.image-bg{
	float:left;
	width:215px;
	background-color: #ffcd80;
	background-image: url(images//quick-image-bg.jpg);
	background-repeat: repeat-x;
	background-position: left top;

}
.image-topic{
	font-family: "PT Sans";
	font-size: 16px;
	font-weight: bold;
	color: #235478;
	text-align:center;
	padding-top:20px;
}
.image-topic span{	
	font-family: "PT Sans";
	font-size: 13px;
	color: #434343;
}
.image-text{
	font-family: "PT Sans";
	font-size: 13px;
	color: #434343;
	float: left;
	margin-right:10px;
}
.image-text span{
	font-family: "PT Sans";
	font-size: 14px;
	font-weight: bold;
	color: #ec5e00;
}
.blue-button{
	background-image: url(images//add-to-tank.png);
	background-repeat: no-repeat;
	background-position: left top;
	height: 25px;
	width: 97px;
	float:left;
	font-family: "Open Sans";
	font-size:13px;
	font-weight: bold;
	color: #ffffff;
	line-height:25px;
	text-align:center;
	text-transform:uppercase;
}
.blue-button a:link{ color:#ffffff; text-decoration:none; }
.blue-button a:visited{ color:#ffffff; text-decoration:none; }
.blue-button a:hover{ color:#000; text-decoration:none; }
.blue-button a:active{ color:#ffffff; text-decoration:none; }

.hash-button{
	background-image: url(images//quick-more-bg.png);
	background-repeat: no-repeat;
	background-position: left top;
	float: right;
	height: 25px;
	width: 87px;
	font-family: "Open Sans";
	font-size: 12px;
	color: #434343;
	line-height:25px;
	text-align:center;
	margin-right:12px;
}
.hash-button a:link{ color: #434343; text-decoration:none; }
.hash-button a:visited{ color: #434343; text-decoration:none; }
.hash-button a:hover{ color:#000; text-decoration:none; }
.hash-button a:active{ color: #434343; text-decoration:none; }

.table-topicbg{
	background-image: url(images//anemones-bg.png);
	background-repeat: no-repeat;
	background-position: left top;
	height: 34px;
	width: 167px;
	font-family: "Open Sans";
	font-size: 18px;
	color: #434343;
	line-height:34px;
	text-align:center;
}
.table-topbg{
	background-image: url(images//quick-table-topbg.png);
	background-repeat: no-repeat;
	background-position: left top;
	height: 55px;
	width: 728px;
	font-family: "PT Sans";
	font-size: 13px;
	font-weight: bold;
	color: #434343;
	text-transform:uppercase;
	text-align:center;
}
.table-bg{
	background-color: #FFFFFF;
	background-image: url(images//quick-table-bg.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	width:728px;
	border:1px solid #d1d1d1;
	font-family: "Open Sans";
	font-size: 13px;
	color: #434343;
}
.table-text{
	font-family: "Open Sans";
	font-size: 13px;
	color: #434343;
}
.table-text span{ color: #ff2222; }
.table-text a:link{ color: #434343; }
.table-text a:visited{ color: #434343; }
.table-text a:hover{ color: #ff2222; }
.table-text a:active{ color: #434343; }

.wish-button{
	background-image:url(images//wish-list.png);
	background-repeat: no-repeat;
	background-position: left top;
	height: 25px;
	width: 99px;
	float:left;
	font-family: "Open Sans";
	font-size:14px;
	font-weight: bold;
	color: #434343;
	line-height:25px;
	text-align:center;
	text-transform:uppercase;
}
.wish-button a:link{ color: #434343; text-decoration:none; }
.wish-button a:visited{ color: #434343; text-decoration:none; }
.wish-button a:hover{ color: #000; text-decoration:none; }
.wish-button a:active{ color: #434343; text-decoration:none; }
